Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: auto-update data size [skip ci]
  public/csv/i904-24-206-smert.csv
Due: none

gha review
  .github/commands/gemini-invoke.toml
  .github/commands/gemini-plan-execute.toml
  .github/commands/gemini-review.toml
  .github/commands/gemini-scheduled-triage.toml
  .github/commands/gemini-triage.toml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-plan-execute.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .gitignore
Due: prettier --write

Update birth record details in YAML file
  data/records/DAViO-904-24-206-birth.yaml
Due: none

Add DAViO-904-24-206-marriage.yaml file
  data/records/DAViO-904-24-206-marriage.yaml
Due: none

Update title in DAViO-904-24-206-death.yaml
  data/records/DAViO-904-24-206-death.yaml
Due: none

Fix author name formatting in marriage.yaml
  data/records/DAViO-904-24-206-marriage.yaml
Due: none

Add record submission DASO-R7720-5-127
  data/records/DASO-R7720-5-127.yaml
  public/csv/DASO-R7720-5-127.csv
Due: none

Add record submission DASO-R7720-5-128
  data/records/DASO-R7720-5-128.yaml
  public/csv/DASO-R7720-5-128.csv
Due: none

Add record submission DASO-R7720-5-129
  data/records/DASO-R7720-5-129.yaml
  public/csv/DASO-R7720-5-129.csv
Due: none

Add record submission DASO-R7720-5-130
  data/records/DASO-R7720-5-130.yaml
  public/csv/DASO-R7720-5-130.csv
Due: none

Add record submission DAKhmO-315-1-8563-Dranka
  data/records/DAKhmO-315-1-8563-Dranka.yaml
  public/csv/DAKhmO-315-1-8563-Dranka.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Dranka.csv
Due: none

Add record submission dazho-1-76-89-luka
  data/records/dazho-1-76-89-luka.yaml
  public/csv/dazho-1-76-89-luka.csv
Due: none

Add record submission dazho-1-76-81-levkiv
  data/records/dazho-1-76-81-levkiv.yaml
  public/csv/dazho-1-76-81-levkiv.csv
Due: none

Add record submission dazho-1-76-81-kalynivka
  data/records/dazho-1-76-81-kalynivka.yaml
  public/csv/dazho-1-76-81-kalynivka.csv
Due: none

Add record submission DAKhmO-315-1-8563-Yukhymivka
  data/records/DAKhmO-315-1-8563-Yukhymivka.yaml
  public/csv/DAKhmO-315-1-8563-Yukhymivka.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Yukhymivka.csv
Due: none

Update and rename dazho-1-76-89-luka.yaml to DAZhO-1-76-89-Luka.yaml
  data/records/DAZhO-1-76-89-Luka.yaml
Due: none

fix Dranka authorship
  data/records/DAKhmO-315-1-8563-Dranka.yaml
Due: none

fix Levkiv location
  data/records/DAZhO-1-76-89-Levkiv.yaml
Due: none

Update YAML record with new ID and title
  data/records/dazho-1-76-81-levkiv.yaml
Due: none

Rename dazho-1-76-81-levkiv.yaml to DAZhO-1-76-81-Levkiv.yaml
  data/records/DAZhO-1-76-81-Levkiv.yaml
Due: none

Update title in DAZhO-1-76-81-Kalynivka.yaml
  data/records/DAZhO-1-76-81-Kalynivka.yaml
Due: none

Add record submission DAKhmO-315-1-8563-Zholoby
  data/records/DAKhmO-315-1-8563-Zholoby.yaml
  public/csv/DAKhmO-315-1-8563-Zholoby.csv
Due: none

Change tableLocale from 'uk' to 'ru'
  data/records/DAKhmO-315-1-8563-Zholoby.yaml
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Zholoby.csv
Due: none

Add record submission DASO-R720-5-131
  data/records/DASO-R720-5-131.yaml
  public/csv/DASO-R720-5-131.csv
Due: none

Add record submission DASO-R7720-5-132
  data/records/DASO-R7720-5-132.yaml
  public/csv/DASO-R7720-5-132.csv
Due: none

Add record submission DASO-R7720-5-134
  data/records/DASO-R7720-5-134.yaml
  public/csv/DASO-R7720-5-134.csv
Due: none

Update location coordinates and title in YAML file
  data/records/DASO-R7720-5-134.yaml
Due: none

Add record submission DASO-R7720-5-133
  data/records/DASO-R7720-5-133.yaml
  public/csv/DASO-R7720-5-133.csv
Due: none

Add record submission DASO-R7720-5-135
  data/records/DASO-R7720-5-135.yaml
  public/csv/DASO-R7720-5-135.csv
Due: none

refactor: use requestApi helper in project creation
  src/app/transcribe/create/page.module.css
  src/app/transcribe/create/page.tsx
Due: prettier --write, eslint --fix

refactor: move inline styles to CSS module
  src/app/transcribe/create/page.module.css
  src/app/transcribe/create/page.tsx
Due: prettier --write, eslint --fix

style: format imports
  src/app/transcribe/create/page.tsx
Due: prettier --write, eslint --fix

fix: address review
  src/app/helpers/generate-metadata.ts
  src/app/transcribe/components/logout-button.tsx
  src/app/transcribe/components/projects-list.tsx
  src/app/transcribe/components/user.tsx
  src/app/transcribe/login/page.tsx
  src/app/transcribe/services/api.ts
  src/server/src/app.ts
  src/server/src/database/create-project.ts
  src/server/src/handlers/handle-transcribe-auth-delete.ts
  src/server/src/handlers/handle-transcribe-auth-google.ts
  src/server/src/handlers/handle-transcribe-project-create.ts
Due: prettier --write, eslint --fix

fix: trust workspace
  .github/workflows/gemini-review.yml
Due: prettier --write

fix: increase review time
  .github/workflows/gemini-review.yml
Due: prettier --write

fix: allow tools
  .github/workflows/gemini-review.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
