Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: modularize project page and update opencode command settings
  .opencode/commands/commit.md
  .opencode/commands/draft.md
  .opencode/commands/lint-css.md
  .opencode/commands/lint.md
  .opencode/commands/refactor.md
  .opencode/commands/scaffold-test-server.md
  .opencode/commands/scaffold-test.md
  .opencode/commands/test-route.md
  .opencode/commands/test-server.md
  .opencode/commands/test.md
  src/app/components/index-table-cell.test.tsx
  src/app/components/search-results.tsx
  src/app/components/source-link.test.tsx
  src/app/components/source-link.tsx
  src/app/transcribe/project/page.tsx
  src/app/transcribe/workspace/_components/image-viewer.tsx
  src/app/transcribe/workspace/_components/page-name-form.tsx
  src/app/transcribe/workspace/_components/transcription-table.tsx
  src/app/transcribe/workspace/_hooks/use-image-transform.ts
  src/app/transcribe/workspace/_hooks/use-project-images.ts
  src/app/transcribe/workspace/_hooks/use-transcription-rows.ts
  src/app/transcribe/workspace/page.tsx
  vitest.setup.ts
Due: prettier --write, eslint --fix

feat: add specifications for workspace enhancements and enable lsp
  opencode.json
  specs/000-template.md
  specs/063-transcription-table-configuration.md
  specs/064-workspace-image-restore-index.md
  specs/065-workspace-page-name-guessing.md
  specs/066-transcription-table-add-row.md
  specs/067-transcription-table-ru-locale-substitution.md
  src/app/transcribe/project/page.tsx
  src/app/transcribe/workspace/_components/image-viewer.tsx
  src/app/transcribe/workspace/_components/page-name-form.tsx
  src/app/transcribe/workspace/_components/transcription-table.tsx
  src/app/transcribe/workspace/_helpers/guess-next-page-name.test.ts
  src/app/transcribe/workspace/_helpers/guess-next-page-name.ts
  src/app/transcribe/workspace/_hooks/use-project-images.ts
  src/app/transcribe/workspace/_hooks/use-transcription-rows.ts
  src/app/transcribe/workspace/page.module.css
  src/app/transcribe/workspace/page.test.tsx
  src/app/transcribe/workspace/page.tsx
Due: prettier --write, eslint --fix

feat(server): support local SQLite fallback for development
  README.md
  specs/068-local-sqlite-fallback.md
  src/server/.env.example
  src/server/package.json
  src/server/src/database/client.ts
  src/server/src/database/init.ts
  src/server/src/environment.ts
  src/server/yarn.lock
Due: prettier --write, eslint --fix

chore: remove github oauth client configuration and update setup documentation
  .github/workflows/main.yml
  README.md
  src/daily-report/.env.example
  src/server/.env.example
  src/server/src/environment.ts
Due: prettier --write, eslint --fix

chore: update environment configuration and setup instructions
  .env.example
  .gitignore
  README.md
  src/server/.env.example
Due: prettier --write

Add record submission DASO-R7720-5-171
  data/records/DASO-R7720-5-171.yaml
  public/csv/DASO-R7720-5-171.csv
Due: none

Add record submission DASO-R7720-5-172
  data/records/DASO-R7720-5-172.yaml
  public/csv/DASO-R7720-5-172.csv
Due: none

Add record submission DASO-R7720-5-173
  data/records/DASO-R7720-5-173.yaml
  public/csv/DASO-R7720-5-173.csv
Due: none

Add record submission DASO-R7720-5-174
  data/records/DASO-R7720-5-174.yaml
  public/csv/DASO-R7720-5-174.csv
Due: none

Add record submission DASO-R7720-5-175
  data/records/DASO-R7720-5-175.yaml
  public/csv/DASO-R7720-5-175.csv
Due: none

Add record submission DASO-R7720-5-176
  data/records/DASO-R7720-5-176.yaml
  public/csv/DASO-R7720-5-176.csv
Due: none

Add record submission DASO-R7720-5-177
  data/records/DASO-R7720-5-177.yaml
  public/csv/DASO-R7720-5-177.csv
Due: none

Add record submission DASO-R7720-5-178
  data/records/DASO-R7720-5-178.yaml
  public/csv/DASO-R7720-5-178.csv
Due: none

Add record submission DASO-R7720-5-179
  data/records/DASO-R7720-5-179.yaml
  public/csv/DASO-R7720-5-179.csv
Due: none

Add record submission DASO-R7720-5-180
  data/records/DASO-R7720-5-180.yaml
  public/csv/DASO-R7720-5-180.csv
Due: none

feat: add transcription table sizing spec and improve workspace components
  package.json
  specs/069-transcription-table-column-sizing.md
  src/app/transcribe/workspace/_components/page-name-form.module.css
  src/app/transcribe/workspace/_components/page-name-form.tsx
  src/app/transcribe/workspace/_components/transcription-table.module.css
  src/app/transcribe/workspace/_components/transcription-table.tsx
  src/app/transcribe/workspace/_hooks/use-transcription-rows.ts
  src/app/transcribe/workspace/page.module.css
  src/app/transcribe/workspace/page.tsx
Due: prettier --write, eslint --fix

feat(transcribe): implement wrapping and auto-expanding textareas in transcription table
  .opencode/commands/draft.md
  specs/070-transcription-table-wrapping-and-spacing.md
  specs/071-textarea-vertical-expansion.md
  src/app/transcribe/workspace/_components/transcription-table.module.css
  src/app/transcribe/workspace/_components/transcription-table.test.tsx
  src/app/transcribe/workspace/_components/transcription-table.tsx
Due: prettier --write, eslint --fix

feat(server): add transcription support to project image PATCH route
  .opencode/commands/test-route.md
  .opencode/commands/test-server.md
  .opencode/commands/test.md
  specs/072-image-transcription-patch.md
  src/server/src/database/find-project-image.ts
  src/server/src/database/update-project-image.ts
  src/server/src/handlers/handle-project-image-delete.test.ts
  src/server/src/handlers/handle-project-image-get.test.ts
  src/server/src/handlers/handle-project-image-patch.ts
Due: prettier --write, eslint --fix

feat: implement interval-based auto-save and window close preservation for transcription rows
  specs/073-transcription-auto-save.md
  src/app/transcribe/workspace/_hooks/use-transcription-rows.test.ts
  src/app/transcribe/workspace/_hooks/use-transcription-rows.ts
  src/app/transcribe/workspace/page.tsx
Due: prettier --write, eslint --fix

Add record submission dado-6508-9-77
  data/records/dado-6508-9-77.yaml
  public/csv/dado-6508-9-77.csv
Due: none

Add record submission tsdiak2005-1-208havrylivkaiziumskyipovitsr1800
  data/records/tsdiak2005-1-208havrylivkaiziumskyipovitsr1800.yaml
  public/csv/tsdiak2005-1-208havrylivkaiziumskyipovitsr1800.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/tsdiak2005-1-208havrylivkaiziumskyipovitsr1800.csv
Due: none

Add record submission yareshky-brovkivska-volost-skvyrskyi-povit
  data/records/yareshky-brovkivska-volost-skvyrskyi-povit.yaml
  public/csv/yareshky-brovkivska-volost-skvyrskyi-povit.csv
Due: none

Add record submission tsdiak-2005-1-201havrylivka1798narodzhennia
  data/records/tsdiak-2005-1-201havrylivka1798narodzhennia.yaml
  public/csv/tsdiak-2005-1-201havrylivka1798narodzhennia.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/tsdiak-2005-1-201havrylivka1798narodzhennia.csv
Due: none

Add record submission tsdiak-2005-1-201havrylivka1798smert
  data/records/tsdiak-2005-1-201havrylivka1798smert.yaml
  public/csv/tsdiak-2005-1-201havrylivka1798smert.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/tsdiak-2005-1-201havrylivka1798smert.csv
Due: none

Add record submission tsdiak-2005-1-201havrylivka1798shliub
  data/records/tsdiak-2005-1-201havrylivka1798shliub.yaml
  public/csv/tsdiak-2005-1-201havrylivka1798shliub.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/tsdiak-2005-1-201havrylivka1798shliub.csv
Due: none

Add record submission dakho-40-105-719ahavrylivka1804narodzhennia
  data/records/dakho-40-105-719ahavrylivka1804narodzhennia.yaml
  public/csv/dakho-40-105-719ahavrylivka1804narodzhennia.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/dakho-40-105-719ahavrylivka1804narodzhennia.csv
Due: none

Add record submission dakho-40-105-719ahavrylivka1804smert
  data/records/dakho-40-105-719ahavrylivka1804smert.yaml
  public/csv/dakho-40-105-719ahavrylivka1804smert.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/dakho-40-105-719ahavrylivka1804smert.csv
Due: none

Add record submission dakho-40-105-719ahavrylivka1804shliub
  data/records/dakho-40-105-719ahavrylivka1804shliub.yaml
  public/csv/dakho-40-105-719ahavrylivka1804shliub.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/dakho-40-105-719ahavrylivka1804shliub.csv
Due: none

Update title format in DADnO-R6508-9-77.yaml
  data/records/DADnO-R6508-9-77.yaml
Due: none

Rename TsDIAK-2005-1-208-Havrylivka.yaml file
  data/records/TsDIAK-2005-1-208-Havrylivka.yaml
Due: none

Add record submission dazho-1-76-81-kalynivkamerriage
  data/records/dazho-1-76-81-kalynivkamerriage.yaml
  public/csv/dazho-1-76-81-kalynivkamerriage.csv
Due: none

Fix title formatting in DADnO-R6508-9-77.yaml
  data/records/DADnO-R6508-9-77.yaml
Due: none

Add record submission dazho-1-76-89-lukamerriage
  data/records/dazho-1-76-89-lukamerriage.yaml
  public/csv/dazho-1-76-89-lukamerriage.csv
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
