Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: auto-update data size [skip ci]
  public/csv/DAKO-384-12-311.csv
Due: none

feat: pretty Wikisource name
  src/app/components/source-link.tsx
Due: prettier --write, eslint --fix

Add record submission DAKO-384-12-308
  data/records/DAKO-384-12-308.yaml
  public/csv/DAKO-384-12-308.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKO-384-12-308.csv
Due: none

Add record submission DAKrO-707-1-1
  data/records/DAKrO-707-1-1.yaml
  public/csv/DAKrO-707-1-1.csv
Due: none

Add record submission DAKrO-707-1-2
  data/records/DAKrO-707-1-2.yaml
  public/csv/DAKrO-707-1-2.csv
Due: none

feat: handle russian column names for dates
  src/populate-typesense/determine-row-year.ts
Due: prettier --write, eslint --fix

feat: adjust workflow scopes
  .github/workflows/main.yml
  .github/workflows/typesense.yml
Due: prettier --write

feat: table editor
  package.json
  src/app/components/contribute/contribute-form.tsx
  src/app/components/contribute/convert-contribute-form-data.ts
  src/app/components/contribute/table-editor-cell-value.tsx
  src/app/components/contribute/table-editor.module.css
  src/app/components/contribute/table-editor.tsx
  src/app/components/contribute/table-info-fields.module.css
  src/app/components/contribute/table-info-fields.tsx
  src/app/components/contribute/types.ts
  src/app/components/contribute/use-table-editor.ts
  src/app/components/cookie-banner.tsx
  src/app/components/header.tsx
  src/app/components/map.tsx
  src/app/components/modal.module.css
  src/app/components/modal.tsx
  src/app/components/pagination.tsx
  src/app/components/search-results.tsx
  src/app/helpers/parse-csv-file.ts
  src/app/tables/page.tsx
  src/app/volunteers/[volunteerSlug]/page.tsx
  src/app/volunteers/page.tsx
  src/server/package.json
  src/server/src/handlers/handle-submit.ts
  src/server/src/helpers/calculate-csv-lines-size.ts
  src/server/src/helpers/convert-array-to-csv-base64.ts
  src/server/src/middlewares/auth.ts
  src/server/src/schemata.ts
  src/server/src/services/github.ts
  src/server/yarn.lock
  src/shared/schemas/import.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: Server test
  src/server/src/app.test.ts
Due: prettier --write, eslint --fix

fix: adjust workflow scope
  .github/workflows/main.yml
Due: prettier --write

chore: workflow trigger
  src/server/src/handlers/handle-submit.ts
Due: prettier --write, eslint --fix

Add record submission DAKrO-707-1-3
  data/records/DAKrO-707-1-3.yaml
  public/csv/DAKrO-707-1-3.csv
Due: none

data: update DAKirO 5907
  public/csv/DAKirO_Fond5907.xlsx.xlsx - Опис+DGS.csv
Due: none

Add record submission DAKrO-707-1-4
  data/records/DAKrO-707-1-4.yaml
  public/csv/DAKrO-707-1-4.csv
Due: none

Add record submission DAKrO-707-1-5
  data/records/DAKrO-707-1-5.yaml
  public/csv/DAKrO-707-1-5.csv
Due: none

Add record submission DAKrO-707-1-6
  data/records/DAKrO-707-1-6.yaml
  public/csv/DAKrO-707-1-6.csv
Due: none

Add record submission DAKrO-707-1-7
  data/records/DAKrO-707-1-7.yaml
  public/csv/DAKrO-707-1-7.csv
Due: none

Add record submission DAKrO-707-1-8
  data/records/DAKrO-707-1-8.yaml
  public/csv/DAKrO-707-1-8.csv
Due: none

Add record submission DAKrO-R7915-1-418-Pokrovka
  data/records/DAKrO-R7915-1-418-Pokrovka.yaml
  public/csv/DAKrO-R7915-1-418-Pokrovka.csv
Due: none

Add record submission DAKrO-R7915-1-596-Pokrovka
  data/records/DAKrO-R7915-1-596-Pokrovka.yaml
  public/csv/DAKrO-R7915-1-596-Pokrovka.csv
Due: none

Add record submission DAKrO-R7915-1-987-Pokrovka
  data/records/DAKrO-R7915-1-987-Pokrovka.yaml
  public/csv/DAKrO-R7915-1-987-Pokrovka.csv
Due: none

fix: improve the contribution form
  data/records/DAKrO-P5907.yaml
  src/app/components/contribute/contribute-form.tsx
  src/app/components/contribute/location-fields.tsx
  src/app/components/contribute/location-picker.tsx
  src/app/components/contribute/table-editor.tsx
  src/app/components/contribute/use-table-editor.ts
  src/app/components/source-link.tsx
  src/server/src/handlers/handle-submit.ts
Due: prettier --write, eslint --fix

fix: remove leftovers
  public/dashboard/config.yml
  public/dashboard/index.html
  src/server/src/app.test.ts
  src/server/src/app.ts
  src/server/src/handlers/handle-auth.ts
  src/server/src/handlers/handle-callback.ts
Due: prettier --write, eslint --fix

Add record submission DAKrO-R7915-1-1168-Pokrovka
  data/records/DAKrO-R7915-1-1168-Pokrovka.yaml
  public/csv/DAKrO-R7915-1-1168-Pokrovka.csv
Due: none

Add record submission DAKrO-R7915-1-1388
  data/records/DAKrO-R7915-1-1388.yaml
  public/csv/DAKrO-R7915-1-1388.csv
Due: none

Add record submission DAKrO-R7915-2-37-Pokrovka
  data/records/DAKrO-R7915-2-37-Pokrovka.yaml
  public/csv/DAKrO-R7915-2-37-Pokrovka.csv
Due: none

Add record submission DAKrO-R7195-2-112
  data/records/DAKrO-R7195-2-112.yaml
  public/csv/DAKrO-R7195-2-112.csv
Due: none

Add record submission DAKrO-R7915-2-340-Tymofiivka
  data/records/DAKrO-R7915-2-340-Tymofiivka.yaml
  public/csv/DAKrO-R7915-2-340-Tymofiivka.csv
Due: none

fix: limit flow concurrency
  .github/workflows/main.yml
  .github/workflows/typesense.yml
Due: prettier --write

fix: table editor dark mode
  src/app/components/contribute/table-editor.module.css
Due: prettier --write

Add record submission DAKrO-R7915-2-639-Pokrovka
  data/records/DAKrO-R7915-2-639-Pokrovka.yaml
  public/csv/DAKrO-R7915-2-639-Pokrovka.csv
Due: none

Add record submission DAKrO-R7915-2-1036
  data/records/DAKrO-R7915-2-1036.yaml
  public/csv/DAKrO-R7915-2-1036.csv
Due: none

Add record submission DAKrO-7915-2-1572-Pokrovka
  data/records/DAKrO-7915-2-1572-Pokrovka.yaml
  public/csv/DAKrO-7915-2-1572-Pokrovka.csv
Due: none

Add record submission DAKrO-R7915-2-2471-Pokrovka
  data/records/DAKrO-R7915-2-2471-Pokrovka.yaml
  public/csv/DAKrO-R7915-2-2471-Pokrovka.csv
Due: none

Add record submission DAOO-37-2-49-Tymofiivka
  data/records/DAOO-37-2-49-Tymofiivka.yaml
  public/csv/DAOO-37-2-49-Tymofiivka.csv
Due: none

Add record submission DAOO-37-2-66-Tymofiivka
  data/records/DAOO-37-2-66-Tymofiivka.yaml
  public/csv/DAOO-37-2-66-Tymofiivka.csv
Due: none

Add record submission DAOO-37-2-102
  data/records/DAOO-37-2-102.yaml
  public/csv/DAOO-37-2-102.csv
Due: none

Add record submission DAOO-37-2-140-Tymofiivka
  data/records/DAOO-37-2-140-Tymofiivka.yaml
  public/csv/DAOO-37-2-140-Tymofiivka.csv
Due: none

Add record submission DAOO-37-3-60-Tymofiivka
  data/records/DAOO-37-3-60-Tymofiivka.yaml
  public/csv/DAOO-37-3-60-Tymofiivka.csv
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
