Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: tests
  src/app/[tableId]/[page]/table-content.test.tsx
  src/app/components/details.test.tsx
Due: prettier --write, eslint --fix

feat: more tests
  eslint.config.mjs
  src/app/components/contact-gate.tsx
  src/app/hooks/use-cookie-consent.test.ts
  src/app/hooks/use-cookie-consent.ts
  src/app/hooks/use-no-russians.spec.tsx
  src/app/hooks/use-no-russians.tsx
  src/app/providers/error-boundary.spec.tsx
  src/app/providers/error-boundary.ts
  src/app/providers/error-boundary.tsx
  src/app/providers/posthog.spec.tsx
  src/app/providers/posthog.tsx
  src/app/tables/table-json-ld.spec.tsx
  src/app/tables/table-json-ld.tsx
  src/app/volunteers/[volunteerSlug]/page.spec.tsx
  src/app/volunteers/[volunteerSlug]/page.tsx
  src/app/volunteers/page.spec.tsx
  src/app/volunteers/page.tsx
Due: prettier --write, eslint --fix

fix: ranks export
  src/app/volunteers/[volunteerSlug]/page.module.css
  src/app/volunteers/[volunteerSlug]/page.spec.tsx
  src/app/volunteers/[volunteerSlug]/page.tsx
  src/app/volunteers/page.module.css
  src/app/volunteers/page.spec.tsx
  src/app/volunteers/page.tsx
  src/app/volunteers/ranks.module.css
  src/app/volunteers/ranks.test.tsx
  src/app/volunteers/ranks.ts
Due: prettier --write, eslint --fix

feat: NextJS cache in pipeline
  .github/workflows/dispatch.yml
  .github/workflows/main.yml
Due: prettier --write

Yampil-1861 full
  data/tables/DAKhmO-315-1-8563-Yampil-nativity.csv
  data/tables/DAKhmO-315-1-8563-Yampil-nativity.yml
Due: prettier --write

fix: restore globalThis
  eslint.config.mjs
  src/app/components/cookie-settings-trigger.tsx
  src/app/components/map-point.tsx
  src/app/helpers/scroll-once.test.ts
  src/app/services/bugsnag.ts
Due: prettier --write, eslint --fix

fix Yampil source spreadsheet
  data/tables/DAKhmO-315-1-8563-Yampil-nativity.yml
Due: prettier --write

Yampil Nicholas
  data/tables/DAKhmO-315-1-8563-Yampil-nicholas.csv
  data/tables/DAKhmO-315-1-8563-Yampil-nicholas.yml
Due: prettier --write

fix: Yampil Nicholas – remove obsolete letters
  data/tables/DAKhmO-315-1-8563-Yampil-nicholas.csv
Due: none

feat: throw on import failure
  src/populate-typesense/import-batch.ts
Due: prettier --write, eslint --fix

fix: check import results number
  src/populate-typesense/import-batch.ts
Due: prettier --write, eslint --fix

fix: remove extra slash
  scripts/server/nginx.conf
  src/app/services/typesense.ts
  src/populate-typesense/typesense.ts
Due: prettier --write, eslint --fix

fix: attempt to adjust column name
  data/tables/DAKhmO-315-1-8563-Yampil-nativity.csv
  data/tables/DAKhmO-315-1-8563-Yampil-nicholas.csv
Due: none

fix: automatic field type & better error in searcH
  scripts/prepare-server/create-collection.sh
  src/app/components/use-search.tsx
  src/app/services/search.ts
Due: prettier --write, eslint --fix

fix: restore old error presentation
  src/app/components/use-search.tsx
  src/app/services/search.ts
Due: prettier --write, eslint --fix

feat: announce maintenance
  src/app/layout.tsx
Due: prettier --write, eslint --fix

fix: disable search in Polish
  src/app/services/search.ts
Due: prettier --write, eslint --fix

fix: disable test about Polish
  src/app/services/search.test.ts
Due: prettier --write, eslint --fix

fix: better year determination
  src/populate-typesense/determine-row-year.ts
Due: prettier --write, eslint --fix

Create Таблиці даних “dakhmo-315-1-8563-antopil”
  data/records/dakhmo-315-1-8563-antopil.yaml
  public/csv/dakhmo-315-1-8563-antopil_transcription-1-.csv
Due: none

feat: modernize russian in the pipeline
  src/modernize-russian/index.ts
Due: prettier --write, eslint --fix

fix: remove email erasure
  src/app/[tableId]/[page]/table-content.tsx
  src/app/helpers/get-volunteers.ts
  src/app/helpers/remove-emails.ts
  src/app/sitemap.ts
Due: prettier --write, eslint --fix

fix: allow process.exit in modernize-russian
  eslint.config.mjs
Due: prettier --write, eslint --fix

fix: table-content test
  src/app/[tableId]/[page]/table-content.test.tsx
Due: prettier --write, eslint --fix

fix: importPayloadSchema
  src/shared/schemas/import.ts
Due: prettier --write, eslint --fix

fix: StaticCMS paths
  public/dashboard/config.yml
Due: prettier --write

fix: email presentation
  data/records/TsDIAK-1316-1-363-part-1.yaml
  data/records/TsDIAK-1316-1-363-part-2.yaml
  src/app/helpers/extract-emails.ts
  src/app/helpers/get-volunteers.ts
  src/app/volunteers/[volunteerSlug]/page.tsx
Due: prettier --write, eslint --fix

fix: GITHUB_OAUTH_CLIENT_SECRET access
  scripts/server/nginx.conf
  src/server/src/environment.ts
Due: prettier --write, eslint --fix

fix: use nonce for OAuth
  src/server/src/handlers/handle-callback.ts
Due: prettier --write, eslint --fix

fix: workaround new tab login
  public/dashboard/index.html
  src/server/src/handlers/handle-callback.ts
  src/server/src/index.ts
Due: prettier --write, eslint --fix

fix: github auth events order
  public/dashboard/index.html
  src/server/src/handlers/handle-callback.ts
Due: prettier --write, eslint --fix

fix: mimic popup event sending
  public/dashboard/index.html
Due: none

fix: try localStorage bridge
  public/dashboard/index.html
  src/server/src/handlers/handle-callback.ts
Due: prettier --write, eslint --fix

fix: headers for callback endpoint
  src/server/src/handlers/handle-callback.ts
Due: prettier --write, eslint --fix

fix: alert to know what's happening
  src/server/src/handlers/handle-callback.ts
Due: prettier --write, eslint --fix

fix: relieve security headers
  src/server/src/handlers/handle-callback.ts
  src/server/src/index.ts
Due: prettier --write, eslint --fix

fix: /api/auth header
  src/server/src/index.ts
Due: prettier --write, eslint --fix

fix: PR enrichment
  src/enrich-data/index.ts
  src/modernize-russian/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
