Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md,yml}": "prettier --write"
}

fix: build issues
  src/app/components/contribute2/context-form.tsx
  src/app/components/contribute2/data-grid.module.css
  src/app/components/contribute2/schema.ts
  src/app/components/contribute2/sources-input.tsx
  src/app/components/search-results.tsx
  src/shared/schemas/import.ts
  src/shared/schemas/non-empty-string.test.ts
  vitest.config.mts
Due: prettier --write, eslint --fix

chore: upgrade all actions
  .github/workflows/check-pr.yml
  .github/workflows/daily-report.yml
  .github/workflows/enrich-data.yml
  .github/workflows/main.yml
  .github/workflows/typesense.yml
Due: prettier --write

fix: remove width constraints
  src/app/components/contribute2/contribute-form.module.css
  src/app/components/contribute2/stepper.module.css
Due: prettier --write

Add record submission DAKhmO-315-1-8563-babchyntsi-iot
  data/records/DAKhmO-315-1-8563-babchyntsi-iot.yaml
  public/csv/DAKhmO-315-1-8563-babchyntsi-iot.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-babchyntsi-iot.csv
Due: none

fix: final button
  src/app/components/contribute2/step.tsx
Due: prettier --write, eslint --fix

fix: csv-dropzone works with file drop
  src/app/components/contribute2/csv-dropzone.tsx
Due: prettier --write, eslint --fix

Add record submission DAKheO-22-1-29-Shliakhova
  data/records/DAKheO-22-1-29-Shliakhova.yaml
  public/csv/DAKheO-22-1-29-Shliakhova.csv
Due: none

Add record submission DAKheO-22-1-29-Shliakhova-2
  data/records/DAKheO-22-1-29-Shliakhova-2.yaml
  public/csv/DAKheO-22-1-29-Shliakhova-2.csv
Due: none

Update ID field in DAKheO-22-1-29-Shliakhova-2.yaml
  data/records/DAKheO-22-1-29-Shliakhova-2.yaml
Due: none

feat: location search, fixes
  src/app/components/contribute2/context-form.module.css
  src/app/components/contribute2/context-form.tsx
  src/app/components/contribute2/contribute-form.tsx
  src/app/components/contribute2/skip-from-table.test.ts
  src/app/components/contribute2/skip-from-table.ts
  src/app/components/contribute2/stepper.module.css
  src/app/components/contribute2/table-state.ts
  src/app/services/known-locations.ts
  src/app/services/locationiq.ts
Due: prettier --write, eslint --fix

fix: Shliakhova filename mismatch
  data/records/DAKheO-22-1-29-Shliakhova.yaml
Due: none

fix: skipFromTable signature
  src/app/components/contribute2/skip-from-table.test.ts
Due: prettier --write, eslint --fix

fix: remove first contribute form
  src/app/components/contribute/additional-info-fields.module.css
  src/app/components/contribute/additional-info-fields.tsx
  src/app/components/contribute/author-fields.module.css
  src/app/components/contribute/author-fields.tsx
  src/app/components/contribute/contribute-form.module.css
  src/app/components/contribute/contribute-form.tsx
  src/app/components/contribute/convert-contribute-form-data.ts
  src/app/components/contribute/local-storage.ts
  src/app/components/contribute/location-fields.module.css
  src/app/components/contribute/location-fields.tsx
  src/app/components/contribute/location-picker.module.css
  src/app/components/contribute/location-picker.tsx
  src/app/components/contribute/map-updater.tsx
  src/app/components/contribute/schemata.ts
  src/app/components/contribute/table-editor.module.css
  src/app/components/contribute/table-editor.tsx
  src/app/components/contribute/table-info-fields.module.css
  src/app/components/contribute/table-info-fields.tsx
  src/app/components/contribute/types.ts
  src/app/components/contribute/use-table-editor.ts
  src/app/components/contribute/year-fields.module.css
  src/app/components/contribute/year-fields.tsx
  src/app/components/contribute2/contribute-form.tsx
  src/app/components/contribute2/known-locations-context.ts
Due: prettier --write, eslint --fix

fix: remove first contribute form reference
  src/app/contribute/page.tsx
Due: prettier --write, eslint --fix

fix: debug added files
  src/daily-report/src/index.ts
Due: prettier --write, eslint --fix

fix: daily-report script
  .github/workflows/daily-report.yml
Due: prettier --write

Add record submission DAKheO-22-1-44-Sofiivka
  data/records/DAKheO-22-1-44-Sofiivka.yaml
  public/csv/DAKheO-22-1-44-Sofiivka.csv
Due: none

Add record submission DAKheO-22-1-48-Tymofiivka
  data/records/DAKheO-22-1-48-Tymofiivka.yaml
  public/csv/DAKheO-22-1-48-Tymofiivka.csv
Due: none

Add record submission DAKheO-22-1-81-Tymofiivka
  data/records/DAKheO-22-1-81-Tymofiivka.yaml
  public/csv/DAKheO-22-1-81-Tymofiivka.csv
Due: none

Add record submission DAKheO-22-1-109-Buznykovata
  data/records/DAKheO-22-1-109-Buznykovata.yaml
  public/csv/DAKheO-22-1-109-Buznykovata.csv
Due: none

Rename Tymofiivka to Kalistrova in YAML record
  data/records/DAKheO-22-1-81-Kalistrova.yaml
Due: none

fix: proper form reset
  src/app/components/contribute2/craft-initial-table-state.ts
  src/app/components/contribute2/csv-dropzone.tsx
  src/app/components/contribute2/success-panel.tsx
  src/app/components/contribute2/table-state.ts
Due: prettier --write, eslint --fix

Add record submission DAZhO-1-74-406-Khvorostiv
  data/records/DAZhO-1-74-406-Khvorostiv.yaml
  public/csv/DAZhO-1-74-406-Khvorostiv.csv
Due: none

Add record submission wolynski-dziennik-wojewodski-1931-13-ruda
  data/records/wolynski-dziennik-wojewodski-1931-13-ruda.yaml
  public/csv/wolynski-dziennik-wojewodski-1931-13-ruda.csv
Due: none

fix: allow different archive items
  src/app/components/contribute2/author-form.module.css
  src/app/components/contribute2/author-form.tsx
  src/app/components/contribute2/contribute-form.tsx
  src/app/components/contribute2/craft-initial-table-state.ts
  src/app/components/contribute2/data-grid.tsx
  src/app/components/contribute2/schema.ts
  src/daily-report/src/schema/indexation-table.ts
  src/shared/schemas/indexation-table.ts
Due: prettier --write, eslint --fix

Add record submission DAZhO-115-1-2515
  data/records/DAZhO-115-1-2515.yaml
  public/csv/DAZhO-115-1-2515.csv
Due: none

Add record submission DAZhO-115-1-2516
  data/records/DAZhO-115-1-2516.yaml
  public/csv/DAZhO-115-1-2516.csv
Due: none

fix: Ruda location
  data/records/DAZhO-115-1-2515.yaml
  data/records/wolynski-dziennik-wojewodski-1931-13-ruda.yaml
Due: none

feat: JBC title
  src/app/components/source-link.tsx
Due: prettier --write, eslint --fix

fix: extra birth row name
  src/populate-typesense/determine-row-year.ts
Due: prettier --write, eslint --fix

Add record submission DAKheO-259-28-4-Kozachi-Laheri
  data/records/DAKheO-259-28-4-Kozachi-Laheri.yaml
  public/csv/DAKheO-259-28-4-Kozachi-Laheri.csv
Due: none

Add year 1852 to the records for DAKheO-259
  data/records/DAKheO-259-28-4-Kozachi-Laheri.yaml
Due: none

Add record submission DAKheO-259-28-4-Kozachi-Laheri-death
  data/records/DAKheO-259-28-4-Kozachi-Laheri-death.yaml
  public/csv/DAKheO-259-28-4-Kozachi-Laheri-death.csv
Due: none

Add record submission Chornianka-1877-1916-marriage
  data/records/Chornianka-1877-1916-marriage.yaml
  public/csv/Chornianka-1877-1916-marriage.csv
Due: none

Add record submission DAKhmO-315-1-8359-Cherepashyntsi
  data/records/DAKhmO-315-1-8359-Cherepashyntsi.yaml
  public/csv/DAKhmO-315-1-8359-Cherepashyntsi.csv
Due: none

fix: consider Рік column
  src/populate-typesense/determine-row-year.ts
Due: prettier --write, eslint --fix

Add record submission novoukrainka-pomichna-pishchanyy-brid-narodzhennia
  data/records/novoukrainka-pomichna-pishchanyy-brid-narodzhennia.yaml
  public/csv/novoukrainka-pomichna-pishchanyy-brid-narodzhennia.csv
Due: none

Add year 1947 to the years range
  data/records/novoukrainka-pomichna-pishchanyy-brid-narodzhennia.yaml
Due: none

Add record submission novoukrainka-pomichna-pishchanyy-brid-shliub
  data/records/novoukrainka-pomichna-pishchanyy-brid-shliub.yaml
  public/csv/novoukrainka-pomichna-pishchanyy-brid-shliub.csv
Due: none
