Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add record submission DAOO-37-3-842-Tymofiivka
  data/records/DAOO-37-3-842-Tymofiivka.yaml
  public/csv/DAOO-37-3-842-Tymofiivka.csv
Due: none

Add record submission DAOO-37-3-922-Tymofiivka
  data/records/DAOO-37-3-922-Tymofiivka.yaml
  public/csv/DAOO-37-3-922-Tymofiivka.csv
Due: none

Add record submission DAOO-37-3-929-Tymofiivka
  data/records/DAOO-37-3-929-Tymofiivka.yaml
  public/csv/DAOO-37-3-929-Tymofiivka.csv
Due: none

feat: limited typesense populate
  .github/workflows/typesense.yml
  src/populate-typesense/delete-from-typesense.ts
  src/populate-typesense/get-tables-by-files.ts
  src/populate-typesense/index.ts
Due: prettier --write, eslint --fix

fix: debug delta upsert
  .github/workflows/typesense.yml
  src/populate-typesense/environment.ts
  src/populate-typesense/index.ts
Due: prettier --write, eslint --fix

fix: proper changed-files output
  .github/workflows/typesense.yml
Due: prettier --write

fix: UnknownValue component
  src/app/components/contribute/table-editor.tsx
  src/app/components/highlighted-text.tsx
Due: prettier --write, eslint --fix

fix: include flow files in their path tracking
  .github/workflows/main.yml
  .github/workflows/typesense.yml
Due: prettier --write

Add record submission DAOO-37-3-1029-Tymofiivka
  data/records/DAOO-37-3-1029-Tymofiivka.yaml
  public/csv/DAOO-37-3-1029-Tymofiivka.csv
Due: none

Add record submission DAOO-37-3-1095-Tymofiivka
  data/records/DAOO-37-3-1095-Tymofiivka.yaml
  public/csv/DAOO-37-3-1095-Tymofiivka.csv
Due: none

Add record submission DAOO-37-3-1153-Tymofiivka
  data/records/DAOO-37-3-1153-Tymofiivka.yaml
  public/csv/DAOO-37-3-1153-Tymofiivka.csv
Due: none

Add record submission DAOO-37-3-1203-Tymofiivka
  data/records/DAOO-37-3-1203-Tymofiivka.yaml
  public/csv/DAOO-37-3-1203-Tymofiivka.csv
Due: none

Add record submission DAOO-37-3-1234-Tymofiivka
  data/records/DAOO-37-3-1234-Tymofiivka.yaml
  public/csv/DAOO-37-3-1234-Tymofiivka.csv
Due: none

fix: disable cancelling in-progress Typesense ingestion
  .github/workflows/typesense.yml
Due: prettier --write

fix: upgrade dompurify
  yarn.lock
Due: none

Add record submission DAOO-37-3-1392-Tymofiivka
  data/records/DAOO-37-3-1392-Tymofiivka.yaml
  public/csv/DAOO-37-3-1392-Tymofiivka.csv
Due: none

Add record submission DAOO-37-3-1438-Tymofiivka
  data/records/DAOO-37-3-1438-Tymofiivka.yaml
  public/csv/DAOO-37-3-1438-Tymofiivka.csv
Due: none

fix: disable typesense concurrency control
  .github/workflows/typesense.yml
Due: prettier --write

Add record submission DAOO-37-3-1483-Tymofiivka
  data/records/DAOO-37-3-1483-Tymofiivka.yaml
  public/csv/DAOO-37-3-1483-Tymofiivka.csv
Due: none

Add record submission DAOO-37-3-1517-Tymofiivka
  data/records/DAOO-37-3-1517-Tymofiivka.yaml
  public/csv/DAOO-37-3-1517-Tymofiivka.csv
Due: none

Add record submission DAOO-37-3-1536-Tymofiivka
  data/records/DAOO-37-3-1536-Tymofiivka.yaml
  public/csv/DAOO-37-3-1536-Tymofiivka.csv
Due: none

Add record submission DAOO-37-3-1592-Tymofiivka
  data/records/DAOO-37-3-1592-Tymofiivka.yaml
  public/csv/DAOO-37-3-1592-Tymofiivka.csv
Due: none

Add record submission DAOO-37-3-1611-Tymofiivka
  data/records/DAOO-37-3-1611-Tymofiivka.yaml
  public/csv/DAOO-37-3-1611-Tymofiivka.csv
Due: none

fix: pass page to Ukrainian search
  src/app/services/search.ts
Due: prettier --write, eslint --fix

feat: daily report
  .github/workflows/daily-report.yml
  src/daily-report/.env.example
  src/daily-report/.nvmrc
  src/daily-report/package.json
  src/daily-report/src/environment.ts
  src/daily-report/src/index.ts
  src/daily-report/src/schema/indexation-table.ts
  src/daily-report/src/schema/non-empty-string.ts
  src/daily-report/tsconfig.json
  src/daily-report/vitest.config.mts
  src/daily-report/yarn.lock
Due: prettier --write, eslint --fix

debug daily-report
  .github/workflows/daily-report.yml
Due: prettier --write

fix: fail on added_files.txt not found
  .github/workflows/daily-report.yml
  .gitignore
  eslint.config.mjs
  src/daily-report/src/index.ts
Due: prettier --write, eslint --fix

fix: target added_files.txt file above
  src/daily-report/src/index.ts
Due: prettier --write, eslint --fix

fix: nuanced cache key files
  .github/workflows/daily-report.yml
  .github/workflows/main.yml
  src/daily-report/src/index.ts
Due: prettier --write, eslint --fix

fix: root folder
  src/daily-report/src/index.ts
Due: prettier --write, eslint --fix

fix: fetch-depth 0 only on one branch
  .github/workflows/daily-report.yml
  .github/workflows/typesense.yml
Due: prettier --write

Add record submission DAKhmO-315-1-8330-Brailiv
  data/records/DAKhmO-315-1-8330-Brailiv.yaml
  public/csv/DAKhmO-315-1-8330-Brailiv.csv
Due: none

Fix formatting of archive item identifier
  data/records/DAKhmO-315-1-8330-Brailiv.yaml
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8330-Brailiv.csv
Due: none

feat: Contribute2 form
  .aiderignore
  package.json
  src/app/components/contribute2/author-form.module.css
  src/app/components/contribute2/author-form.tsx
  src/app/components/contribute2/context-form.module.css
  src/app/components/contribute2/context-form.tsx
  src/app/components/contribute2/contribute-form.module.css
  src/app/components/contribute2/contribute-form.tsx
  src/app/components/contribute2/csv-dropzone.module.css
  src/app/components/contribute2/csv-dropzone.tsx
  src/app/components/contribute2/data-grid.module.css
  src/app/components/contribute2/data-grid.tsx
  src/app/components/contribute2/review-summary.module.css
  src/app/components/contribute2/review-summary.tsx
  src/app/components/contribute2/stepper.module.css
  src/app/components/contribute2/stepper.tsx
  src/app/components/contribute2/success-panel.module.css
  src/app/components/contribute2/success-panel.tsx
  src/app/contribute2/page.tsx
  src/app/icons/github.svg
  src/app/robots.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix: correct table link
  src/daily-report/src/index.ts
Due: prettier --write, eslint --fix

Add record submission DAOO-37-3-1644-Tymofiivka
  data/records/DAOO-37-3-1644-Tymofiivka.yaml
  public/csv/DAOO-37-3-1644-Tymofiivka.csv
Due: none

Add record submission DAOO-37-4-142-Tymofiivka
  data/records/DAOO-37-4-142-Tymofiivka.yaml
  public/csv/DAOO-37-4-142-Tymofiivka.csv
Due: none

Add record submission DAOO-37-4-202-Tymofiivka
  data/records/DAOO-37-4-202-Tymofiivka.yaml
  public/csv/DAOO-37-4-202-Tymofiivka.csv
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
