Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md,yml}": "prettier --write"
}

test: add cleanup to fix multiple elements error in AboutPage tests
  src/app/about/page.test.tsx
Due: prettier --write, eslint --fix

fix: remove trailing slash from volunteers link and matching test
  src/app/about/page.test.tsx
  src/app/about/page.tsx
Due: prettier --write, eslint --fix

test: add unit tests for table page and metadata generation
  src/app/[tableId]/[page]/page.test.tsx
Due: prettier --write, eslint --fix

refactor: fix linting errors in table page tests
  src/app/[tableId]/[page]/page.test.tsx
Due: prettier --write, eslint --fix

test: fix Table component assertions in table page tests
  src/app/[tableId]/[page]/page.test.tsx
Due: prettier --write, eslint --fix

refactor: modernize comments styles with logical properties and flex
  src/app/components/comments/comments.module.css
Due: prettier --write

refactor: use semantic section and aria-labelledby for comments
  src/app/components/comments/comments.tsx
Due: prettier --write, eslint --fix

test: add unit tests for Comments component
  src/app/components/comments/comments.test.tsx
Due: prettier --write, eslint --fix

refactor: improve Remark42 type safety and remove lint suppressions
  src/app/components/comments/remark42.tsx
Due: prettier --write, eslint --fix

refactor: simplify Remark42 component logic and theme handling
  src/app/components/comments/remark42.tsx
Due: prettier --write, eslint --fix

test: add unit tests and refactor Remark42 for testability
  src/app/components/comments/remark42.test.tsx
  src/app/components/comments/remark42.tsx
Due: prettier --write, eslint --fix

test: remove unused @ts-expect-error directives
  src/app/components/comments/remark42.test.tsx
Due: prettier --write, eslint --fix

fix: move arrow function to outer scope in remark42.test.tsx
  src/app/components/comments/remark42.test.tsx
Due: prettier --write, eslint --fix

Aider improvements
  .aider.conf.yml
  CONVENTIONS.md
  scripts/aider-check.sh
  src/app/about/page.test.tsx
  src/app/components/comments/remark42.tsx
  src/types/remark42.d.ts
Due: prettier --write, eslint --fix

fix: handle Remark42 navigation and prevent duplicate scripts
  src/app/components/comments/remark42.test.tsx
  src/app/components/comments/remark42.tsx
Due: prettier --write, eslint --fix

refactor: use querySelector instead of getElementById
  src/app/components/comments/remark42.tsx
Due: prettier --write, eslint --fix

refactor: modernize archive-item styles using logical properties
  src/app/components/archive-item.module.css
Due: prettier --write

refactor: improve ArchiveItem accessibility and security
  src/app/components/archive-item.tsx
Due: prettier --write, eslint --fix

refactor: improve accessibility for archive item links
  src/app/components/archive-item.tsx
Due: prettier --write, eslint --fix

refactor: replace aria-label with visually hidden span
  src/app/components/archive-item.module.css
  src/app/components/archive-item.tsx
Due: prettier --write, eslint --fix

test: fix expectation in archive item search link test
  src/app/components/archive-item.test.tsx
Due: prettier --write, eslint --fix

test: improve ArchiveItem tests terminology and assertions
  src/app/components/archive-item.test.tsx
Due: prettier --write, eslint --fix

refactor: modernize ContactGate component and improve structure
  src/app/components/contact-gate.tsx
Due: prettier --write, eslint --fix

style: format contact-gate component
  src/app/components/contact-gate.tsx
Due: prettier --write, eslint --fix

test: add unit tests for ContactGate component
  src/app/components/contact-gate.test.tsx
Due: prettier --write, eslint --fix

test: add cleanup after each test in contact-gate.test.tsx
  src/app/components/contact-gate.test.tsx
Due: prettier --write, eslint --fix

refactor: simplify email list processing in Contact component
  src/app/components/contact.tsx
Due: prettier --write, eslint --fix

Add record submission DAViO-R6129-3-270
  data/records/DAViO-R6129-3-270.yaml
  public/csv/DAViO-R6129-3-270.csv
Due: none

Add record submission tembershchyna-uzyn-pershyi-vserosiiskyi-perepys-1897-roku
  data/records/tembershchyna-uzyn-pershyi-vserosiiskyi-perepys-1897-roku.yaml
  public/csv/tembershchyna-uzyn-pershyi-vserosiiskyi-perepys-1897-roku.csv
Due: none

Update tembershchyna-uzyn-pershyi-vserosiiskyi-perepys-1897-roku.yaml
  data/records/tembershchyna-uzyn-pershyi-vserosiiskyi-perepys-1897-roku.yaml
Due: none

fix Tembershchyna
  data/records/DAKO-384-5-Tembershchyna-Uzyn.yaml
Due: none

Add record submission babychi-mezhyrytskoho-kliucha-cherkaskoho-starostva-kyivskoho-voievodstva-rich-pospolyta-spovidnyi-rozpys-tserkvy-pokrova-bohomateri-1788r
  data/records/babychi-mezhyrytskoho-kliucha-cherkaskoho-starostva-kyivskoho-voievodstva-rich-pospolyta-spovidnyi-rozpys-tserkvy-pokrova-bohomateri-1788r.yaml
  public/csv/babychi-mezhyrytskoho-kliucha-cherkaskoho-starostva-kyivskoho-voievodstva-rich-pospolyta-spovidnyi-rozpys-tserkvy-pokrova-bohomateri-1788r.csv
Due: none

Update title in Babychi YAML record
  data/records/TsDIAK-127-1017-37-Babychi.yaml
Due: none

Update babychi-mezhyrytskoho-kliucha-cherkaskoho-starostva-kyivskoho-voievodstva-rich-pospolyta-spovidnyi-rozpys-tserkvy-pokrova-bohomateri-1788r.csv
  public/csv/babychi-mezhyrytskoho-kliucha-cherkaskoho-starostva-kyivskoho-voievodstva-rich-pospolyta-spovidnyi-rozpys-tserkvy-pokrova-bohomateri-1788r.csv
Due: none

Change size value in Babychi record
  data/records/TsDIAK-127-1017-37-Babychi.yaml
Due: none

Add record submission DAKhmO-315-1-8563-Dzhuryn-nativity
  data/records/DAKhmO-315-1-8563-Dzhuryn-nativity.yaml
  public/csv/DAKhmO-315-1-8563-Dzhuryn-nativity.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Dzhuryn-nativity.csv
Due: none

Add record submission troianiv-1892-mk-narodzhennia-dazho-178-3-224-kostel
  data/records/troianiv-1892-mk-narodzhennia-dazho-178-3-224-kostel.yaml
  public/csv/troianiv-1892-mk-narodzhennia-dazho-178-3-224-kostel.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/troianiv-1892-mk-narodzhennia-dazho-178-3-224-kostel.csv
Due: none

Add record submission troianiv-1893-mk-narodzhennia-dazho-178-3-224-kostel
  data/records/troianiv-1893-mk-narodzhennia-dazho-178-3-224-kostel.yaml
  public/csv/troianiv-1893-mk-narodzhennia-dazho-178-3-224-kostel.csv
Due: none
