Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md,yml}": "prettier --write"
}

fix: depth 0
  .github/workflows/enrich-data.yml
Due: prettier --write

fix: proper data structure for Static CMS
  src/server/src/handlers/handle-callback.ts
Due: prettier --write, eslint --fix

feat: modernize-russian script
  package.json
Due: prettier --write

fix: map points mock
  src/app/[tableId]/[page]/table-content.test.tsx
Due: prettier --write, eslint --fix

fix: auto-commit action
  .github/workflows/enrich-data.yml
  src/enrich-data/index.ts
  src/modernize-russian/index.ts
Due: prettier --write, eslint --fix

chore: auto-update data size [skip ci]
  data/records/dakhmo-315-1-8563-antopil.yaml
  public/csv/dakhmo-315-1-8563-antopil_transcription-1-.csv
Due: none

fix: github response shape
  src/server/src/handlers/handle-callback.ts
Due: prettier --write, eslint --fix

fix: filenames may be lowercased now
  src/shared/get-tables-metadata.ts
Due: prettier --write, eslint --fix

fix: remove alerts from callback script
  src/server/src/handlers/handle-callback.ts
Due: prettier --write, eslint --fix

fix: register-unaware slugs
  src/app/helpers/get-table-metadata.ts
Due: prettier --write, eslint --fix

Create Таблиці даних “dakhmo-315-1-8563-oleksandrivka”
  data/records/dakhmo-315-1-8563-oleksandrivka.yaml
  public/csv/dakhmo-315-1-8563-oleksandrivka_transcription.csv
Due: none

Add size field to dakhmo-315-1-8563-oleksandrivka.yaml
  data/records/dakhmo-315-1-8563-oleksandrivka.yaml
Due: none

chore: auto-update data size [skip ci]
  data/records/dakhmo-315-1-8563-oleksandrivka.yaml
  public/csv/dakhmo-315-1-8563-oleksandrivka_transcription.csv
Due: none

Update year in records YAML file
  data/records/dakhmo-315-1-8563-oleksandrivka.yaml
Due: none

Create Таблиці даних “dakhmo-315-1-8563-andriiashivka”
  data/records/dakhmo-315-1-8563-andriiashivka.yaml
  public/csv/dakhmo-315-1-8563-andriiashivka_transcription.csv
Due: none

Fix name formatting in transcription CSV
  public/csv/dakhmo-315-1-8563-andriiashivka_transcription.csv
Due: none

Correct archive item identifier in YAML file
  data/records/dakhmo-315-1-8563-andriiashivka.yaml
Due: none

chore: auto-update data size [skip ci]
  data/records/dakhmo-315-1-8563-andriiashivka.yaml
  public/csv/dakhmo-315-1-8563-andriiashivka_transcription.csv
Due: none

Fix formatting issues in transcription CSV
  public/csv/dakhmo-315-1-8563-andriiashivka_transcription.csv
Due: none

fix: Antopil 1861 location
  data/records/dakhmo-315-1-8563-antopil.yaml
Due: none

Create Таблиці даних “rgada-350-2-3456”
  data/records/rgada-350-2-3456.yaml
  public/csv/census_1720.csv
Due: none

chore: auto-update data size [skip ci]
  data/records/rgada-350-2-3456.yaml
Due: none

Apply suggestions from code review
  data/records/rgada-350-2-3456.yaml
Due: none

Create Таблиці даних “tsdiak-2004-1-170”
  data/records/tsdiak-2004-1-170.yaml
  public/csv/bilovody-1741.csv
Due: none

Create Таблиці даних “tsdiak-2004-1-197”
  data/records/tsdiak-2004-1-197.yaml
  public/csv/bilovody-1743.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/bilovody-1743.csv
Due: none

fix: bilovody tables
  data/records/tsdiak-2004-1-170.yaml
  data/records/tsdiak-2004-1-197.yaml
Due: none

Create Таблиці даних “keibalivka-profitability-1910s”
  data/records/keibalivka-profitability-1910s.yaml
  public/csv/кейбалівка-дохідність-землі-1911-1913-рр..xlsx-оригінал.csv
Due: none

debug: show what extra files are shown
  src/modernize-russian/index.ts
Due: prettier --write, eslint --fix

debug: what files are changed?
  src/modernize-russian/index.ts
Due: prettier --write, eslint --fix

fix: unescape unicode filename
  src/modernize-russian/index.ts
Due: prettier --write, eslint --fix

chore: auto-update data size [skip ci]
  data/records/keibalivka-profitability-1910s.yaml
Due: none

fix: flow triggers
  .github/workflows/check-pr.yml
  .github/workflows/enrich-data.yml
Due: prettier --write

fix: handle local Typesense import with keepAlive
  src/populate-typesense/typesense.ts
Due: prettier --write, eslint --fix

feat: overhaul search
  eslint.config.mjs
  src/app/__mocks__/environment.ts
  src/app/components/dynamic-value.module.css
  src/app/components/dynamic-value.tsx
  src/app/components/highlighted-text.module.css
  src/app/components/highlighted-text.tsx
  src/app/components/index-table-cell.tsx
  src/app/components/index-table.test.tsx
  src/app/components/index-table.tsx
  src/app/components/search-pagination.module.css
  src/app/components/search-pagination.tsx
  src/app/components/search-parameters-listener.tsx
  src/app/components/search-result.module.css
  src/app/components/search-result.tsx
  src/app/components/search-results.module.css
  src/app/components/search-results.test.tsx
  src/app/components/search-results.tsx
  src/app/components/search.test.tsx
  src/app/components/search.tsx
  src/app/helpers/get-search-parameters.test.ts
  src/app/helpers/get-search-parameters.ts
  src/app/hooks/use-search-parameters-hack.ts
  src/app/hooks/use-search.tsx
  src/app/schemas/search-parameters.ts
  src/app/schemas/search-result.test.ts
  src/app/schemas/search-result.ts
  src/app/services/search.ts
  src/populate-typesense/convert-row.ts
  src/populate-typesense/populate-unstructured.ts
  src/populate-typesense/types.ts
Due: prettier --write, eslint --fix

fix: search dark theme
  src/app/components/search-pagination.module.css
  src/app/components/search-result.module.css
  src/app/components/search-results.module.css
Due: prettier --write

docs: add conventions document
  CONVENTIONS.md
Due: prettier --write

docs: Add project conventions documentation
  CONVENTIONS.md
Due: prettier --write

Add record submission 1897-Andrushky-test
  data/records/1897-Andrushky-test.yaml
  public/csv/1897-Andrushky-test.csv
Due: none
