Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md,yml}": "prettier --write"
}

fix: correct yearsRange handling
  src/app/components/contribute2/review-summary.tsx
  src/app/components/contribute2/years-input.tsx
Due: prettier --write, eslint --fix

Add record submission novoukrainka-pomichna-pishchanyy-brid-smert
  data/records/novoukrainka-pomichna-pishchanyy-brid-smert.yaml
  public/csv/novoukrainka-pomichna-pishchanyy-brid-smert.csv
Due: none

Add record submission DAKhmO-315-1-12538-Cherepashyntsi
  data/records/DAKhmO-315-1-12538-Cherepashyntsi.yaml
  public/csv/DAKhmO-315-1-12538-Cherepashyntsi.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-12538-Cherepashyntsi.csv
Due: none

Add record submission DAKhmO-315-1-8330-Cherepashyntsi
  data/records/DAKhmO-315-1-8330-Cherepashyntsi.yaml
  public/csv/DAKhmO-315-1-8330-Cherepashyntsi.csv
Due: none

Add record submission DAZhO-178-3-147-1863
  data/records/DAZhO-178-3-147-1863.yaml
  public/csv/DAZhO-178-3-147-1863.csv
Due: none

fix: better header nav
  src/app/components/header.module.css
  src/app/components/header.tsx
Due: prettier --write, eslint --fix

Add record submission davio-fond-r-6023-opys-1-tom-1
  data/records/davio-fond-r-6023-opys-1-tom-1.yaml
  public/csv/davio-fond-r-6023-opys-1-tom-1.csv
Due: none

Update YAML file with new values and sources
  data/records/davio-fond-r-6023-opys-1-tom-1.yaml
Due: none

Add DAViO-R6023-1-v1.yaml file
  data/records/DAViO-R6023-1-v1.yaml
Due: none

fix: mark DAViO-6023 as AI
  data/records/DAViO-R6023-1-v1.yaml
Due: none

Add record submission kolektsiia-filtratsiinykh-slidchykh-ta-nahliadovykh-sprav-davio-fond-r-6023-opys-1-tom-2
  data/records/kolektsiia-filtratsiinykh-slidchykh-ta-nahliadovykh-sprav-davio-fond-r-6023-opys-1-tom-2.yaml
  public/csv/kolektsiia-filtratsiinykh-slidchykh-ta-nahliadovykh-sprav-davio-fond-r-6023-opys-1-tom-2.csv
Due: none

Update YAML file for DAViO-R6023-1-v2
  data/records/data/records/DAViO-R6023-1-v2.yaml
Due: none

Update title to include '[ШІ]' prefix
  data/records/data/records/DAViO-R6023-1-v2.yaml
Due: none

fix: DAViO-R6023-1-v2 placement
  data/records/DAViO-R6023-1-v2.yaml
Due: none

Add record submission DAKhmO-315-1-8563-Berezivka-presentation
  data/records/DAKhmO-315-1-8563-Berezivka-presentation.yaml
  public/csv/DAKhmO-315-1-8563-Berezivka-presentation.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Berezivka-presentation.csv
Due: none

fix ДАХмО-315-1-8563 archive item
  data/records/DAKhmO-315-1-8563-Berezivka-presentation.yaml
Due: none

Add record submission DAKhmO-315-1-8563-Berezivka-dormition
  data/records/DAKhmO-315-1-8563-Berezivka-dormition.yaml
  public/csv/DAKhmO-315-1-8563-Berezivka-dormition.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Berezivka-dormition.csv
Due: none

Add record submission DAKhmO-315-1-8563-Borivka-john-apostle
  data/records/DAKhmO-315-1-8563-Borivka-john-apostle.yaml
  public/csv/DAKhmO-315-1-8563-Borivka-john-apostle.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Borivka-john-apostle.csv
Due: none

feat: soft-adjust to Ukrainian archive item format
  src/app/components/contribute2/archive-items-input.module.css
  src/app/components/contribute2/archive-items-input.tsx
Due: prettier --write, eslint --fix

fix: correct UA archive regex
  src/app/components/contribute2/archive-items-input.tsx
Due: prettier --write, eslint --fix

Add record submission DAKhmO-315-1-8563-Borivka-nicholas
  data/records/DAKhmO-315-1-8563-Borivka-nicholas.yaml
  public/csv/DAKhmO-315-1-8563-Borivka-nicholas.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Borivka-nicholas.csv
Due: none

fix: allow no updates
  .github/workflows/daily-report.yml
Due: prettier --write

Add record submission DAKhmO-315-1-8563-Bukatynka
  data/records/DAKhmO-315-1-8563-Bukatynka.yaml
  public/csv/DAKhmO-315-1-8563-Bukatynka.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Bukatynka.csv
Due: none

feat: better cleanup announcement
  CONVENTIONS.md
  specs/001-step-2-cleanup-elaboration.md
  src/app/components/contribute2/data-grid.module.css
  src/app/components/contribute2/data-grid.tsx
Due: prettier --write, eslint --fix

feat: move location selection down
  specs/002-step-3-restructuring.md
  src/app/components/contribute2/context-form.tsx
  src/app/components/contribute2/sources-input.tsx
Due: prettier --write, eslint --fix

fix: move Turnstile down
  specs/003-relocate-captcha-down.md
  src/app/components/contribute2/contribute-form.tsx
Due: prettier --write, eslint --fix

feat: better archive items input
  CONVENTIONS.md
  specs/004-archive-items-improvement.md
  src/app/components/contribute2/archive-items-input.module.css
  src/app/components/contribute2/archive-items-input.tsx
  src/app/helpers/ukr-archive-regex.ts
Due: prettier --write, eslint --fix

feat: improve AuthorForm
  specs/005-author-form-improvement.md
  src/app/components/contribute2/author-form.module.css
  src/app/components/contribute2/author-form.tsx
Due: prettier --write, eslint --fix

feat: improve ContextForm
  specs/006-context-form-improvement.md
  src/app/components/contribute2/context-form.module.css
  src/app/components/contribute2/context-form.tsx
  src/app/components/contribute2/use-location-search.ts
Due: prettier --write, eslint --fix

feat: improve contribution form 2
  specs/007-contribute-form-2-improvement.md
  src/app/[tableId]/[page]/table-content.test.tsx
  src/app/components/contact-gate.tsx
  src/app/components/contribute2/archive-items-input.tsx
  src/app/components/contribute2/contribute-form.module.css
  src/app/components/contribute2/contribute-form.tsx
  src/app/components/contribute2/contribution-state.ts
  src/app/components/contribute2/csv-dropzone.tsx
  src/app/components/contribute2/review-summary.tsx
  src/app/components/contribute2/use-submit-contribution.ts
  src/app/components/contribute2/years-input.tsx
  src/app/components/details.tsx
  src/app/components/modal.tsx
  src/app/layout.tsx
  src/app/providers/error-boundary.spec.tsx
  src/app/providers/error-boundary.tsx
  src/app/providers/posthog.spec.tsx
  src/app/providers/posthog.tsx
  src/app/volunteers/[volunteerSlug]/page.spec.tsx
  src/app/volunteers/page.spec.tsx
Due: prettier --write, eslint --fix

fix: better CsvDropzone
  specs/008-csv-dropzone-improvement.md
  src/app/components/contribute2/csv-dropzone.module.css
  src/app/components/contribute2/csv-dropzone.tsx
  src/app/components/contribute2/types.ts
  src/app/helpers/format-bytes.ts
  src/app/helpers/is-csv-file.ts
Due: prettier --write, eslint --fix

fix: refactored DataGrid
  specs/009-improve-data-grid.md
  src/app/components/contribute2/data-grid.module.css
  src/app/components/contribute2/data-grid.tsx
  src/app/components/contribute2/grid-control-bar.tsx
  src/app/components/contribute2/grid-pagination.tsx
  src/app/components/contribute2/grid-row.tsx
  src/app/components/contribute2/grid-table.tsx
  src/app/components/contribute2/use-grid-preview.ts
Due: prettier --write, eslint --fix

feat: improved spatial input
  specs/010-location-picker-improvement.md
  src/app/components/contribute2/context-form.tsx
  src/app/components/contribute2/location-picker.tsx
  src/app/components/contribute2/review-summary.tsx
  src/app/components/contribute2/schema.ts
  src/app/components/contribute2/spatial-input.tsx
  src/app/components/contribute2/use-form-auto-fill.ts
Due: prettier --write, eslint --fix

feat: improved review summary
  specs/011-review-summary-improvement.md
  src/app/components/contribute2/review-summary.module.css
  src/app/components/contribute2/review-summary.tsx
  src/app/components/contribute2/spatial-input.tsx
  src/app/components/contribute2/stepper.tsx
  src/app/components/contribute2/steps.tsx
Due: prettier --write, eslint --fix
