Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md,yml}": "prettier --write"
}

Update and rename troianiv-1915-mk-shliub-dazho-178-3-262-kostel.yaml to DAZhO-178-3-262-1915.yaml
  data/records/DAZhO-178-3-262-1915.yaml
Due: none

Add TsDIAK-1993-1-8.yaml record file
  data/records/TsDIAK-1993-1-8.yaml
Due: none

fix Kostohryzove location
  data/records/DAOO-6-1-239-Kostohryzove.yaml
Due: none

Add record submission mk-sl-petrovska-1734-narodzhennia
  data/records/mk-sl-petrovska-1734-narodzhennia.yaml
  public/csv/mk-sl-petrovska-1734-narodzhennia.csv
Due: none

Add record submission mk-sl-petrovska-1734-petra-i-pavla
  data/records/mk-sl-petrovska-1734-petra-i-pavla.yaml
  public/csv/mk-sl-petrovska-1734-petra-i-pavla.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/mk-sl-petrovska-1734-petra-i-pavla.csv
Due: none

Add record submission mk-sl-petrovska-1735
  data/records/mk-sl-petrovska-1735.yaml
  public/csv/mk-sl-petrovska-1735.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/mk-sl-petrovska-1735.csv
Due: none

Add record submission dakho40-105-10
  data/records/dakho40-105-10.yaml
  public/csv/dakho40-105-10.csv
Due: none

Update and rename mk-sl-petrovska-1734-narodzhennia.yaml to TsDIAK-1993-1-8-1734.yaml
  data/records/TsDIAK-1993-1-8-1734.yaml
Due: none

Update and rename dakho40-105-10.yaml to DAKhO-40-105-10.yaml
  data/records/DAKhO-40-105-10.yaml
Due: none

Fix title formatting in DAKhO-40-105-10.yaml
  data/records/DAKhO-40-105-10.yaml
Due: none

fix: adjust Kharkiv area
  data/records/DAKhO-40-105-10.yaml
  data/records/TsDIAK-2009-1-4848.yaml
  data/records/TsDIAK-2009-1-4851.yaml
  data/records/TsDIAK-2009-1-4856.yaml
  data/records/tsdiak-2009-1-4855.yaml
  data/records/tsdiak-2009-1-4857.yaml
Due: none

Update and rename TsDIAK-1993-1-8-1734.yaml to TsDIAK-1993-1-8-1734-Mary-nativity.yaml
  data/records/TsDIAK-1993-1-8-1734-Mary-nativity.yaml
Due: none

Add TsDIAK-1993-1-8-1734-Peter-Paul.yaml file
  data/records/TsDIAK-1993-1-8-1734-Peter-Paul.yaml
Due: none

fix: Karasivka to Kharkiv
  data/records/tsdiak-2009-1-4857.yaml
Due: none

Update and rename mk-sl-petrovska-1735.yaml to TsDIAK-1993-1-8-1735.yaml
  data/records/TsDIAK-1993-1-8-1735.yaml
Due: none

fix: Sloboda Petrovska location
  data/records/TsDIAK-1993-1-8-1734-Mary-nativity.yaml
  data/records/TsDIAK-1993-1-8-1734-Peter-Paul.yaml
  data/records/TsDIAK-1993-1-8-1735.yaml
  data/records/TsDIAK-1993-1-8.yaml
Due: none

new Aider config
  .aider.conf.yml
Due: prettier --write

test: add test coverage check script
  package.json
Due: prettier --write

chore: setup stylelint configuration and scripts
  .stylelintignore
  .stylelintrc.json
  package.json
Due: prettier --write

improve CSS
  .aider.conf.yml
  .lintstagedrc.json
  .stylelintignore
  .stylelintrc.json
  src/app/[tableId]/[page]/page.module.css
  src/app/components/archive-item.module.css
  src/app/components/contribute/archive-items-input.module.css
  src/app/components/contribute/author-form.module.css
  src/app/components/contribute/context-form.module.css
  src/app/components/contribute/contribute-form.module.css
  src/app/components/contribute/csv-dropzone.module.css
  src/app/components/contribute/data-grid.module.css
  src/app/components/contribute/review-summary.module.css
  src/app/components/contribute/source-input.module.css
  src/app/components/contribute/sources-input.module.css
  src/app/components/contribute/step.module.css
  src/app/components/contribute/stepper.module.css
  src/app/components/contribute/success-panel.module.css
  src/app/components/contribute/years-input.module.css
  src/app/components/cookie-banner.module.css
  src/app/components/dynamic-value.module.css
  src/app/components/header.module.css
  src/app/components/highlighted-text.module.css
  src/app/components/index-table.module.css
  src/app/components/modal.module.css
  src/app/components/search-controls.module.css
  src/app/components/search-pagination.module.css
  src/app/components/search-result.module.css
  src/app/components/search-results.module.css
  src/app/globals.css
  src/app/tables/page.module.css
  src/app/volunteers/page.module.css
  src/app/volunteers/ranks.module.css
  yarn.lock
Due: prettier --write

test: add unit tests for contribute form schemas
  src/app/components/contribute/schema.test.ts
Due: prettier --write, eslint --fix

test: fix vitest/no-conditional-expect lint errors
  src/app/components/contribute/schema.test.ts
Due: prettier --write, eslint --fix

test: add unit tests for table-state store
  src/app/components/contribute/table-state.test.ts
Due: prettier --write, eslint --fix

test: migrate table-state tests from Jest to Vitest
  src/app/components/contribute/table-state.test.ts
Due: prettier --write, eslint --fix

style: sort imports in table-state.test.ts
  src/app/components/contribute/table-state.test.ts
Due: prettier --write, eslint --fix

test: add unit tests for craft-initial-table-state
  src/app/components/contribute/craft-initial-table-state.test.ts
Due: prettier --write, eslint --fix

style: run linter
  src/app/components/contribute/craft-initial-table-state.test.ts
Due: prettier --write, eslint --fix

test: add unit tests for default-values
  src/app/components/contribute/default-values.test.ts
Due: prettier --write, eslint --fix

style: sort imports in default-values.test.ts
  src/app/components/contribute/default-values.test.ts
Due: prettier --write, eslint --fix

fix: handle empty rows in table state and fix schema tests
  src/app/components/contribute/craft-initial-table-state.ts
  src/app/components/contribute/schema.test.ts
Due: prettier --write, eslint --fix

general improvements
  CONVENTIONS.md
  src/app/components/contribute/default-values.test.ts
Due: prettier --write, eslint --fix

test: add unit tests for local-storage in contribute component
  src/app/components/contribute/local-storage.test.ts
Due: prettier --write, eslint --fix

test: fix missing authorEmail in default-values test
  src/app/components/contribute/default-values.test.ts
Due: prettier --write, eslint --fix

improve
  .aider.conf.yml
  src/app/volunteers/[volunteerSlug]/page.tsx
Due: prettier --write, eslint --fix

test: add unit tests for importPayloadSchema
  src/shared/schemas/import.test.ts
Due: prettier --write, eslint --fix

test: add unit tests for get-table-data
  src/shared/get-table-data.test.ts
Due: prettier --write, eslint --fix

style: reorder imports in get-table-data.test.ts
  src/shared/get-table-data.test.ts
Due: prettier --write, eslint --fix

test: add unit tests for get-tables-metadata
  src/shared/get-tables-metadata.test.ts
Due: prettier --write, eslint --fix
