Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix Dzyhivka location
  data/records/DAKhmO-315-1-8563-Dzyhivka.yaml
Due: none

Add record submission DASO-R7720-5-94
  data/records/DASO-R7720-5-94.yaml
  public/csv/DASO-R7720-5-94.csv
Due: none

Add record submission handrabury-ananivskyi-pov-khersonska-hub-shliuby-1912
  data/records/handrabury-ananivskyi-pov-khersonska-hub-shliuby-1912.yaml
  public/csv/handrabury-ananivskyi-pov-khersonska-hub-shliuby-1912.csv
Due: none

Add record submission DASO-R7720-5-95
  data/records/DASO-R7720-5-95.yaml
  public/csv/DASO-R7720-5-95.csv
Due: none

Add record submission DASO-R7720-5-96
  data/records/DASO-R7720-5-96.yaml
  public/csv/DASO-R7720-5-96.csv
Due: none

Add DAOO-896-1-51-Handrabury.yaml file
  data/records/DAOO-896-1-51-Handrabury.yaml
Due: none

Add record submission ivankiv-radomyshlskyi-pov-kyivska-hub-shliuby-1822-1830
  data/records/ivankiv-radomyshlskyi-pov-kyivska-hub-shliuby-1822-1830.yaml
  public/csv/ivankiv-radomyshlskyi-pov-kyivska-hub-shliuby-1822-1830.csv
Due: none

Add record submission barvinkove-iziumskyi-pov-kharkivska-hub-shliuby-1907-1908
  data/records/barvinkove-iziumskyi-pov-kharkivska-hub-shliuby-1907-1908.yaml
  public/csv/barvinkove-iziumskyi-pov-kharkivska-hub-shliuby-1907-1908.csv
Due: none

fix: remove Dzyhivka church title
  data/records/DAKhmO-315-1-8563-Dzyhivka.yaml
Due: none

Add TsDIAK-127-1012 Ivankiv marriage records
  data/records/TsDIAK-127-1012-Ivankiv-marriage-1822-1830.yaml
Due: none

Add DAKhO marriage records for 1907-1908
  data/records/DAKhO-40-138-82-marriage-1907-1908.yaml
Due: none

feat: Blukach
  src/app/layout.tsx
  src/app/not-welcome/page.module.css
Due: prettier --write, eslint --fix

fix: remove fix
  src/app/not-welcome/page.module.css
  src/app/not-welcome/page.tsx
Due: prettier --write, eslint --fix

Add record submission DAKhmO-315-1-8563-Dovzhok
  data/records/DAKhmO-315-1-8563-Dovzhok.yaml
  public/csv/DAKhmO-315-1-8563-Dovzhok.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Dovzhok.csv
Due: none

Add record submission DASO-R7720-5-101
  data/records/DASO-R7720-5-101.yaml
  public/csv/DASO-R7720-5-101.csv
Due: none

Add record submission DASO-R7720-5-102
  data/records/DASO-R7720-5-102.yaml
  public/csv/DASO-R7720-5-102.csv
Due: none

Add record submission DASO-R7720-5-103
  data/records/DASO-R7720-5-103.yaml
  public/csv/DASO-R7720-5-103.csv
Due: none

Add record submission DASO-R7720-5-104
  data/records/DASO-R7720-5-104.yaml
  public/csv/DASO-R7720-5-104.csv
Due: none

Add record submission DASO-R7720-5-105
  data/records/DASO-R7720-5-105.yaml
  public/csv/DASO-R7720-5-105.csv
Due: none

Add record submission DASO-R7720-5-106
  data/records/DASO-R7720-5-106.yaml
  public/csv/DASO-R7720-5-106.csv
Due: none

Add record submission DASO-R7720-5-107
  data/records/DASO-R7720-5-107.yaml
  public/csv/DASO-R7720-5-107.csv
Due: none

Add record submission DASO-R7720-5-108
  data/records/DASO-R7720-5-108.yaml
  public/csv/DASO-R7720-5-108.csv
Due: none

Add record submission DASO-R7720-5-109
  data/records/DASO-R7720-5-109.yaml
  public/csv/DASO-R7720-5-109.csv
Due: none

Add record submission DASO-R7720-5-110
  data/records/DASO-R7720-5-110.yaml
  public/csv/DASO-R7720-5-110.csv
Due: none

chore: update alternative data views label
  src/app/[tableId]/[page]/table-content.tsx
Due: prettier --write, eslint --fix

refactor: improve table architecture and accessibility
  src/app/[tableId]/[page]/table-content.tsx
  src/app/components/index-table-cell.tsx
  src/app/components/index-table-row.tsx
  src/app/components/index-table.tsx
Due: prettier --write, eslint --fix

fix: resolve no-base-to-string eslint error in index-table-cell
  src/app/components/index-table-cell.tsx
Due: prettier --write, eslint --fix

test: fix failing archive-item and index-table tests
  src/app/components/archive-item.test.tsx
  src/app/components/index-table.test.tsx
Due: prettier --write, eslint --fix

chore: remove unused suspenseFallback class
  src/app/[tableId]/[page]/page.module.css
Due: prettier --write

refactor: update CSS architecture and layout for page module
  src/app/[tableId]/[page]/page.module.css
Due: prettier --write

refactor: update layout max-width and print styles
  src/app/layout.module.css
Due: prettier --write

style: implement table CSS performance and layout spec
  src/app/components/index-table.module.css
Due: prettier --write

style: format index-table.module.css
  src/app/components/index-table.module.css
Due: prettier --write

style: fix stylelint errors in index-table.module.css
  src/app/components/index-table.module.css
Due: prettier --write

CSS improvements
  specs/036-improve-table-render.md
  specs/036-table-css-improve.md
  specs/037-layout-css-improve.md
  specs/038-index-table-css-improve.md
  src/app/[tableId]/[page]/table-content.module.css
  src/app/[tableId]/[page]/table-content.tsx
  src/app/about/page.module.css
  src/app/about/page.tsx
  src/app/components/archive-item.tsx
  src/app/components/index-table-cell.tsx
  src/app/components/index-table-row.tsx
  src/app/components/index-table.module.css
  src/app/license/page.module.css
  src/app/license/page.tsx
  src/app/privacy/page.module.css
  src/app/privacy/page.tsx
Due: prettier --write, eslint --fix

Add record submission DAKhmO-315-1-8563-Doroshivka
  data/records/DAKhmO-315-1-8563-Doroshivka.yaml
  public/csv/DAKhmO-315-1-8563-Doroshivka.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Doroshivka.csv
Due: none

feat: Transcribe auth
  package.json
  src/app/environment.ts
  src/app/transcribe/components/logout-button.tsx
  src/app/transcribe/layout.tsx
  src/app/transcribe/login/page.module.css
  src/app/transcribe/login/page.tsx
  src/app/transcribe/page.tsx
  src/app/transcribe/schemata.ts
  src/app/transcribe/user.tsx
  src/server/.env.example
  src/server/package.json
  src/server/src/app.ts
  src/server/src/database/client.ts
  src/server/src/database/create-user.ts
  src/server/src/database/find-user-by-google-id.ts
  src/server/src/database/find-user-by-id.ts
  src/server/src/environment.ts
  src/server/src/handlers/handle-transcribe-auth-delete.ts
  src/server/src/handlers/handle-transcribe-auth-google.ts
  src/server/src/handlers/handle-transcribe-auth-me.ts
  src/server/src/helpers/generate-id.ts
  src/server/src/helpers/verify-token.ts
  src/server/src/schemata.ts
  src/server/yarn.lock
  yarn.lock
Due: prettier --write, eslint --fix

fix: make check-pr generate Kysely types
  .github/workflows/check-pr.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
