Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md,yml}": "prettier --write"
}

ci: provide environment variables for server tests
  .github/workflows/main.yml
Due: prettier --write

chore(opencode): authorize explicit commit command
  .opencode/agents/build.md
  .opencode/agents/execute.md
  .opencode/commands/commit.md
  AGENTS.md
Due: prettier --write

fix(auth): preserve protected route after login
  src/app/account/components/account-auth-state.test.ts
  src/app/account/components/account-auth-state.ts
  src/app/account/components/user.test.tsx
  src/app/account/components/user.tsx
  src/app/account/karma/page.test.tsx
  src/app/account/karma/page.tsx
  src/app/account/login/page.test.tsx
  src/app/account/login/page.tsx
Due: prettier --write, eslint --fix

feat(account): polish authentication experience
  src/app/account/components/account-header.module.css
  src/app/account/components/account-header.test.tsx
  src/app/account/components/account-header.tsx
  src/app/account/karma/layout.test.tsx
  src/app/account/karma/layout.tsx
  src/app/account/karma/page.module.css
  src/app/account/karma/page.tsx
  src/app/account/layout.test.tsx
  src/app/account/layout.tsx
  src/app/account/login/layout.test.tsx
  src/app/account/login/layout.tsx
  src/app/account/login/page.module.css
  src/app/account/login/page.test.tsx
  src/app/account/login/page.tsx
  src/app/account/page.module.css
  src/app/account/page.test.tsx
  src/app/account/page.tsx
  src/app/account/transcribe/create/page.test.tsx
Due: prettier --write, eslint --fix

Add record submission DAKhmO--315-1-8330-Holiaky
  data/csv/DAKhmO--315-1-8330-Holiaky.csv
  data/records/DAKhmO--315-1-8330-Holiaky.yaml
Due: none

Fix ID format and update title in YAML file
  data/records/DAKhmO-315-1-8330-Holiaky.yaml
Due: none

Add DAZhO birth records YAML file
  data/records/DAZhO-1-74-Cherche-1834-1841-birth.yaml
Due: none

Update title in marriage record YAML file
  data/records/DAZhO-1-74-Cherche-1834-1841-marriage.yaml
Due: none

fix(karma): center account page content
  src/app/account/karma/page.module.css
Due: prettier --write

Add DAZhO-1-74-Cherche death records YAML file
  data/records/DAZhO-1-74-Cherche-1834-1841-death.yaml
Due: none

fix(account): isolate search parameter consumers for static export
  src/app/account/components/account-header.tsx
  src/app/account/karma/karma-connections-client.test.tsx
  src/app/account/karma/karma-connections-client.tsx
  src/app/account/karma/page.tsx
  src/app/account/login/login-client.test.tsx
  src/app/account/login/login-client.tsx
  src/app/account/login/page.tsx
Due: prettier --write, eslint --fix

fix(ui): improve public and account header navigation
  src/app/account/components/account-header.module.css
  src/app/account/components/account-header.test.tsx
  src/app/account/components/account-header.tsx
  src/app/account/components/user.tsx
  src/app/components/header.module.css
  src/app/components/header.test.tsx
  src/app/components/header.tsx
Due: prettier --write, eslint --fix

chore(opencode): update default model
  opencode.json
Due: prettier --write

feat(karma): build private statistics index
  .github/workflows/main.yml
  src/server/package.json
  src/server/src/app.ts
  src/server/src/environment.ts
  src/server/src/scripts/generate-karma-stats.test.ts
  src/server/src/scripts/generate-karma-stats.ts
  src/server/src/services/karma-calculator.test.ts
  src/server/src/services/karma-calculator.ts
  src/server/src/services/karma-source.test.ts
  src/server/src/services/karma-source.ts
Due: prettier --write, eslint --fix

fix(ui): keep mobile landscape menu within viewport
  src/app/components/header.module.css
Due: prettier --write

fix(api): make health metadata resilient
  .github/workflows/main.yml
  src/server/src/app.test.ts
  src/server/src/app.ts
Due: prettier --write, eslint --fix

ci(api): propagate Karma internal token
  .github/workflows/main.yml
Due: prettier --write

fix(metadata): keep contributor emails out of public metadata
  src/app/helpers/generate-metadata.test.ts
  src/app/helpers/generate-metadata.ts
  src/app/helpers/get-author.test.ts
  src/app/helpers/get-author.ts
  src/app/tables/generate-json-ld.test.tsx
Due: prettier --write, eslint --fix

feat(metadata): add archival JSON-LD metadata
  src/app/helpers/format-json-ld-metadata.ts
  src/app/helpers/generate-metadata.test.ts
  src/app/helpers/generate-metadata.ts
  src/app/tables/generate-json-ld.test.tsx
  src/app/tables/generate-json-ld.ts
Due: prettier --write, eslint --fix

Add record submission marhanets-shliuby-rozluchennia-ratss-1934-1935-dadno-r6508-9-39
  data/csv/marhanets-shliuby-rozluchennia-ratss-1934-1935-dadno-r6508-9-39.csv
  data/records/marhanets-shliuby-rozluchennia-ratss-1934-1935-dadno-r6508-9-39.yaml
Due: none

feat(blog): add technical blog publishing
  README.md
  data/blog/README.md
  src/app/blog/[slug]/page.module.css
  src/app/blog/[slug]/page.test.tsx
  src/app/blog/[slug]/page.tsx
  src/app/blog/blog-content.test.ts
  src/app/blog/blog-content.ts
  src/app/blog/page.module.css
  src/app/blog/page.test.tsx
  src/app/blog/page.tsx
  src/app/components/header.test.tsx
  src/app/components/header.tsx
  src/app/license/page.tsx
Due: prettier --write, eslint --fix

Add record submission dato-486-1-91119dzvyniachabirth
  data/csv/dato-486-1-91119dzvyniachabirth.csv
  data/records/dato-486-1-91119dzvyniachabirth.yaml
Due: none

feat(metadata): enrich archive structured data
  src/app/[tableId]/[page]/page.test.tsx
  src/app/[tableId]/[page]/page.tsx
  src/app/helpers/format-json-ld-metadata.ts
  src/app/helpers/generate-metadata.test.ts
  src/app/helpers/generate-metadata.ts
  src/app/helpers/serialize-json-ld.test.ts
  src/app/helpers/serialize-json-ld.ts
  src/app/index-json-ld.tsx
  src/app/tables/table-json-ld.tsx
  src/shared/get-archives-metadata.test.ts
  src/shared/get-archives-metadata.ts
  src/shared/package.json
  src/shared/schemas/archive.test.ts
  src/shared/schemas/archive.ts
Due: prettier --write, eslint --fix

fix(archive): allow missing archive websites
  src/app/helpers/format-json-ld-metadata.test.ts
  src/app/helpers/format-json-ld-metadata.ts
  src/shared/get-archives-metadata.test.ts
  src/shared/schemas/archive.test.ts
  src/shared/schemas/archive.ts
Due: prettier --write, eslint --fix

feat(data): add Ukrainian archive metadata
  data/archives/ДАІФО.yaml
  data/archives/ДААРК.yaml
  data/archives/ДАВоО.yaml
  data/archives/ДАВіО.yaml
  data/archives/ДАДнО.yaml
  data/archives/ДАДоО.yaml
  data/archives/ДАЖО.yaml
  data/archives/ДАЗпО.yaml
  data/archives/ДАК.yaml
  data/archives/ДАКО.yaml
  data/archives/ДАКрО.yaml
  data/archives/ДАЛО.yaml
  data/archives/ДАЛуО.yaml
  data/archives/ДАОО.yaml
  data/archives/ДАПО.yaml
  data/archives/ДАРО.yaml
  data/archives/ДАСО.yaml
  data/archives/ДАТО.yaml
  data/archives/ДАХО.yaml
  data/archives/ДАХеО.yaml
  data/archives/ДАХмО.yaml
  data/archives/ДАЧгО.yaml
  data/archives/ДАЧкО.yaml
  data/archives/ЦДІАК.yaml
  data/archives/ЦДІАЛ.yaml
  data/archives/ЦДАВО.yaml
  data/records/helmiaziv-ekstrakty-1811-1921-rizne.yaml
Due: none

docs(blog): add structured data article
  data/blog/2026-08-26-structured-data.md
Due: prettier --write

chore(ci): trigger deploy
  .github/workflows/main.yml
Due: prettier --write

fix(blog): remove bullets from article tags
  src/app/blog/[slug]/page.test.tsx
  src/app/blog/[slug]/page.tsx
Due: prettier --write, eslint --fix

Add record submission rodnykivka
  data/csv/rodnykivka.csv
  data/records/rodnykivka.yaml
Due: none

Add record submission polianetske
  data/csv/polianetske.csv
  data/records/polianetske.yaml
Due: none

Add record submission pikivets
  data/csv/pikivets.csv
  data/records/pikivets.yaml
Due: none

docs(search): expand heterogeneous search article
  data/blog/2026-08-27-unstructured-search-data.md
Due: prettier --write

docs(search): clarify structured data article
  data/blog/2026-08-26-structured-data.md
Due: prettier --write

fix(blog): remove bullets from article tags
  src/app/blog/page.tsx
Due: prettier --write, eslint --fix

docs(blog): remove tracking parameters from links
  data/blog/2026-08-27-unstructured-search-data.md
Due: prettier --write

fix(sharhoroots): hide prompt on not-welcome
  src/app/components/sharhoroots-prompt.test.tsx
  src/app/components/sharhoroots-prompt.tsx
Due: prettier --write, eslint --fix

fix lock
  yarn.lock
Due: none

fix(styles): layout/main element - defined separate stacking context to avoid overlapping with the header
  src/app/layout.module.css
Due: prettier --write

Add record submission tolochkoprokhoryekstrakty
  data/csv/tolochkoprokhoryekstrakty.csv
  data/records/tolochkoprokhoryekstrakty.yaml
Due: none
