Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(server): correct TypeScript server build output
  src/server/package.json
  src/server/tsconfig.json
Due: prettier --write

ci(workflow): copy package.json to dist during API build
  .github/workflows/main.yml
Due: prettier --write

fix(ci): fail deploy-api when koreni-api does not start
  .github/workflows/main.yml
Due: prettier --write

fix(deploy): prevent node_modules deletion in API deploy
  .github/workflows/main.yml
Due: prettier --write

fix(ci): fix heredoc EOF indentation in deploy-api
  .github/workflows/main.yml
Due: prettier --write

fix(server): declare runtime deps for production
  src/server/package.json
  yarn.lock
Due: prettier --write

fix(security): force postcss >=8.5.23 via yarn resolutions
  package.json
  yarn.lock
Due: prettier --write

Add record submission daso-r-7720-5-201
  data/csv/daso-r-7720-5-201.csv
  data/records/daso-r-7720-5-201.yaml
Due: none

fix(security): upgrade Next.js to pull patched sharp/libvips
  next.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

fix(security): upgrade PostHog to remove vulnerable OpenTelemetry dependency
  package.json
  src/server/package.json
  yarn.lock
Due: prettier --write

fix(security): patch esbuild arbitrary file read on Windows dev server
  package.json
  src/server/package.json
  yarn.lock
Due: prettier --write

fix(react): avoid cascading renders in table/search and language guard
  src/app/components/index-table.tsx
  src/app/components/search-controls.tsx
  src/app/components/unknown-value.tsx
  src/app/hooks/use-no-russians.tsx
Due: prettier --write, eslint --fix

fix(table): restore SSG scroll+highlight using Suspense-isolated param reader
  src/app/[tableId]/[page]/table-content.test.tsx
  src/app/[tableId]/[page]/table-content.tsx
  src/app/components/index-table-with-parameters.test.tsx
  src/app/components/index-table-with-parameters.tsx
  src/app/components/index-table.test.tsx
  src/app/components/index-table.tsx
  src/app/components/search-parameters-listener.tsx
  src/app/components/table-parameter-reader.test.tsx
  src/app/components/table-parameter-reader.tsx
  src/app/helpers/escape-reg-exp.ts
  src/app/hooks/use-search-parameters-hack.ts
Due: prettier --write, eslint --fix

fix(index-table): report scroll target misses to Bugsnag
  src/app/components/index-table-row.test.tsx
  src/app/components/index-table-row.tsx
  src/app/components/index-table.test.tsx
  src/app/components/index-table.tsx
Due: prettier --write, eslint --fix

Add record submission zbirna-metryka-pro-narodzhennia-czorcze-1805-1825
  data/csv/zbirna-metryka-pro-narodzhennia-czorcze-1805-1825.csv
  data/records/zbirna-metryka-pro-narodzhennia-czorcze-1805-1825.yaml
Due: none

Add record submission zbirna-metryka-pro-shliub-czorcze-1808-1825
  data/csv/zbirna-metryka-pro-shliub-czorcze-1808-1825.csv
  data/records/zbirna-metryka-pro-shliub-czorcze-1808-1825.yaml
Due: none

Add record submission zbirna-metryka-pro-smert-czorcze-1806-1825
  data/csv/zbirna-metryka-pro-smert-czorcze-1806-1825.csv
  data/records/zbirna-metryka-pro-smert-czorcze-1806-1825.yaml
Due: none

Add record submission metryka-pro-narodzhennia-czorcze-1827
  data/csv/metryka-pro-narodzhennia-czorcze-1827.csv
  data/records/metryka-pro-narodzhennia-czorcze-1827.yaml
Due: none

Add record submission metryka-pro-shliub-czorcze-1827
  data/csv/metryka-pro-shliub-czorcze-1827.csv
  data/records/metryka-pro-shliub-czorcze-1827.yaml
Due: none

Add record submission metryka-pro-smert-czorcze-1827
  data/csv/metryka-pro-smert-czorcze-1827.csv
  data/records/metryka-pro-smert-czorcze-1827.yaml
Due: none

fix(contribute): silence LocationIQ AbortError telemetry on unmount
  src/app/components/contribute/use-location-search.test.ts
  src/app/components/contribute/use-reverse-geocode.test.ts
  src/app/components/contribute/use-reverse-geocode.ts
  src/app/services/locationiq.test.ts
  src/app/services/locationiq.ts
Due: prettier --write, eslint --fix

fix(ci): update Yarn install flags
  .github/workflows/enrich-data.yml
Due: prettier --write

Rename title for birth records from Czorcze to Cherche
  data/records/DAVoO-382-3-Cherche-1805-1825-birth.yaml
Due: none

chore(ci): use yarn install --immutable
  .github/workflows/typesense.yml
Due: prettier --write

chore(ci): replace deprecated yarn flags with --immutable
  .github/workflows/check-pr.yml
  .github/workflows/daily-report.yml
  .github/workflows/main.yml
Due: prettier --write

Update title in marriage records YAML file
  data/records/DAVoO-382-3-Cherche-1808-1825-marriage.yaml
Due: none

test(contribute): stabilize use-location-search tests
  src/app/components/contribute/use-location-search.test.ts
Due: prettier --write, eslint --fix

Update title in death records YAML file
  data/records/DAVoO-382-3-Cherche-1806-1825-death.yaml
Due: none

Update and rename metryka-pro-narodzhennia-czorcze-1827.yaml to DAVoO-382-3-116-Cherche-birth.yaml
  data/records/DAVoO-382-3-116-Cherche-birth.yaml
Due: none

fix(ci): checkout PR branch to avoid detached HEAD
  .github/workflows/enrich-data.yml
Due: prettier --write

Update and rename metryka-pro-shliub-czorcze-1827.yaml to DAVoO-382-3-116-Cherche-marriage.yaml
  data/records/DAVoO-382-3-116-Cherche-marriage.yaml
Due: none

Update title in Cherche-death.yaml file
  data/records/DAVoO-382-3-116-Cherche-death.yaml
Due: none

fix(search): handle Typesense found-count over-approximation on empty pagination pages
  src/app/components/search.tsx
  src/app/hooks/use-search.test.tsx
  src/app/hooks/use-search.tsx
  src/app/services/search.test.ts
  src/app/services/search.ts
Due: prettier --write, eslint --fix

chore(opencode): update model configurations for agents and commands
  .opencode/agents/build.md
  .opencode/agents/ideate.md
  .opencode/agents/plan.md
  .opencode/commands/commit.md
  .opencode/commands/lint-css.md
  .opencode/commands/lint.md
  .opencode/commands/refactor.md
  .opencode/commands/scaffold-test-server.md
  .opencode/commands/scaffold-test.md
Due: prettier --write

feat(project): add project type support and update database schema
  package.json
  src/app/transcribe/create/page.tsx
  src/server/local.db
  src/server/src/database/client.ts
  src/server/src/database/create-project.ts
  src/server/src/database/schema.sql
  src/server/src/schemata.ts
Due: prettier --write, eslint --fix

chore(deps): add sonner
  yarn.lock
Due: none

fix(server): transition to repository-owned Kysely database types
  .github/workflows/check-pr.yml
  src/app/transcribe/components/user.tsx
  src/app/transcribe/login/page.tsx
  src/app/transcribe/services/api.ts
  src/server/package.json
  src/server/specs/001-project-create.md
  src/server/src/database/client.ts
  src/server/src/database/generated.ts
Due: prettier --write, eslint --fix

fix(comments): serve custom telegram and google svgs via exact nginx locations
  public/comments/web/google.svg
  public/comments/web/telegram.svg
  scripts/server/nginx.conf
Due: none

ci(nginx): add automated gated deployment, validation, and rollback
  .github/workflows/main.yml
  .prettierignore
  scripts/server/nginx-deployment-contract.md
  scripts/server/nginx.conf
Due: prettier --write

chore(husky): use yarn lint-staged in pre-commit hook
  .husky/pre-commit
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
