Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md,yml}": "prettier --write"
}

Add record submission pomerli-1874
  data/records/pomerli-1874.yaml
  public/csv/pomerli-1874.csv
Due: none

Add record submission DAKhmO-315-1-8330-Pedky
  data/records/DAKhmO-315-1-8330-Pedky.yaml
  public/csv/DAKhmO-315-1-8330-Pedky.csv
Due: none

Add DAKheO-R2588 Pishchane repatriants data file
  data/records/DAKheO-R2588-Pishchane-repatrianty.yaml
Due: none

Update and rename pishchane-kakhovskyi-r-n-khersonska-obl-spysok-pratsivnykiv-vynradhospu-imsolodukhina-1965.yaml to DAKheO-R3969-1-25.yaml
  data/records/DAKheO-R3969-1-25.yaml
Due: none

Add DAKheO-R3968-1 Nova Kakhovka records file
  data/records/DAKheO-R3968-1-Nova-Kakhovka-samodiialnist.yaml
Due: none

Add DAKheO-R4033-12.yaml record file
  data/records/DAKheO-R4033-12.yaml
Due: none

Update and rename khersonska-obl-spravy-represovanykh-dakheo-fr-4033-op11.yaml to DAKheO-R4033-11.yaml
  data/records/DAKheO-R4033-11.yaml
Due: none

Update and rename kozachi-laheri-dniprovskyi-pov-tavriiska-hub-smerti-1892-1893.yaml to DAKheO-259-28-12-death.yaml
  data/records/DAKheO-259-28-12-death.yaml
Due: none

Add DAKheO-259-28 death record for 1902-1903
  data/records/DAKheO-259-28-death-1902-1903.yaml
Due: none

Add DAZhO-1-77-82-Babushky-birth.yaml file
  data/records/DAZhO-1-77-82-Babushky-birth.yaml
Due: none

Update title in DAZhO-1-77-82-Babushky-death.yaml
  data/records/DAZhO-1-77-82-Babushky-death.yaml
Due: none

Update locale and title in Babushky birth record
  data/records/DAZhO-1-77-82-Babushky-birth.yaml
Due: none

Change tableLocale from 'uk' to 'ru'
  data/records/DAZhO-1-77-82-Babushky-death.yaml
Due: none

chore: auto-update data size [skip ci]
  public/csv/narodzhennia-tablytsia-1.csv
Due: none

Update and rename vesillia-tablytsia-1-2.yaml to DAZhO-1-77-82-Babushky-marriage.yaml
  data/records/DAZhO-1-77-82-Babushky-marriage.yaml
Due: none

chore: auto-update data size [skip ci]
  public/csv/pomerli-tablytsia-1.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/vesillia-tablytsia-1-2.csv
Due: none

Update title in Babushky birth record file
  data/records/DAZhO-1-77-76-Babushky-birth.yaml
Due: none

Change tableLocale from 'uk' to 'ru'
  data/records/DAZhO-1-77-76-Babushky-birth.yaml
Due: none

chore: auto-update data size [skip ci]
  public/csv/narodzhennia-1874.csv
Due: none

Add DAZhO-1-77-76-Babushky-marriage.yaml file
  data/records/DAZhO-1-77-76-Babushky-marriage.yaml
Due: none

chore: auto-update data size [skip ci]
  public/csv/vesillia-1874.csv
Due: none

Change tableLocale from 'uk' to 'ru'
  data/records/DAZhO-1-77-76-Babushky-death.yaml
Due: none

chore: auto-update data size [skip ci]
  public/csv/pomerli-1874.csv
Due: none

refactor: extract useCsvDropzone hook and add max-lines lint rule
  eslint.config.mjs
  src/app/components/contribute/constants.ts
  src/app/components/contribute/csv-dropzone.tsx
  src/app/components/contribute/use-csv-dropzone.ts
Due: prettier --write, eslint --fix

feat(transcribe): implement project management components and workspace enhancements
  src/app/transcribe/project/_components/assets-tab.test.tsx
  src/app/transcribe/project/_components/assets-tab.tsx
  src/app/transcribe/project/_components/metadata-tab.test.tsx
  src/app/transcribe/project/_components/metadata-tab.tsx
  src/app/transcribe/project/_components/navigation-tabs.test.tsx
  src/app/transcribe/project/_components/navigation-tabs.tsx
  src/app/transcribe/project/_components/operations-tab.test.tsx
  src/app/transcribe/project/_components/operations-tab.tsx
  src/app/transcribe/project/_components/project-header.test.tsx
  src/app/transcribe/project/_components/project-header.tsx
  src/app/transcribe/project/_hooks/use-asset-manager.test.ts
  src/app/transcribe/project/_hooks/use-asset-manager.ts
  src/app/transcribe/project/_hooks/use-project-data.test.ts
  src/app/transcribe/project/_hooks/use-project-data.ts
  src/app/transcribe/project/_hooks/use-project-schemas.test.ts
  src/app/transcribe/project/_hooks/use-project-schemas.ts
  src/app/transcribe/project/page.test.tsx
  src/app/transcribe/project/page.tsx
  src/app/transcribe/project/types.ts
  src/app/transcribe/workspace/_components/image-viewer.test.tsx
  src/app/transcribe/workspace/_components/transcription-table.test.tsx
  src/app/transcribe/workspace/page.test.tsx
Due: prettier --write, eslint --fix

Update author name to Ukrainian spelling
  data/records/DAZhO-1-77-82-Babushky-birth.yaml
Due: none

Update DAZhO-1-77-82-Babushky-death.yaml
  data/records/DAZhO-1-77-82-Babushky-death.yaml
Due: none

Update author name to 'Катерина К'
  data/records/DAZhO-1-77-82-Babushky-marriage.yaml
Due: none

Update author name to Kateryna K in YAML file
  data/records/DAZhO-1-77-76-Babushky-birth.yaml
Due: none

Update author name to Катерина К
  data/records/DAZhO-1-77-76-Babushky-marriage.yaml
Due: none

Update author name to include correct spelling
  data/records/DAZhO-1-77-76-Babushky-death.yaml
Due: none

feat(transcription-table): focus first cell after adding rows
  src/app/transcribe/workspace/_components/transcription-table.test.tsx
  src/app/transcribe/workspace/_components/transcription-table.tsx
  src/app/transcribe/workspace/_hooks/use-transcription-rows.ts
Due: prettier --write, eslint --fix

chore(opencode): refine command templates and verification script
  .opencode/agents/build.md
  .opencode/agents/ideate.md
  .opencode/agents/plan.md
  .opencode/commands/commit.md
  .opencode/commands/draft.md
  .opencode/commands/lint-css.md
  .opencode/commands/lint.md
  .opencode/commands/refactor.md
  .opencode/commands/scaffold-test-server.md
  .opencode/commands/scaffold-test.md
  .opencode/commands/test-route.md
  .opencode/commands/test-server.md
  .opencode/commands/test.md
  .opencode/commands/verify-esm.md
  scripts/opencode-check.sh
Due: prettier --write

chore(opencode): enable LSP in opencode config
  opencode.json
Due: prettier --write

fix(database): use Kysely sql for unixepoch updated_at
  src/server/src/database/update-project-image.ts
Due: prettier --write, eslint --fix

feat(transcribe): hydrate transcription rows from saved image transcription
  specs/074-transcription-hydration.md
  src/app/components/contribute/use-submit-contribution.ts
  src/app/transcribe/api/get-project-image.ts
  src/app/transcribe/schemata.ts
  src/app/transcribe/workspace/_hooks/use-transcription-rows.test.ts
  src/app/transcribe/workspace/_hooks/use-transcription-rows.ts
  src/server/src/database/schema.sql
  src/server/src/handlers/handle-project-image-get.test.ts
  src/server/src/handlers/handle-project-image-get.ts
Due: prettier --write, eslint --fix

feat(transcription-table): confirm row deletion in TranscriptionTable
  src/app/components/modal.module.css
  src/app/transcribe/workspace/_components/transcription-table.module.css
  src/app/transcribe/workspace/_components/transcription-table.test.tsx
  src/app/transcribe/workspace/_components/transcription-table.tsx
Due: prettier --write, eslint --fix

feat(transcribe): add CSV export for transcription rows
  src/app/transcribe/api/get-project-images.ts
  src/app/transcribe/api/get-project-schemas.ts
  src/app/transcribe/project/_components/operations-tab.test.tsx
  src/app/transcribe/project/_components/operations-tab.tsx
  src/app/transcribe/project/_hooks/use-csv-export.test.ts
  src/app/transcribe/project/_hooks/use-csv-export.ts
  src/app/transcribe/project/page.tsx
  src/app/transcribe/project/types.ts
  src/app/transcribe/workspace/_helpers/build-row-array-schema.test.ts
  src/app/transcribe/workspace/_helpers/build-row-array-schema.ts
  src/app/transcribe/workspace/_helpers/column-config.ts
  src/app/transcribe/workspace/_hooks/use-project-images.ts
  src/app/transcribe/workspace/_hooks/use-transcription-rows.ts
  src/server/src/database/get-project-images.ts
  src/server/src/handlers/handle-project-images-list.ts
Due: prettier --write, eslint --fix

Add record submission trubiivka-1907-rik-dazho-1-77-1905
  data/records/trubiivka-1907-rik-dazho-1-77-1905.yaml
  public/csv/trubiivka-1907-rik-dazho-1-77-1905.csv
Due: none
