Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md,yml}": "prettier --write"
}

chore(deps): remove unused @types/uuid
  yarn.lock
Due: none

ci(workflow): decouple frontend and backend CI/CD deployment jobs
  .github/workflows/main.yml
Due: prettier --write

chore(ops): trigger nginx config deployment
  scripts/server/nginx.conf
Due: none

ci(workflow): add yarn.lock to check-pr path filters
  .github/workflows/check-pr.yml
Due: prettier --write

feat(agents): add Investigator agent for defect diagnosis
  .opencode/agents/investigator.md
Due: prettier --write

fix(archive): refactor archive items to client-safe icon buttons and robust layout
  src/app/[tableId]/[page]/table-content.module.css
  src/app/components/archive-item.module.css
  src/app/components/archive-item.test.tsx
  src/app/components/archive-item.tsx
  src/app/constants/ukrainian-archives.ts
  vitest.setup.ts
Due: prettier --write, eslint --fix

fix(search): fix pagination total pages and next button state after empty search page retreat
  src/app/components/search.test.tsx
  src/app/hooks/use-search.test.tsx
  src/app/hooks/use-search.tsx
Due: prettier --write, eslint --fix

feat(account): introduce account module with authentication and transcribe integration
  package.json
  src/app/account/components/account-auth-state.test.ts
  src/app/account/components/account-auth-state.ts
  src/app/account/components/account-header.module.css
  src/app/account/components/account-header.test.tsx
  src/app/account/components/account-header.tsx
  src/app/account/components/logout-button.module.css
  src/app/account/components/logout-button.tsx
  src/app/account/components/user.test.tsx
  src/app/account/components/user.tsx
  src/app/account/layout.test.tsx
  src/app/account/layout.tsx
  src/app/account/login/page.module.css
  src/app/account/login/page.test.tsx
  src/app/account/login/page.tsx
  src/app/account/notification-provider.tsx
  src/app/account/page.module.css
  src/app/account/page.test.tsx
  src/app/account/page.tsx
  src/app/account/schemata.ts
  src/app/account/transcribe/components/projects-list.tsx
  src/app/account/transcribe/create/page.module.css
  src/app/account/transcribe/create/page.tsx
  src/app/account/transcribe/page.test.tsx
  src/app/account/transcribe/page.tsx
  src/app/environment.ts
  src/app/home-page.test.tsx
  src/app/layout.tsx
  src/app/services/api.ts
  src/app/sitemap.test.ts
  src/app/transcribe/components/transcribe-header.tsx
  src/app/transcribe/page.tsx
  src/server/src/middlewares/rate-limiter.ts
Due: prettier --write, eslint --fix

Add record submission zbirna-metryka-pro-narodzhennia-czorcze-1834-41
  data/csv/zbirna-metryka-pro-narodzhennia-czorcze-1834-41.csv
  data/records/zbirna-metryka-pro-narodzhennia-czorcze-1834-41.yaml
Due: none

Add record submission zbirna-metryka-pro-shliub-czorcze-1834-1841
  data/csv/zbirna-metryka-pro-shliub-czorcze-1834-1841.csv
  data/records/zbirna-metryka-pro-shliub-czorcze-1834-1841.yaml
Due: none

Add record submission zbirna-metryka-pro-smert-czorcze-1834-1841
  data/csv/zbirna-metryka-pro-smert-czorcze-1834-1841.csv
  data/records/zbirna-metryka-pro-smert-czorcze-1834-1841.yaml
Due: none

ci: add missing environment variables to workflow
  .github/workflows/main.yml
Due: prettier --write

ci: provide test value for NEXT_PUBLIC_OAUTH_CLIENT_ID and OAUTH_CLIENT_ID
  .github/workflows/check-pr.yml
  .github/workflows/main.yml
Due: prettier --write

chore(deps): update axios dependency
  yarn.lock
Due: none

fix(transcribe): prevent window reference error during SSR in spatial input
  src/app/components/contribute/spatial-input.test.tsx
  src/app/components/contribute/spatial-input.tsx
Due: prettier --write, eslint --fix

docs(karma): add karma system specifications and environment template
  .env.example
  specs/069-karma-connections-ui.md
  src/server/specs/002-karma-domain-contract.md
  src/server/specs/003-karma-persistence.md
  src/server/specs/004-karma-calculation-engine.md
  src/server/specs/005-karma-navigator-client.md
  src/server/specs/006-karma-link-redeem-flow.md
  src/server/specs/007-karma-daily-push.md
  src/server/specs/008-karma-operations-and-documentation.md
Due: prettier --write

ci(workflow): fix environment variable appending and add JWT_SECRET
  .github/workflows/main.yml
Due: prettier --write

docs(karma): update karma specifications and workflows
  specs/070-karma-sync-workflow.md
  specs/071-karma-calculation-engine.md
  specs/072-karma-daily-push.md
  src/server/specs/002-karma-domain-contract.md
  src/server/specs/003-karma-persistence.md
  src/server/specs/005-karma-navigator-client.md
  src/server/specs/006-karma-link-redeem-flow.md
  src/server/specs/007-karma-daily-push.md
  src/server/specs/008-karma-operations-and-documentation.md
Due: prettier --write

ci(workflow): include Turso database credentials in deployment environment
  .github/workflows/main.yml
Due: prettier --write

docs(karma): update specifications and implementation order
  specs/069-karma-connections-ui.md
  specs/070-karma-source-and-sync-contract.md
  specs/071-karma-calculation-engine.md
  specs/072-karma-daily-push.md
  specs/karma-implementation-order.txt
  src/server/specs/002-karma-domain-contract.md
  src/server/specs/005-karma-navigator-client.md
  src/server/specs/006-karma-link-redeem-flow.md
  src/server/specs/008-karma-operations-and-documentation.md
Due: prettier --write

feat(server): add internal karma linked users endpoint
  .env.example
  src/server/src/app.ts
  src/server/src/database/generated.ts
  src/server/src/database/get-karma-linked-users.ts
  src/server/src/database/schema.sql
  src/server/src/database/users.test.ts
  src/server/src/environment.ts
  src/server/src/handlers/handle-karma-linked-users.test.ts
  src/server/src/handlers/handle-karma-linked-users.ts
  src/server/src/schemata.ts
Due: prettier --write, eslint --fix

feat(karma): define strict Zod domain contracts for linked-user export and Navigator integration
  src/server/src/schemata.test.ts
  src/server/src/schemata.ts
Due: prettier --write, eslint --fix

feat(server): add Zod schemata for Navigator lookup and error responses
  src/server/src/schemata.test.ts
  src/server/src/schemata.ts
Due: prettier --write, eslint --fix

feat(karma): implement user account link redeem flow and navigator client
  src/server/src/app.ts
  src/server/src/database/link-user-karma.ts
  src/server/src/environment.ts
  src/server/src/handlers/handle-karma-link.test.ts
  src/server/src/handlers/handle-karma-link.ts
  src/server/src/services/karma-calculator.ts
  src/server/src/services/karma-link-flow.test.ts
  src/server/src/services/karma-link-flow.ts
  src/server/src/services/navigator-client.ts
Due: prettier --write, eslint --fix

feat(karma): implement standalone karma calculation engines
  src/server/src/services/karma-calculator.ts
  src/services/karma-calculator.test.ts
  src/services/karma-calculator.ts
  src/shared/ukrainian-archives.ts
Due: prettier --write, eslint --fix

feat(agents): restructure opencode agent pipeline and add escalated execution
  .opencode/agents/build-escalated.md
  .opencode/agents/build.md
  .opencode/agents/plan.md
  .opencode/agents/spec.md
Due: prettier --write

feat(karma): implement karma synchronization workflow and contribution push script
  .github/workflows/karma-daily-sync.yml
  package.json
  specs/070-karma-source-and-sync-contract.md
  specs/072-karma-daily-push.md
  src/scripts/karma-push.ts
  src/server/specs/008-karma-operations-and-documentation.md
  src/server/src/services/karma-calculator.ts
  src/services/karma-calculator.ts
Due: prettier --write, eslint --fix

feat(karma): add operational setup and documentation for Navigator integration
  .env.example
  karma-integration.md
  src/server/.env.example
Due: prettier --write

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/karma-daily-sync.yml
Due: prettier --write

feat(karma): implement karma connections feature and synchronization workflow
  karma-integration.md
  scripts/server/nginx.conf
  specs/069-karma-connections-ui.md
  src/app/account/components/account-header.module.css
  src/app/account/karma/page.module.css
  src/app/account/karma/page.test.tsx
  src/app/account/karma/page.tsx
  src/app/account/karma/schemata.ts
  src/app/account/page.tsx
  src/app/services/api.ts
  src/server/src/app.ts
  src/server/src/database/create-project.ts
  src/server/src/database/find-user-by-id.ts
  src/server/src/database/link-user-karma.ts
  src/server/src/database/revoke-user-sessions.ts
  src/server/src/handlers/handle-karma-status.test.ts
  src/server/src/handlers/handle-karma-status.ts
  src/server/src/index.ts
  src/server/src/logger.test.ts
  src/server/src/logger.ts
  src/server/src/middlewares/api-auth.test.ts
  src/server/src/middlewares/api-auth.ts
  src/server/src/middlewares/rate-limiter.ts
  src/server/src/middlewares/request-logging.test.ts
  src/server/src/middlewares/request-logging.ts
  src/server/src/middlewares/transcribe-auth.ts
  src/server/src/schemata.ts
  src/server/src/services/bugsnag.ts
  src/server/src/services/github.ts
  src/server/src/services/karma-calculator.test.ts
  src/server/src/services/karma-calculator.ts
  src/server/src/services/karma-link-flow.ts
  src/server/src/services/karma-source.test.ts
  src/server/src/services/karma-source.ts
  src/server/src/services/navigator-client.ts
  src/server/src/services/posthog.ts
  src/server/src/services/validate-turnstile.ts
  src/server/src/types.ts
Due: prettier --write, eslint --fix

test(server): stabilize karma source test environment
  .github/workflows/check-pr.yml
  src/server/src/services/karma-source.test.ts
Due: prettier --write, eslint --fix

refactor(opencode): consolidate agent roles and tune Luna usage
  .opencode/agents/architect.md
  .opencode/agents/build-escalated.md
  .opencode/agents/build.md
  .opencode/agents/builder.md
  .opencode/agents/ideate.md
  .opencode/agents/investigator.md
  .opencode/agents/plan.md
  .opencode/agents/spec.md
  .opencode/agents/verifier.md
  .opencode/agents/vision.md
  .opencode/commands/commit.md
  .opencode/commands/lint-css.md
  .opencode/commands/lint.md
  .opencode/commands/test-server.md
  .opencode/commands/test.md
Due: prettier --write

feat(account): add breadcrumb navigation
  src/app/account/components/account-header.module.css
  src/app/account/components/account-header.test.tsx
  src/app/account/components/account-header.tsx
Due: prettier --write, eslint --fix

refactor(agents): rename agent definitions
  .opencode/agents/build.md
  .opencode/agents/investigate.md
  .opencode/agents/plan.md
  .opencode/agents/verify.md
Due: prettier --write

feat(karma): support contribution email aliases
  src/app/account/karma/page.test.tsx
  src/app/account/karma/page.tsx
  src/server/src/database/find-user-by-id.ts
  src/server/src/database/generated.ts
  src/server/src/database/get-karma-linked-users.ts
  src/server/src/database/schema.sql
  src/server/src/database/users.test.ts
  src/server/src/handlers/handle-karma-link.test.ts
  src/server/src/handlers/handle-karma-link.ts
  src/server/src/handlers/handle-karma-status.test.ts
  src/server/src/handlers/handle-karma-status.ts
  src/server/src/services/karma-link-flow.test.ts
  src/server/src/services/karma-link-flow.ts
Due: prettier --write, eslint --fix

feat(karma): expose contribution table and row statistics
  src/app/account/karma/page.test.tsx
  src/app/account/karma/page.tsx
  src/app/account/karma/schemata.ts
  src/server/src/handlers/handle-karma-status.test.ts
  src/server/src/handlers/handle-karma-status.ts
  src/server/src/schemata.ts
  src/server/src/services/karma-calculator.test.ts
  src/server/src/services/karma-calculator.ts
Due: prettier --write, eslint --fix

test(karma-link): update account link payload expectation
  src/server/src/handlers/handle-karma-link.test.ts
Due: prettier --write, eslint --fix

feat(karma): show Navigator karma balances
  .github/workflows/check-pr.yml
  .github/workflows/main.yml
  src/app/account/karma/page.module.css
  src/app/account/karma/page.test.tsx
  src/app/account/karma/page.tsx
  src/app/account/karma/schemata.ts
  src/server/src/app.ts
  src/server/src/environment.ts
  src/server/src/handlers/handle-karma-lookup.test.ts
  src/server/src/handlers/handle-karma-lookup.ts
  src/server/src/schemata.ts
Due: prettier --write, eslint --fix

feat(opencode): add bounded task execution agent
  .opencode/agents/execute.md
Due: prettier --write

chore(deps): upgrade typescript-eslint
  package.json
  yarn.lock
Due: prettier --write
