Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: validate route parameters in handle-project-images
  src/server/src/handlers/handle-project-images.ts
Due: prettier --write, eslint --fix

refactor
  src/server/CONVENTIONS.md
  src/server/src/database/delete-project-image.ts
  src/server/src/database/find-project-image.ts
  src/server/src/handlers/handle-project-image.ts
  src/server/src/handlers/handle-project-images.ts
Due: prettier --write, eslint --fix

feat: update image upload endpoint and form data payload
  src/app/transcribe/images/page.tsx
Due: prettier --write, eslint --fix

adjust
  CONVENTIONS.md
  specs/046-image-upload-changes.md
  src/app/transcribe/images/page.tsx
  src/server/src/app.ts
  src/server/src/database/create-project.ts
  src/server/src/handlers/handle-project-image.ts
Due: prettier --write, eslint --fix

feat: calculate and upload image blurhash
  src/app/transcribe/images/page.tsx
Due: prettier --write, eslint --fix

fix: add blurhash dependency
  package.json
Due: prettier --write

fix: resolve linting errors in images page
  src/app/transcribe/images/page.tsx
Due: prettier --write, eslint --fix

refactor: extract calculateBlurhash helper into its own module
  src/app/transcribe/helpers/calculate-blurhash.ts
  src/app/transcribe/images/page.tsx
Due: prettier --write, eslint --fix

refactor API requests
  specs/047-image-upload-blurhash.md
  src/app/transcribe/api/auth-google.ts
  src/app/transcribe/api/create-project.ts
  src/app/transcribe/api/get-me.ts
  src/app/transcribe/api/get-project-schemas.ts
  src/app/transcribe/api/get-projects.ts
  src/app/transcribe/api/logout.ts
  src/app/transcribe/api/request.ts
  src/app/transcribe/api/save-project-image.ts
  src/app/transcribe/components/logout-button.tsx
  src/app/transcribe/components/projects-list.tsx
  src/app/transcribe/create/page.tsx
  src/app/transcribe/hooks/use-user.ts
  src/app/transcribe/images/page.tsx
  src/app/transcribe/login/page.tsx
  yarn.lock
Due: prettier --write, eslint --fix

migrate from Aider to OpenCode
  .aider.conf.yml
  .aiderignore
  .nvmrc
  .opencode/commands/lint.md
  .opencode/commands/scaffold-test.md
  .opencode/commands/test-route.md
  .opencode/commands/test-server.md
  .opencode/commands/test.md
  .opencode/commands/verify-esm.md
  AGENTS.md
  CONVENTIONS.md
  mise.toml
  opencode.json
  package.json
  scripts/opencode-check.sh
  specs/039-server-github-service-test.md
  specs/040-improve-turnstile-in-server.md
  specs/041-server-auth-improve.md
  specs/042-server-rate-limiter-middleware-improve.md
  src/server/.aider.conf.yml
  src/server/.nvmrc
  src/server/CONVENTIONS.md
  src/server/TESTING_CONVENTIONS.md
  src/server/src/middlewares/auth.test.ts
  src/server/src/middlewares/auth.ts
  src/server/src/middlewares/rate-limiter.test.ts
  src/server/src/middlewares/rate-limiter.ts
  src/server/src/services/bugsnag.ts
  src/server/src/services/github.test.ts
  src/server/src/services/validate-turnstile.test.ts
  src/server/src/services/validate-turnstile.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

Use Mise in GHA
  .github/workflows/check-pr.yml
  .github/workflows/daily-report.yml
  .github/workflows/enrich-data.yml
  .github/workflows/main.yml
  .github/workflows/typesense.yml
  .opencode/commands/draft.md
  specs/043-fix-gha-workflows-mise.md
  src/daily-report/.nvmrc
Due: prettier --write

fix middlewares tests
  src/server/src/middlewares/auth.test.ts
  src/server/src/middlewares/rate-limiter.test.ts
Due: prettier --write, eslint --fix

fix rate limiter tests
  src/server/src/middlewares/rate-limiter.test.ts
Due: prettier --write, eslint --fix

feat: link each project in ProjectsList to transcribe page
  specs/048-projects-list-links.md
  src/app/transcribe/components/projects-list.test.tsx
  src/app/transcribe/components/projects-list.tsx
Due: prettier --write, eslint --fix

sonner in conventions
  CONVENTIONS.md
Due: prettier --write

Project images CRUD
  specs/049-refactor-project-image-handlers.md
  src/server/src/app.ts
  src/server/src/database/get-project-images.ts
  src/server/src/handlers/handle-project-image-delete.test.ts
  src/server/src/handlers/handle-project-image-delete.ts
  src/server/src/handlers/handle-project-image-get.test.ts
  src/server/src/handlers/handle-project-image-get.ts
  src/server/src/handlers/handle-project-image-put.test.ts
  src/server/src/handlers/handle-project-image-put.ts
  src/server/src/handlers/handle-project-image.ts
  src/server/src/handlers/handle-project-images-list.test.ts
  src/server/src/handlers/handle-project-images-list.ts
Due: prettier --write, eslint --fix

feat: implement transcribe project page
  specs/050-transcribe-project-page.md
  src/app/transcribe/api/get-project-images.ts
  src/app/transcribe/images/page.tsx
  src/app/transcribe/schemata.ts
  src/app/transcribe/transcribe/page.module.css
  src/app/transcribe/transcribe/page.test.tsx
  src/app/transcribe/transcribe/page.tsx
Due: prettier --write, eslint --fix

Add record submission DASO-R7720-5-168
  data/records/DASO-R7720-5-168.yaml
  public/csv/DASO-R7720-5-168.csv
Due: none

Add record submission DASO-R7720-5-169
  data/records/DASO-R7720-5-169.yaml
  public/csv/DASO-R7720-5-169.csv
Due: none

Add record submission DASO-R7720-5-170
  data/records/DASO-R7720-5-170.yaml
  public/csv/DASO-R7720-5-170.csv
Due: none

tri-panel project control page
  .opencode/commands/lint-css.md
  specs/051-transcribe-project-details.md
  src/app/transcribe/api/get-project.ts
  src/app/transcribe/api/update-project.ts
  src/app/transcribe/create/page.tsx
  src/app/transcribe/images/page.module.css
  src/app/transcribe/images/page.tsx
  src/app/transcribe/project/page.module.css
  src/app/transcribe/project/page.test.tsx
  src/app/transcribe/project/page.tsx
  src/app/transcribe/transcribe/page.test.tsx
  src/app/transcribe/transcribe/page.tsx
  src/server/src/app.ts
  src/server/src/database/find-project.ts
  src/server/src/database/update-project.ts
  src/server/src/handlers/handle-transcribe-project-get.test.ts
  src/server/src/handlers/handle-transcribe-project-get.ts
  src/server/src/handlers/handle-transcribe-project-update.test.ts
  src/server/src/handlers/handle-transcribe-project-update.ts
Due: prettier --write, eslint --fix

fix images loading
  specs/052-fix-project-images-created-at-type.md
  src/app/transcribe/schemata.ts
Due: prettier --write, eslint --fix

fix a11y issues
  specs/053-fix-dark-theme-accessibility-transcribe.md
  specs/054-fix-transcribe-header-dark-theme-accessibility.md
  src/app/transcribe/components/logout-button.module.css
  src/app/transcribe/components/transcribe-header.module.css
  src/app/transcribe/transcribe/page.module.css
Due: prettier --write

Add record submission RGIA-577-14-546-list
  data/records/RGIA-577-14-546-list.yaml
  public/csv/RGIA-577-14-546-list.csv
Due: none

Add record submission poeshelonni-spysky-z-tenetyska-i-potoky
  data/records/poeshelonni-spysky-z-tenetyska-i-potoky.yaml
  public/csv/poeshelonni-spysky-z-tenetyska-i-potoky.csv
Due: none

Update author name in YAML record
  data/records/DALO-R3229-2-102-tenetyska-i-potoky.yaml
Due: none

fix: kykysia name
  data/records/DALO-R3229-2-102-tenetyska-i-potoky.yaml
Due: none

Add record submission dadnor-6508974
  data/records/dadnor-6508974.yaml
  public/csv/dadnor-6508974.csv
Due: none

Add record submission DAKhmO-315-1-8330-Vinnytsia-nicholas
  data/records/DAKhmO-315-1-8330-Vinnytsia-nicholas.yaml
  public/csv/DAKhmO-315-1-8330-Vinnytsia-nicholas.csv
Due: none

Rename dadnor-6508974.yaml to DADnO-R6508-9-74.yaml
  data/records/DADnO-R6508-9-74.yaml
Due: none

fix: address review issues
  src/app/transcribe/components/logout-button.tsx
  src/server/src/app.ts
  src/server/src/database/create-user.ts
  src/server/src/database/get-projects.ts
  src/server/src/database/revoke-user-sessions.ts
  src/server/src/database/schema.sql
  src/server/src/database/upsert-user.ts
  src/server/src/handlers/handle-transcribe-auth-delete.ts
  src/server/src/handlers/handle-transcribe-auth-google.ts
  src/server/src/handlers/handle-transcribe-auth-session-delete.ts
  src/server/src/middlewares/transcribe-auth.ts
  src/server/src/schemata.ts
Due: prettier --write, eslint --fix

Add record submission ternopil-tarnopol-gr-kat-shliuby-1920-1924
  data/records/ternopil-tarnopol-gr-kat-shliuby-1920-1924.yaml
  public/csv/ternopil-tarnopol-gr-kat-shliuby-1920-1924.csv
Due: none

Add record submission RGIA-577-14-546-acts
  data/records/RGIA-577-14-546-acts.yaml
  public/csv/RGIA-577-14-546-acts.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/RGIA-577-14-546-acts.csv
Due: none

Add DATO-487-1-461-1920-1924.yaml file
  data/records/DATO-487-1-461-1920-1924.yaml
Due: none

feat(opencode): overhaul agent commands, configuration, and project conventions
  .opencode/commands/commit.md
  .opencode/commands/draft.md
  .opencode/commands/lint-css.md
  .opencode/commands/lint.md
  .opencode/commands/refactor.md
  .opencode/commands/scaffold-test-server.md
  .opencode/commands/test-route.md
  .opencode/commands/test-server.md
  .opencode/commands/test.md
  .opencode/commands/verify-esm.md
  .opencodeignore
  TESTING_CONVENTIONS.md
  opencode.json
  specs/000-template.md
  specs/055-transcribe-workspace.md
Due: prettier --write

refactor: rename transcribe page to workspace and remove console logs
  src/app/components/contribute/csv-dropzone.tsx
  src/app/components/contribute/local-storage.ts
  src/app/components/contribute/stepper.tsx
  src/app/components/contribute/use-location-search.ts
  src/app/components/contribute/use-reverse-geocode.ts
  src/app/components/search-results.tsx
  src/app/components/source-link.tsx
  src/app/hooks/use-cookie-consent.ts
  src/app/hooks/use-no-russians.tsx
  src/app/hooks/use-search.tsx
  src/app/services/bugsnag.ts
  src/app/services/locationiq.ts
  src/app/transcribe/api/request.ts
  src/app/transcribe/components/projects-list.test.tsx
  src/app/transcribe/components/projects-list.tsx
  src/app/transcribe/create/page.tsx
  src/app/transcribe/login/page.tsx
  src/app/transcribe/project/page.tsx
  src/app/transcribe/transcribe/page.module.css
  src/app/transcribe/transcribe/page.test.tsx
  src/app/transcribe/transcribe/page.tsx
  src/app/transcribe/workspace/page.module.css
  src/app/transcribe/workspace/page.test.tsx
  src/app/transcribe/workspace/page.tsx
  src/shared/get-tables-metadata.ts
Due: prettier --write, eslint --fix

docs: update conventions and add workspace image viewer specifications
  .opencode/commands/draft.md
  CONVENTIONS.md
  specs/000-template.md
  specs/056-workspace-back-navigation.md
  specs/057-workspace-image-viewer-state.md
  specs/058-workspace-image-zoom-scroll.md
  specs/059-workspace-image-zoom-wheel.md
  specs/060-workspace-image-panning-bug.md
  src/app/transcribe/project/page.module.css
  src/app/transcribe/schemata.ts
  src/app/transcribe/workspace/page.module.css
  src/app/transcribe/workspace/page.test.tsx
  src/app/transcribe/workspace/page.tsx
  src/server/src/handlers/handle-project-image-get.test.ts
  src/server/src/handlers/handle-project-image-get.ts
  src/server/src/handlers/handle-project-images-list.test.ts
  src/server/src/handlers/handle-project-images-list.ts
  src/server/src/services/r2.ts
Due: prettier --write, eslint --fix

refactor: switch to minimal vitest reporter and add error logging
  .opencode/commands/test-route.md
  .opencode/commands/test.md
  specs/000-template.md
  src/app/components/source-link.tsx
Due: prettier --write, eslint --fix

feat: implement page name editing and transcription table locking
  .opencode/commands/test-server.md
  AGENTS.md
  CONVENTIONS.md
  TESTING_CONVENTIONS.md
  specs/061-workspace-page-name-edit.md
  specs/062-workspace-page-name-update-fix.md
  src/app/transcribe/workspace/page.module.css
  src/app/transcribe/workspace/page.test.tsx
  src/app/transcribe/workspace/page.tsx
  src/server/src/app.ts
  src/server/src/database/update-project-image.ts
  src/server/src/handlers/handle-project-image-patch.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
