Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md,yml}": "prettier --write"
}

Add record submission DASO-R7720-5-111
  data/records/DASO-R7720-5-111.yaml
  public/csv/DASO-R7720-5-111.csv
Due: none

fix Kysely codegen run script
  .github/workflows/check-pr.yml
Due: prettier --write

Add record submission DASO-R7720-5-112
  data/records/DASO-R7720-5-112.yaml
  public/csv/DASO-R7720-5-112.csv
Due: none

Add record submission DASO-R7720-5-113
  data/records/DASO-R7720-5-113.yaml
  public/csv/DASO-R7720-5-113.csv
Due: none

Add record submission DASO-R7720-5-114
  data/records/DASO-R7720-5-114.yaml
  public/csv/DASO-R7720-5-114.csv
Due: none

fix Kysely codegen run script, 2
  .github/workflows/check-pr.yml
Due: prettier --write

Add record submission DASO-R7720-5-115
  data/records/DASO-R7720-5-115.yaml
  public/csv/DASO-R7720-5-115.csv
Due: none

fix Kysely codegen run directory
  .github/workflows/check-pr.yml
Due: prettier --write

fix: DATABASE_URL env var
  .github/workflows/check-pr.yml
Due: prettier --write

Add record submission DASO-R7720-5-116
  data/records/DASO-R7720-5-116.yaml
  public/csv/DASO-R7720-5-116.csv
Due: none

Add record submission DASO-R7720-5-117
  data/records/DASO-R7720-5-117.yaml
  public/csv/DASO-R7720-5-117.csv
Due: none

Add record submission DASO-R7720-5-118
  data/records/DASO-R7720-5-118.yaml
  public/csv/DASO-R7720-5-118.csv
Due: none

Add record submission DASO-R7720-5-119
  data/records/DASO-R7720-5-119.yaml
  public/csv/DASO-R7720-5-119.csv
Due: none

fix: DATABASE_URL env var, 2
  .github/workflows/check-pr.yml
Due: prettier --write

feat: better login UI
  src/app/transcribe/components/logout-button.module.css
  src/app/transcribe/components/logout-button.tsx
  src/app/transcribe/components/transcribe-header.module.css
  src/app/transcribe/components/transcribe-header.tsx
  src/app/transcribe/components/user.tsx
  src/app/transcribe/layout.tsx
  src/app/transcribe/page.tsx
  src/server/src/handlers/handle-transcribe-auth-google.ts
Due: prettier --write, eslint --fix

feat: list projects
  src/app/transcribe/components/projects-list.tsx
  src/app/transcribe/page.tsx
  src/app/transcribe/schemata.ts
  src/server/src/app.ts
  src/server/src/database/find-user-by-google-id.ts
  src/server/src/database/find-user-by-id.ts
  src/server/src/database/get-projects-by-user.ts
  src/server/src/database/get-projects.ts
  src/server/src/handlers/handle-transcribe-auth-google.ts
  src/server/src/handlers/handle-transcribe-auth-me.ts
  src/server/src/handlers/handle-transcribe-project-list.ts
  src/server/src/middlewares/api-auth.ts
  src/server/src/middlewares/auth.ts
  src/server/src/middlewares/rate-limiter.ts
  src/server/src/middlewares/transcribe-auth.ts
  src/server/src/schemata.ts
  src/server/src/types.ts
Due: prettier --write, eslint --fix

feat: implement project create endpoint and database logic
  src/server/src/app.ts
  src/server/src/database/create-project.ts
  src/server/src/handlers/handle-transcribe-project-create.ts
  src/server/src/schemata.ts
Due: prettier --write, eslint --fix

style: apply linter fixes to imports and variables
  src/server/src/app.ts
  src/server/src/database/create-project.ts
  src/server/src/handlers/handle-transcribe-project-create.ts
Due: prettier --write, eslint --fix

fix: resolve ESLint errors by adding types and replacing deprecated Zod methods
  src/server/src/database/create-project.ts
  src/server/src/handlers/handle-transcribe-project-create.ts
  src/server/src/schemata.ts
Due: prettier --write, eslint --fix

style: fix import spacing in create-project.ts
  src/server/src/database/create-project.ts
Due: prettier --write, eslint --fix

fix project create
  src/server/specs/001-project-create.md
  src/server/src/database/create-project.ts
  src/server/src/handlers/handle-transcribe-project-create.ts
  src/server/src/schemata.ts
Due: prettier --write, eslint --fix

feat: add project create page
  src/app/transcribe/create/page.tsx
Due: prettier --write, eslint --fix

fix: resolve typescript errors in project create page
  src/app/transcribe/create/page.tsx
Due: prettier --write, eslint --fix

style: apply linter fixes to project create page
  src/app/transcribe/create/page.tsx
Due: prettier --write, eslint --fix

project create form
  CONVENTIONS.md
  specs/039-project-create.md
  src/app/components/contribute/location-picker.tsx
  src/app/transcribe/create/page.tsx
  src/server/src/handlers/handle-transcribe-project-create.ts
  src/server/src/schemata.ts
Due: prettier --write, eslint --fix

feat: add project create link to transcribe page
  src/app/transcribe/page.tsx
Due: prettier --write, eslint --fix

style: fix import spacing in transcribe page
  src/app/transcribe/page.tsx
Due: prettier --write, eslint --fix

fix: create form
  specs/040-project-create-link.md
  specs/041-project-create-crash.md
  src/app/transcribe/create/page.tsx
Due: prettier --write, eslint --fix

Add record submission dazho-1-76-89-1846-preobrazhenska-tserkva-mistechka-levkova-zhytomyrskoho-povitunarodzhennia
  data/records/dazho-1-76-89-1846-preobrazhenska-tserkva-mistechka-levkova-zhytomyrskoho-povitunarodzhennia.yaml
  public/csv/dazho-1-76-89-1846-preobrazhenska-tserkva-mistechka-levkova-zhytomyrskoho-povitunarodzhennia.csv
Due: none

Update and rename dazho-1-76-89-1846-preobrazhenska-tserkva-mistechka-levkova-zhytomyrskoho-povitunarodzhennia.yaml to DAZhO-1-76-89-Levkiv.yaml
  data/records/DAZhO-1-76-89-Levkiv.yaml
Due: none

Add record submission DASO-R7720-5-123
  data/records/DASO-R7720-5-123.yaml
  public/csv/DASO-R7720-5-123.csv
Due: none

Add record submission DASO-R7720-5-124
  data/records/DASO-R7720-5-124.yaml
  public/csv/DASO-R7720-5-124.csv
Due: none

Add record submission DASO-R7720-5-125
  data/records/DASO-R7720-5-125.yaml
  public/csv/DASO-R7720-5-125.csv
Due: none

upgrade picomatch
  yarn.lock
Due: none

Add record submission DASO-R7720-5-126
  data/records/DASO-R7720-5-126.yaml
  public/csv/DASO-R7720-5-126.csv
Due: none

Add record submission i904-24-206-narodzhennia
  data/records/i904-24-206-narodzhennia.yaml
  public/csv/i904-24-206-narodzhennia.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/i904-24-206-narodzhennia.csv
Due: none

Add record submission i904-24-206-shliub
  data/records/i904-24-206-shliub.yaml
  public/csv/i904-24-206-shliub.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/i904-24-206-shliub.csv
Due: none

Add record submission i904-24-206-smert
  data/records/i904-24-206-smert.yaml
  public/csv/i904-24-206-smert.csv
Due: none
