Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

test: add unit tests for delete-from-typesense
  src/populate-typesense/delete-from-typesense.test.ts
Due: prettier --write, eslint --fix

test: expand determineRowYear tests for more cases
  src/populate-typesense/determine-row-year.test.ts
Due: prettier --write, eslint --fix

test: add unit tests for import-batch
  src/populate-typesense/import-batch.test.ts
Due: prettier --write, eslint --fix

test: add unit tests for populate-unstructured
  src/populate-typesense/populate-unstructured.test.ts
Due: prettier --write, eslint --fix

style: rename variable to satisfy linter
  src/populate-typesense/populate-unstructured.test.ts
Due: prettier --write, eslint --fix

test: mock environment variables in populate-unstructured test
  src/populate-typesense/populate-unstructured.test.ts
Due: prettier --write, eslint --fix

test: update mock data in populate-unstructured tests
  src/populate-typesense/populate-unstructured.test.ts
Due: prettier --write, eslint --fix

test: update location assertion and remove duplicate key
  src/populate-typesense/populate-unstructured.test.ts
Due: prettier --write, eslint --fix

test: fix convertRow mock return types in populate-unstructured tests
  src/populate-typesense/populate-unstructured.test.ts
Due: prettier --write, eslint --fix

test: fix populate-unstructured test assertions
  src/populate-typesense/populate-unstructured.test.ts
Due: prettier --write, eslint --fix

fix populateUnstructured tests
  src/populate-typesense/get-tables-by-files.ts
  src/populate-typesense/populate-unstructured.test.ts
Due: prettier --write, eslint --fix

test: add unit tests for generate-table-description helper
  src/app/helpers/generate-table-description.test.ts
Due: prettier --write, eslint --fix

Add record submission DAViO-R2083-1-7
  data/records/DAViO-R2083-1-7.yaml
  public/csv/DAViO-R2083-1-7.csv
Due: none

fix: add missing environment variables to unstructured test
  src/populate-typesense/populate-unstructured.test.ts
Due: prettier --write, eslint --fix

test: fix invalid Typesense host URL by adding protocol
  src/populate-typesense/populate-unstructured.test.ts
Due: prettier --write, eslint --fix

remove Kharkiv 1852
  data/records/DAKhO-40-105-10.yaml
  public/csv/dakho40-105-10.csv
Due: none

fix: uncaught issues in build
  src/app/components/contribute/csv-dropzone.module.css
  src/server/src/schemata.test.ts
Due: prettier --write, eslint --fix

chore: upgrade typescript linting to strictTypeChecked
  eslint.config.mjs
Due: prettier --write, eslint --fix

refactor: simplify metadata and json-ld generation logic
  src/app/helpers/generate-metadata.ts
Due: prettier --write, eslint --fix

fix: handle missing archiveItems in metadata generation
  src/app/helpers/generate-metadata.ts
Due: prettier --write, eslint --fix

refactor: remove unnecessary optional chaining in metadata helper
  src/app/helpers/generate-metadata.ts
Due: prettier --write, eslint --fix

fix: handle missing optional fields in metadata generation
  src/app/helpers/generate-metadata.ts
Due: prettier --write, eslint --fix

style: remove unnecessary eslint-disable comment
  src/app/helpers/generate-metadata.ts
Due: prettier --write, eslint --fix

fix: cyclic issue
  src/app/helpers/generate-metadata.test.ts
  src/app/helpers/generate-metadata.ts
Due: prettier --write, eslint --fix

test: fix mock for zod error in handle-submit.test.ts
  src/server/src/handlers/handle-submit.test.ts
Due: prettier --write, eslint --fix

Add record submission DAKhmO-315-1-8563-michael
  data/records/DAKhmO-315-1-8563-michael.yaml
  public/csv/DAKhmO-315-1-8563-michael.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-michael.csv
Due: none

Update print statement from 'Hello' to 'Goodbye'
  public/csv/DAKhmO-315-1-8563-michael.csv
Due: none

Correct names in DAKhmO-315-1-8563-michael.csv
  public/csv/DAKhmO-315-1-8563-michael.csv
Due: none

fix: Dzhuryn michael ID
  data/records/DAKhmO-315-1-8563-Dzhuryn-michael.yaml
Due: none

refactor: apply App Router best practices to table page
  src/app/[tableId]/[page]/page.tsx
Due: prettier --write, eslint --fix

fix: remove unnecessary conditionals and await in table page
  src/app/[tableId]/[page]/page.tsx
Due: prettier --write, eslint --fix

refactor: use overflow-wrap and simplify CSS selectors
  src/app/[tableId]/[page]/page.module.css
Due: prettier --write

refactor: destructure tableMetadata and simplify TableContent
  src/app/[tableId]/[page]/table-content.tsx
Due: prettier --write, eslint --fix

test: refactor table-content tests and improve mocks
  src/app/[tableId]/[page]/table-content.test.tsx
Due: prettier --write, eslint --fix

refactor: improve accent link styles and use logical CSS properties
  src/app/about/page.module.css
  src/app/about/page.tsx
Due: prettier --write, eslint --fix

refactor: deduplicate metadata and secure external links
  src/app/about/page.tsx
Due: prettier --write, eslint --fix

test: add unit tests for About page
  src/app/about/page.test.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
