Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add DAKheO-R3969-1-25-Dnipriany.yaml file
  data/records/DAKheO-R3969-1-25-Dnipriany.yaml
Due: none

Update title in AGAD-Radziwill YAML file
  data/records/AGAD-Radziwill-XXV-2394-14178-4.yaml
Due: none

Update and rename inventar-s.yaml to AGAD-Radziwill-XXV-2394-14178-5.yaml
  data/records/AGAD-Radziwill-XXV-2394-14178-5.yaml
Due: none

Add DAKhmO-315-1-8534-Stepashky.yaml file
  data/records/DAKhmO-315-1-8534-Stepashky.yaml
Due: none

Add DAKhmO-315-1-7345-Stepashky.yaml file
  data/records/DAKhmO-315-1-7345-Stepashky.yaml
Due: none

Add DAKhmO-315-1-7070-Stepashky.yaml file
  data/records/DAKhmO-315-1-7070-Stepashky.yaml
Due: none

Update YAML record with corrected titles and IDs
  data/records/davio-d904-13-122-metrychni-1901.yaml
Due: none

fix: Stepashky 1901
  data/records/DAViO-904-13-122-1901.yaml
Due: none

docs(agents): refine build/ideate/plan agent specs
  .opencode/agents/build.md
  .opencode/agents/ideate.md
  .opencode/agents/plan.md
Due: prettier --write

feat(transcribe): support partial ISO date parsing and date column type
  package.json
  specs/077-date-column-type.md
  src/app/transcribe/api/get-project-schemas.ts
  src/app/transcribe/workspace/_components/cell-input.tsx
  src/app/transcribe/workspace/_components/transcription-table.tsx
  src/app/transcribe/workspace/_helpers/build-row-array-schema.test.ts
  src/app/transcribe/workspace/_helpers/build-row-array-schema.ts
  src/app/transcribe/workspace/_helpers/column-config.ts
  src/app/transcribe/workspace/_helpers/parse-partial-iso-date.test.ts
  src/app/transcribe/workspace/_helpers/parse-partial-iso-date.ts
  src/server/src/schemata.ts
  yarn.lock
Due: prettier --write, eslint --fix

test(project-header): align fixture with confession-list type
  src/app/transcribe/project/_components/project-header.test.tsx
Due: prettier --write, eslint --fix

chore(opencode-agents): refine ideate and plan bash/edit permissions
  .opencode/agents/ideate.md
  .opencode/agents/plan.md
Due: prettier --write

fix(locationiq): correct locationiq search location filtering
  package.json
  specs/078-fix-locationiq-search.md
  src/app/__mocks__/environment.ts
  src/app/components/contribute/use-location-search.test.ts
  src/app/services/locationiq.test.ts
  src/app/services/locationiq.ts
  yarn.lock
Due: prettier --write, eslint --fix

fix(transcribe): render SpatialInput dropdown via KnownLocations provider
  .env.example
  specs/079-fix-spatial-input-dropdown.md
  src/app/components/contribute/spatial-input.test.tsx
  src/app/transcribe/create/page-content.tsx
  src/app/transcribe/create/page.tsx
  src/app/transcribe/project/_components/metadata-tab.test.tsx
  src/app/transcribe/project/_components/metadata-tab.tsx
  src/app/transcribe/project/_components/project-header.test.tsx
  src/app/transcribe/project/page-content.tsx
  src/app/transcribe/project/page.tsx
  src/app/transcribe/project/types.ts
Due: prettier --write, eslint --fix

test(createImageSource): assert transactional insert builder call chain
  src/server/src/database/create-image-source.test.ts
Due: prettier --write, eslint --fix

feat(transcribe): display projects as card grid with dates
  src/app/transcribe/components/projects-list.module.css
  src/app/transcribe/components/projects-list.test.tsx
  src/app/transcribe/components/projects-list.tsx
Due: prettier --write, eslint --fix

fix(transcribe/project): stabilize use-asset-manager
  src/app/transcribe/project/_hooks/use-asset-manager.test.ts
  src/app/transcribe/project/_hooks/use-asset-manager.ts
  src/app/transcribe/project/types.ts
Due: prettier --write, eslint --fix

feat(database): reconcile and revert split operations
  src/app/transcribe/workspace/_components/image-viewer.test.tsx
  src/app/transcribe/workspace/_components/image-viewer.tsx
  src/app/transcribe/workspace/page.module.css
  src/app/transcribe/workspace/page.tsx
  src/server/src/database/create-derived-pages.test.ts
  src/server/src/database/create-derived-pages.ts
  src/server/src/database/reconcile-split.test.ts
  src/server/src/database/reconcile-split.ts
  src/server/src/database/revert-split.test.ts
  src/server/src/database/revert-split.ts
  src/server/src/database/schema.sql
  src/server/src/handlers/handle-spread-split-post.test.ts
  src/server/src/handlers/handle-spread-split-post.ts
Due: prettier --write, eslint --fix

Add record submission chervonyi-maiak-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943
  data/records/chervonyi-maiak-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.yaml
  public/csv/chervonyi-maiak-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.csv
Due: none

Add record submission olhivka-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943
  data/records/olhivka-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.yaml
  public/csv/olhivka-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.csv
Due: none

Add record submission odradokamianka-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943
  data/records/odradokamianka-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.yaml
  public/csv/odradokamianka-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.csv
Due: none

Add record submission mylove-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943
  data/records/mylove-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.yaml
  public/csv/mylove-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.csv
Due: none

Add record submission lvove-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943
  data/records/lvove-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.yaml
  public/csv/lvove-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.csv
Due: none

Add record submission kozatske-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943
  data/records/kozatske-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.yaml
  public/csv/kozatske-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.csv
Due: none

Add record submission kachkarivka-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943
  data/records/kachkarivka-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.yaml
  public/csv/kachkarivka-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.csv
Due: none

Add record submission kalinindorfskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943
  data/records/kalinindorfskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.yaml
  public/csv/kalinindorfskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.csv
Due: none

Add record submission burhunka-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943
  data/records/burhunka-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.yaml
  public/csv/burhunka-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.csv
Due: none

Add record submission beryslav-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943
  data/records/beryslav-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.yaml
  public/csv/beryslav-beryslavskyi-r-n-khersonska-obl-kolektsiia-lystiv-radianskykh-hromadian-z-nimechchyny-1943.csv
Due: none

Add record submission velyka-lepetykha-velykolepetyskyi-r-n-khersonska-obl-spysok-zahyblykh-pid-chas-nimetskoi-okupatsii-1942-1944
  data/records/velyka-lepetykha-velykolepetyskyi-r-n-khersonska-obl-spysok-zahyblykh-pid-chas-nimetskoi-okupatsii-1942-1944.yaml
  public/csv/velyka-lepetykha-velykolepetyskyi-r-n-khersonska-obl-spysok-zahyblykh-pid-chas-nimetskoi-okupatsii-1942-1944.csv
Due: none

Add record submission nyzhni-sirohozy-melitopolskyi-okruh-katerynoslavska-hub-zaiavy-pro-rozluchennia-1924-1925
  data/records/nyzhni-sirohozy-melitopolskyi-okruh-katerynoslavska-hub-zaiavy-pro-rozluchennia-1924-1925.yaml
  public/csv/nyzhni-sirohozy-melitopolskyi-okruh-katerynoslavska-hub-zaiavy-pro-rozluchennia-1924-1925.csv
Due: none

Add record submission nyzhni-sirohozy-melitopolskyi-okruh-katerynoslavska-hub-zaiavy-pro-shliub-1923-1924
  data/records/nyzhni-sirohozy-melitopolskyi-okruh-katerynoslavska-hub-zaiavy-pro-shliub-1923-1924.yaml
  public/csv/nyzhni-sirohozy-melitopolskyi-okruh-katerynoslavska-hub-zaiavy-pro-shliub-1923-1924.csv
Due: none

Add record submission katerynivka-kakhovskyi-r-n-khersonska-okruha-spysok-chleniv-melioratornoho-tovarystva-vidrodzhennia-1922-1926
  data/records/katerynivka-kakhovskyi-r-n-khersonska-okruha-spysok-chleniv-melioratornoho-tovarystva-vidrodzhennia-1922-1926.yaml
  public/csv/katerynivka-kakhovskyi-r-n-khersonska-okruha-spysok-chleniv-melioratornoho-tovarystva-vidrodzhennia-1922-1926.csv
Due: none

Add record submission barmashove-zasillia-bilozirka-snihurivskyi-r-n-khersonska-okruha-smerti-1924
  data/records/barmashove-zasillia-bilozirka-snihurivskyi-r-n-khersonska-okruha-smerti-1924.yaml
  public/csv/barmashove-zasillia-bilozirka-snihurivskyi-r-n-khersonska-okruha-smerti-1924.csv
Due: none

Add record submission hornostaivka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924
  data/records/hornostaivka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924.yaml
  public/csv/hornostaivka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924.csv
Due: none

Add record submission nova-blahovishchenka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924
  data/records/nova-blahovishchenka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924.yaml
  public/csv/nova-blahovishchenka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924.csv
Due: none

Add record submission zavodivka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924
  data/records/zavodivka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924.yaml
  public/csv/zavodivka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924.csv
Due: none

Add record submission velyka-blahovishchenka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924
  data/records/velyka-blahovishchenka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924.yaml
  public/csv/velyka-blahovishchenka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924.csv
Due: none

Add record submission novoielyzavetivka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924
  data/records/novoielyzavetivka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924.yaml
  public/csv/novoielyzavetivka-hornostaivskyi-r-n-khersonska-okruha-smerti-1924.csv
Due: none

Add record submission inventar-s1
  data/records/inventar-s1.yaml
  public/csv/inventar-s1.csv
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
