Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: Status link
  src/app/components/header.tsx
Due: prettier --write, eslint --fix

fix: Ukrainian status link
  src/app/components/header.tsx
Due: prettier --write, eslint --fix

feat: Nginx updated
  scripts/server/nginx.conf
Due: none

feat: put PostHog in place of Simple Analytics
  .env.example
  .github/workflows/main.yml
  .nvmrc
  instrumentation-client.ts
  package.json
  src/app/[tableId]/[page]/page.tsx
  src/app/components/details.tsx
  src/app/components/pagination-button.tsx
  src/app/components/pagination.tsx
  src/app/components/search-result.module.css
  src/app/components/search-result.tsx
  src/app/components/search-results.tsx
  src/app/components/simple-analytics.tsx
  src/app/components/source-link.tsx
  src/app/components/use-search.tsx
  src/app/environment.ts
  src/app/layout.tsx
  src/app/services/simple-analytics.test.ts
  src/app/services/simple-analytics.ts
  src/server/environment.ts
  src/server/index.ts
  src/server/package.json
  src/server/posthog.ts
  src/server/yarn.lock
  yarn.lock
Due: prettier --write, eslint --fix

fix: consider Posthog vars
  .github/workflows/main.yml
  src/server/bugsnag.ts
  src/server/environment.ts
  src/server/index.ts
Due: prettier --write, eslint --fix

fix: sudo for koreni-api restart
  .github/workflows/main.yml
Due: prettier --write

feat: Giscus
  .env.example
  .github/workflows/main.yml
  package.json
  src/app/[tableId]/[page]/page.tsx
  src/app/about/page.tsx
  src/app/components/comments.tsx
  src/app/environment.ts
  src/app/map/page.tsx
  src/app/page.tsx
  src/app/tables/page.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Potential fix for code scanning alert no. 8: Clear-text logging of sensitive information
  src/dockerize-typesense/get-typesense-admin-key.ts
Due: prettier --write, eslint --fix

Potential fix for code scanning alert no. 1: Workflow does not contain permissions
  .github/workflows/main.yml
Due: prettier --write

chore: refactor server API
  src/server/index.ts
  src/server/package.json
  src/server/src/bugsnag.ts
  src/server/src/environment.ts
  src/server/src/handlers/handle-submit.ts
  src/server/src/index.ts
  src/server/src/schemata.ts
  src/server/src/services/github.ts
  src/server/src/services/posthog.ts
  src/server/src/services/validate-turnstile.ts
  src/server/tsconfig.json
Due: prettier --write, eslint --fix

feat: API key protection
  .github/workflows/main.yml
  src/server/src/environment.ts
  src/server/src/handlers/handle-submit.ts
  src/server/src/helpers/get-client-identifier.ts
  src/server/src/helpers/is-valid-api-key.ts
Due: prettier --write, eslint --fix

feat(data): import table DAKO-1-1-Ivanivka
  data/tables/DAKO-1-1-Ivanivka.csv
  data/tables/DAKO-1-1-Ivanivka.yml
Due: prettier --write

feat: make Turnstile optional in validation
  src/server/src/handlers/handle-submit.ts
  src/server/src/schemata.ts
Due: prettier --write, eslint --fix

feat: external API docs & test
  README.md
  src/server/.env.example
  src/server/README.md
  test-api-key-server.sh
Due: prettier --write

feat: rate limiting
  src/server/package.json
  src/server/src/handlers/handle-submit.ts
  src/server/src/index.ts
  src/server/src/middlewares/rate-limiter.ts
  src/server/yarn.lock
Due: prettier --write, eslint --fix

feat: Cookie consent & Privacy
  instrumentation-client.ts
  src/app/components/cookie-banner.module.css
  src/app/components/cookie-banner.tsx
  src/app/components/cookie-settings-trigger.module.css
  src/app/components/cookie-settings-trigger.tsx
  src/app/components/footer.module.css
  src/app/components/footer.tsx
  src/app/components/header.tsx
  src/app/components/use-search.tsx
  src/app/helpers/generate-metadata.ts
  src/app/hocs/with-error-boundary.tsx
  src/app/hooks/use-cookie-consent.ts
  src/app/layout.module.css
  src/app/layout.tsx
  src/app/not-found/page.tsx
  src/app/privacy/page.module.css
  src/app/privacy/page.tsx
  src/app/schemas/consent.ts
  src/app/services/bugsnag.ts
  src/app/services/consent.ts
  src/app/sitemap.ts
  src/server/src/index.ts
  src/server/src/services/bugsnag.ts
Due: prettier --write, eslint --fix

feat: no russians welcome
  package.json
  src/app/assets/happykremlin.webp
  src/app/components/index-table.tsx
  src/app/components/map-wrapper.tsx
  src/app/components/search.tsx
  src/app/hocs/with-providers.tsx
  src/app/hocs/without-russians.tsx
  src/app/hooks/use-no-russians.tsx
  src/app/layout.tsx
  src/app/not-welcome/page.module.css
  src/app/not-welcome/page.tsx
  yarn.lock
Due: prettier --write, eslint --fix

fix: exempt /health from rate limiting
  src/server/src/middlewares/rate-limiter.ts
Due: prettier --write, eslint --fix

fix: Improve server code
  src/server/src/index.ts
  src/server/src/middlewares/rate-limiter.ts
Due: prettier --write, eslint --fix

fix: webp type import
  src/app/image-imports.d.ts
Due: prettier --write, eslint --fix

fix: make posthog optional
  instrumentation-client.ts
  src/app/environment.ts
Due: prettier --write, eslint --fix

fix: fix styles for banner
  src/app/components/cookie-banner.module.css
  src/app/components/cookie-banner.tsx
  src/app/globals.css
Due: prettier --write, eslint --fix

fix: fix styles for footer, make footer simpler
  src/app/components/footer.module.css
  src/app/components/footer.tsx
  src/app/globals.css
Due: prettier --write, eslint --fix

fix: fix styles for privacy page
  src/app/components/cookie-settings-trigger.module.css
  src/app/components/cookie-settings-trigger.tsx
  src/app/globals.css
  src/app/privacy/page.module.css
  src/app/privacy/page.tsx
Due: prettier --write, eslint --fix

feat(data): import Test Data Import (test-table-001)
  data/tables/test-table-001.csv
  data/tables/test-table-001.yml
Due: prettier --write

feat: merge /api/submit and flow
  .github/workflows/dispatch.yml
  src/import/handle-import.test.ts
  src/import/handle-import.ts
  src/import/index.ts
  src/import/payload.test.json
  src/server/README.md
  src/server/package.json
  src/server/src/bugsnag.ts
  src/server/src/environment.ts
  src/server/src/handlers/handle-import.ts
  src/server/src/handlers/handle-submit.ts
  src/server/src/handlers/health.ts
  src/server/src/helpers/count-csv-rows.ts
  src/server/src/helpers/notify-about-error.ts
  src/server/src/index.ts
  src/server/src/middlewares/auth.ts
  src/server/src/middlewares/error.ts
  src/server/src/middlewares/rate-limiter.ts
  src/server/src/middlewares/upload.ts
  src/server/src/schemata.ts
  src/server/src/services/bugsnag.ts
  src/server/src/services/github.ts
  src/server/src/services/posthog.ts
  src/server/yarn.lock
  src/shared/schemas/import.ts
  src/shared/schemas/indexation-table.ts
  test-api-key-server.sh
Due: prettier --write, eslint --fix

feat: better PR body
  src/server/src/handlers/handle-import.ts
  src/server/src/services/github.ts
Due: prettier --write, eslint --fix

feat: PR check flow
  .github/workflows/check-pr.yml
Due: prettier --write

fix: access NODE_ENV from environment object
  instrumentation-client.ts
Due: prettier --write, eslint --fix

fix: no-welcome styles improved
  src/app/hooks/use-no-russians.module.css
  src/app/hooks/use-no-russians.tsx
Due: prettier --write, eslint --fix

fix: Set env vars for test
  .github/workflows/main.yml
Due: prettier --write

fix: set env vars for test in check-pr flow
  .github/workflows/check-pr.yml
Due: prettier --write

fix: remove GITHUB_OWNER var
  .env.example
  .github/workflows/main.yml
  src/app/components/comments.tsx
  src/app/environment.ts
  src/server/.env.example
  src/server/src/environment.ts
  src/server/src/services/github.ts
Due: prettier --write, eslint --fix

feat: Volunteer page
  src/app/[tableId]/[page]/page.tsx
  src/app/components/header.tsx
  src/app/helpers/extract-emails.ts
  src/app/helpers/get-volunteers.ts
  src/app/helpers/remove-emails.ts
  src/app/helpers/slugify-ukrainian.test.ts
  src/app/helpers/slugify-ukrainian.ts
  src/app/sitemap.ts
  src/app/volunteers/[volunteerSlug]/page.module.css
  src/app/volunteers/[volunteerSlug]/page.tsx
  src/app/volunteers/page.module.css
  src/app/volunteers/page.tsx
Due: prettier --write, eslint --fix

Apply suggestions from code review
  src/app/privacy/page.tsx
Due: prettier --write, eslint --fix

feat: allow anonymized search stats collection
  src/app/privacy/page.tsx
Due: prettier --write, eslint --fix

fix: less strict for russians
  src/app/hooks/use-no-russians.tsx
Due: prettier --write, eslint --fix

fix: Dark theme colors
  src/app/volunteers/page.module.css
Due: prettier --write

fix: Dark theme colors in volunteer page
  src/app/volunteers/[volunteerSlug]/page.module.css
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
