Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Rework footer a bit, unify content height calculation
  src/app/[tableId]/[page]/page.module.css
  src/app/components/map.module.css
  src/app/globals.css
  src/app/layout.module.css
  src/app/layout.tsx
Due: prettier --write, eslint --fix

Unify list and column styles
  src/app/[tableId]/[page]/page.module.css
  src/app/about/page.module.css
  src/app/about/page.tsx
  src/app/components/pagination.module.css
  src/app/components/pagination.tsx
  src/app/globals.css
  src/app/layout.module.css
  src/app/license/page.module.css
  src/app/license/page.tsx
  src/app/tables/page.module.css
  src/app/tables/page.tsx
Due: prettier --write, eslint --fix

Change favicon
  src/app/favicon.ico
Due: none

Make overflowing table fully accessible
  src/app/[tableId]/[page]/page.module.css
  src/app/[tableId]/[page]/page.tsx
Due: prettier --write, eslint --fix

Add logo and rework header
  next.config.ts
  src/app/[tableId]/[page]/page.module.css
  src/app/components/header.module.css
  src/app/components/header.test.tsx
  src/app/components/header.tsx
  src/app/components/logo.png
  src/app/components/map.module.css
  src/app/globals.css
  src/app/layout.module.css
  src/app/layout.test.tsx
  src/app/layout.tsx
Due: prettier --write, eslint --fix

Add comment for search
  src/app/components/search-controls.tsx
  src/app/components/search.tsx
Due: prettier --write, eslint --fix

Convert license to html
  LICENSE.md
  package.json
  src/app/globals.css
  src/app/license/page.module.css
  src/app/license/page.tsx
  yarn.lock
Due: prettier --write, eslint --fix

Remove extensive sections
  src/app/about/page.tsx
  src/app/license/page.tsx
  src/app/tables/page.tsx
Due: prettier --write, eslint --fix

Remove unused font, add font improving css
  src/app/globals.css
  src/app/layout.tsx
Due: prettier --write, eslint --fix

Unify loader
  src/app/components/loader.module.css
  src/app/components/loader.tsx
  src/app/components/map-wrapper.module.css
  src/app/components/map-wrapper.tsx
  src/app/components/search-results.tsx
  src/app/page.tsx
Due: prettier --write, eslint --fix

Add h1 to map page
  src/app/map/page.tsx
Due: prettier --write, eslint --fix

Tweak home page a bit
  src/app/components/search-controls.module.css
  src/app/components/search-results.module.css
  src/app/globals.css
  src/app/page.module.css
Due: prettier --write

Add dark mode styles to leaflet
  src/app/components/map.module.css
  src/app/globals.css
Due: prettier --write

Fix header for small screens
  src/app/components/header.module.css
Due: prettier --write

refactor renderMarkdown helper
  src/app/helpers/render-markdown.ts
  src/app/license/page.tsx
Due: prettier --write, eslint --fix

move logo.png
  src/app/assets/logo.png
  src/app/assets/marker-icon-2x.png
  src/app/components/header.tsx
  src/app/helpers/render-markdown.ts
Due: prettier --write, eslint --fix

try to fix png import in gha
  src/app/image-imports.d.ts
  src/app/svg.d.ts
  tsconfig.json
Due: prettier --write, eslint --fix

Add more app icons
  src/app/apple-icon.png
  src/app/favicon.ico
  src/app/icon.png
Due: none

Move github icon to assets folder
  .lintstagedrc.json
  src/app/assets/github.svg
  src/app/layout.tsx
Due: prettier --write, eslint --fix

Fix mark problem
  src/app/components/index-table-cell.module.css
  src/app/components/index-table-cell.test.tsx
  src/app/components/index-table-cell.tsx
  src/app/components/index-table-row.tsx
  src/app/components/index-table-value.tsx
  src/app/components/index-table.tsx
  src/app/helpers/scroll-once.test.ts
  src/app/helpers/scroll-once.ts
  src/app/layout.test.tsx
Due: prettier --write, eslint --fix

Trubiivka
  data/tables/TsDIAK-127-1014-64-narodzhennia.yml
  data/tables/TsDIAK-127-1014-64-smert.yml
  data/tables/ЦДІАК 127-1014-64.xlsx - Народження.csv
  data/tables/ЦДІАК 127-1014-64.xlsx - Смерть.csv
  src/app/services/search.ts
Due: prettier --write, eslint --fix

Disable initial search query
  src/app/components/search-results.test.tsx
  src/app/components/search-results.tsx
  src/app/components/search.test.tsx
  src/app/components/search.tsx
  src/app/page.tsx
Due: prettier --write, eslint --fix

Remove t.me link
  src/app/about/page.tsx
Due: prettier --write, eslint --fix

Kharkiv 1775-1834
  data/tables/TsDIAK-2009-1-4856.yml
  data/tables/ЦДІАК ф. 2009 спр. 4856 - 4856.csv
Due: prettier --write

Kropyvnytskyi+Teleshivka
  data/tables/DAKirO_Fond5907.xlsx.xlsx - Опис+DGS.csv
  data/tables/DAKrO-P5907.yml
  data/tables/DASO-993-1-175-Talalaiivka.yml
  data/tables/TsDIAK-127-1076-108a.yml
  data/tables/Новий Лист Microsoft Excel.csv
  src/populate-typesense/determine-row-year.ts
Due: prettier --write, eslint --fix

more data
  data/tables/TsDIAK-127-1015-1006-Bakumivka.yml
  data/tables/TsDIAK-127-1015-1006-Romashky.yml
  data/tables/TsDIAK-127-1015-1098-Romashky.yml
  data/tables/TsDIAK-127-1015-125-Sharky.yml
  data/tables/TsDIAK-127-1015-126-Olshanytsia.yml
  data/tables/TsDIAK-127-1015-140-Sharky.yml
  data/tables/TsDIAK-127-1015-150-Sharky.yml
  data/tables/TsDIAK-127-1015-150-Teleshivka.yml
  data/tables/TsDIAK-127-1015-153-Romashky.yml
  data/tables/TsDIAK-127-1015-204-Romashky.yml
  data/tables/TsDIAK-127-1015-620-Romashky.yml
  data/tables/TsDIAK-127-1016-578-Romashky.yml
  data/tables/TsDIAK-127-1076-108a-Teleshivka.yml
  data/tables/TsDIAK-127-1076-108a-Teleshivkaa.yml
  data/tables/ИВ ЦДИАК -  Бакумовка, Ромашки, Шарки, Ольшаница - индекс.xlsx - 127-1076-108а.csv
  data/tables/ИВ ЦДИАК -  Бакумовка, Ромашки, Шарки, Ольшаница - индекс.xlsx.xlsx - 127-1015-1006 Бакумівка.csv
  data/tables/ИВ ЦДИАК -  Бакумовка, Ромашки, Шарки, Ольшаница - индекс.xlsx.xlsx - 127-1015-1006 Ромашки.csv
  data/tables/ИВ ЦДИАК -  Бакумовка, Ромашки, Шарки, Ольшаница - индекс.xlsx.xlsx - 127-1015-1098.csv
  data/tables/ИВ ЦДИАК -  Бакумовка, Ромашки, Шарки, Ольшаница - индекс.xlsx.xlsx - 127-1015-125 .csv
  data/tables/ИВ ЦДИАК -  Бакумовка, Ромашки, Шарки, Ольшаница - индекс.xlsx.xlsx - 127-1015-126 .csv
  data/tables/ИВ ЦДИАК -  Бакумовка, Ромашки, Шарки, Ольшаница - индекс.xlsx.xlsx - 127-1015-140.csv
  data/tables/ИВ ЦДИАК -  Бакумовка, Ромашки, Шарки, Ольшаница - индекс.xlsx.xlsx - 127-1015-150 Телешовка.csv
  data/tables/ИВ ЦДИАК -  Бакумовка, Ромашки, Шарки, Ольшаница - индекс.xlsx.xlsx - 127-1015-150 Шарки.csv
  data/tables/ИВ ЦДИАК -  Бакумовка, Ромашки, Шарки, Ольшаница - индекс.xlsx.xlsx - 127-1015-153.csv
  data/tables/ИВ ЦДИАК -  Бакумовка, Ромашки, Шарки, Ольшаница - индекс.xlsx.xlsx - 127-1015-204.csv
  data/tables/ИВ ЦДИАК -  Бакумовка, Ромашки, Шарки, Ольшаница - индекс.xlsx.xlsx - 127-1015-620 .csv
  data/tables/ИВ ЦДИАК -  Бакумовка, Ромашки, Шарки, Ольшаница - индекс.xlsx.xlsx - 127-1016-578.csv
  src/app/services/search.test.ts
  src/app/services/search.ts
Due: prettier --write, eslint --fix

Fix Olshanytsia id
  data/tables/TsDIAK-127-1015-126-Olshanytsia.yml
  src/shared/get-tables-metadata.ts
Due: prettier --write, eslint --fix

Velyka Vulyha 1909-1920
  data/tables/DAViO-904-36-20.yml
  data/tables/Велика Вулига 1909-1920, ДАВіО Д-904-36-20 - master.csv
Due: prettier --write

more data
  data/tables/NovaPraha1863-2.csv
  data/tables/NovaPraha1863-головківка.csv
  data/tables/NovaPraha1863-митрофанівка.csv
  data/tables/NovaPraha1863-нп.csv
  data/tables/NovaPraha1863.csv
  data/tables/TsDIAK-127-1012-227.yml
  data/tables/TsDIAK-1316-1-363-Holovkivka.yml
  data/tables/TsDIAK-1316-1-363-Mytrofanivka.yml
  data/tables/TsDIAK-1316-1-363-Nova-Praha.yml
  data/tables/TsDIAK-1316-1-363-part-1.yml
  data/tables/TsDIAK-1316-1-363-part-2.yml
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-227.csv
Due: prettier --write

fix Nova Praha author
  data/tables/TsDIAK-1316-1-363-Nova-Praha.yml
  data/tables/TsDIAK-1316-1-363-part-1.yml
  data/tables/TsDIAK-1316-1-363-part-2.yml
Due: prettier --write

Sharky 1781-1828
  data/tables/TsDIAK-127-1012-285.yml
  data/tables/TsDIAK-127-1012-658.yml
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-285.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-658.csv
Due: prettier --write

more data
  data/tables/TsDIAK-127-1012-1068-Romashky.yml
  data/tables/TsDIAK-127-1012-1069-Sharky.yml
  data/tables/TsDIAK-127-1012-1103-Sharky.yml
  data/tables/TsDIAK-127-1012-1105-Romashky-Bakumivka.yml
  data/tables/TsDIAK-127-1012-1135-Sharky.yml
  data/tables/TsDIAK-127-1012-1138-Romashky-Bakumivka.yml
  data/tables/TsDIAK-127-1012-1162-Sharky.yml
  data/tables/TsDIAK-127-1012-1165-Romashky.yml
  data/tables/TsDIAK-127-1012-972-part.yml
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-1068.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-1069.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-1103.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-1105.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-1135 .csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-1138 .csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-1162 .csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-1165 .csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-227.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-972.csv
Due: prettier --write

fix 972
  data/tables/TsDIAK-127-1012-972-part.yml
Due: prettier --write

avoid confusion with Sharky 1799
  data/tables/TsDIAK-127-1012-1135-Sharky.yml
  data/tables/TsDIAK-127-1015-125-Sharky.yml
Due: prettier --write

bit more data
  .vscode/extensions.json
  data/tables/TsDIAK-127-1012-1182-Sharky.yml
  data/tables/TsDIAK-127-1012-1183-Romashky.yml
  data/tables/TsDIAK-127-1012-3399-Romashky.yml
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-1182.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-1183.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-3399 .csv
Due: prettier --write

Lukina data end
  data/tables/TsDIAK-127-1012-3400-Sharky.yml
  data/tables/TsDIAK-127-1012-3469-Romashky.yml
  data/tables/TsDIAK-127-1012-3469-Sharky.yml
  data/tables/TsDIAK-127-1012-3528-Romashky.yml
  data/tables/TsDIAK-127-1012-3528-Sharky.yml
  data/tables/TsDIAK-127-1012-3587-Romashky.yml
  data/tables/TsDIAK-127-1012-3587-Sharky.yml
  data/tables/TsDIAK-127-1012-3587-Teleshivka.yml
  data/tables/TsDIAK-127-1012-3659-Romashky.yml
  data/tables/TsDIAK-127-1012-3659-Sharky.yml
  data/tables/TsDIAK-127-1012-3659-Teleshivka.yml
  data/tables/TsDIAK-127-1012-3727-Romashky.yml
  data/tables/TsDIAK-127-1012-3727-Sharky.yml
  data/tables/TsDIAK-127-1012-3727-Teleshivka.yml
  data/tables/TsDIAK-127-1012-3801-Romashky.yml
  data/tables/TsDIAK-127-1012-3801-Sharky.yml
  data/tables/TsDIAK-127-1012-3801-Teleshivka.yml
  data/tables/TsDIAK-127-1015-1006-Romashky.yml
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс - Romashky 1864.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс - Romashky 1865.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс - Romashky 1866.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс - Romashky 1867.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс - Romashky 1868.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс - Sharky 1864.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс - Sharky 1865.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс - Sharky 1866.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс - Sharky 1867.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс - Sharky 1868.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс - Teleshivka 1865.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс - Teleshivka 1866.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс - Teleshivka 1867.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс - Teleshivka 1868.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-3400 .csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-3469-Romashky.csv
  data/tables/МК ЦДИАК -  Бакумовка, Ромашки, Шарки, Телешовка - индекс.xlsx - 127-1012-3469-Sharky.csv
Due: prettier --write

various data
  data/tables/DAVoO-R919-1-5-part.yml
  data/tables/DAZpO-R5593-2-1229-1876.yml
  data/tables/Kobyzhcha-1815.yml
  data/tables/Індексація_ДАВоО ф.Р-919, о.1, с.5, арк. 78-98_Список переселенців з Польщі по Горохівському р-ну, Волинська обл. на 1949 р. - Аркуш1.csv
  data/tables/ИР_1815_Троицкая.xlsx - Лист1.csv
  data/tables/Книга-1876.xlsx - Лист1.csv
  src/populate-typesense/determine-row-year.ts
Due: prettier --write, eslint --fix

Pishchane
  data/tables/DAKheO-R2588-3-1.yml
  data/tables/Індексація_ДАХеО ф.Р-2588, о.3, с.1_Погосподарські книги с.Піщане, Гуртових хуторів, сільгосп артіль ім.Будьонного, Цюрупинський р-н, Хер.csv
Due: prettier --write

Dnipro criminal
  data/tables/6478-2.csv
  data/tables/DADnO-R6478-2.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{svg,json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
