Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add record submission DASO-R7720-5-155
  data/records/DASO-R7720-5-155.yaml
  public/csv/DASO-R7720-5-155.csv
Due: none

Add record submission DASO-R7720-5-156
  data/records/DASO-R7720-5-156.yaml
  public/csv/DASO-R7720-5-156.csv
Due: none

Add record submission DASO-R7720-5-157
  data/records/DASO-R7720-5-157.yaml
  public/csv/DASO-R7720-5-157.csv
Due: none

Add record submission DASO-R7720-5-158
  data/records/DASO-R7720-5-158.yaml
  public/csv/DASO-R7720-5-158.csv
Due: none

fix sloboda Petrovska location
  data/records/TsDIAK-1993-1-8-1734-Mary-nativity.yaml
  data/records/TsDIAK-1993-1-8-1734-Peter-Paul.yaml
  data/records/TsDIAK-1993-1-8-1735.yaml
  data/records/TsDIAK-1993-1-8.yaml
Due: none

feat: add type field to project creation schema and response
  src/server/src/handlers/handle-transcribe-project-create.ts
  src/server/src/schemata.ts
Due: prettier --write, eslint --fix

chore: update aider model to gemini-flash-latest
  src/server/.aider.conf.yml
Due: prettier --write

fix: resolve unsafe assignment in project creation handler
  src/server/src/handlers/handle-transcribe-project-create.ts
Due: prettier --write, eslint --fix

test: mock database environment variables in app tests
  src/server/src/app.test.ts
Due: prettier --write, eslint --fix

fix: add missing project type to database insert and response
  src/server/src/database/create-project.ts
  src/server/src/handlers/handle-transcribe-project-create.ts
Due: prettier --write, eslint --fix

feat: implement project type field
  src/app/transcribe/create/page.module.css
  src/app/transcribe/create/page.tsx
  src/app/transcribe/services/api.ts
  src/server/src/schemata.ts
Due: prettier --write, eslint --fix

fix: resolve eslint errors in transcribe module
  src/app/transcribe/create/page.tsx
  src/app/transcribe/services/api.ts
Due: prettier --write, eslint --fix

save specs
  specs/042-project-type.md
  src/server/specs/002-project-type-field.md
Due: prettier --write

feat: hide logout button and introduce useUser hook
  src/app/transcribe/components/logout-button.tsx
  src/app/transcribe/components/user.tsx
  src/app/transcribe/hooks/use-user.ts
Due: prettier --write, eslint --fix

fix: resolve ESLint errors in use-user hook
  src/app/transcribe/hooks/use-user.ts
Due: prettier --write, eslint --fix

fix: resolve unsafe assignment eslint error in use-user hook
  src/app/transcribe/hooks/use-user.ts
Due: prettier --write, eslint --fix

fix the transcribe project create form
  specs/043-sign-out-hide.md
  src/app/components/contribute/spatial-input.tsx
  src/app/transcribe/create/page.tsx
  src/server/src/schemata.ts
Due: prettier --write, eslint --fix

feat: implement R2 upload endpoint
  src/server/package.json
  src/server/src/app.ts
  src/server/src/environment.ts
  src/server/src/handlers/handle-r2-upload.ts
  src/server/src/schemata.ts
  src/server/src/services/r2.test.ts
  src/server/src/services/r2.ts
Due: prettier --write, eslint --fix

style: fix lint issues
  src/server/src/app.ts
  src/server/src/handlers/handle-r2-upload.ts
  src/server/src/services/r2.test.ts
Due: prettier --write, eslint --fix

fix: load strider widget only in production
  CONVENTIONS.md
  src/app/layout.tsx
  src/server/yarn.lock
Due: prettier --write, eslint --fix

fix: use z.string().url() for TURSO_DATABASE_URL
  src/server/src/environment.ts
Due: prettier --write, eslint --fix

refactor: use z.url() instead of deprecated z.string().url()
  src/server/src/environment.ts
Due: prettier --write, eslint --fix

test: fix S3Client mock constructor in r2 tests
  src/server/src/services/r2.test.ts
Due: prettier --write, eslint --fix

refactor: remove Bugsnag reporting from R2 service
  src/server/src/services/r2.ts
Due: prettier --write, eslint --fix

test: use classes to mock S3Client and PutObjectCommand
  src/server/src/services/r2.test.ts
Due: prettier --write, eslint --fix

test: add shell script to test R2 upload endpoint
  src/server/src/handlers/handle-r2-upload.test.sh
Due: none

Save server changes
  src/server/.env.example
  src/server/specs/003-r2-upload.md
  src/server/src/app.ts
  src/server/src/environment.ts
  src/server/src/handlers/handle-r2-upload.test.sh
  src/server/src/middlewares/transcribe-auth.ts
  src/server/src/services/r2.ts
Due: prettier --write, eslint --fix

feat: add project images upload page
  src/app/transcribe/[projectId]/images/page.module.css
  src/app/transcribe/[projectId]/images/page.tsx
Due: prettier --write, eslint --fix

style: fix CSS linting issues in images page
  src/app/transcribe/[projectId]/images/page.module.css
Due: prettier --write

fix: replace uuid dependency with native crypto.randomUUID
  src/app/transcribe/[projectId]/images/page.tsx
Due: prettier --write, eslint --fix

style: apply linter fixes to images upload page
  src/app/transcribe/[projectId]/images/page.tsx
Due: prettier --write, eslint --fix

fix: wrap startUpload in void function to fix misused-promises error
  src/app/transcribe/[projectId]/images/page.tsx
Due: prettier --write, eslint --fix

refactor: move images page to static route and use searchParams
  src/app/transcribe/images/page.module.css
  src/app/transcribe/images/page.tsx
Due: prettier --write, eslint --fix

fix: correct import path for api service in images page
  src/app/transcribe/images/page.tsx
Due: prettier --write, eslint --fix

fix for SSG
  CONVENTIONS.md
  specs/044-project-images-upload-page.md
  specs/045-project-id-images-query-param.md
  src/app/transcribe/[projectId]/images/page.module.css
  src/app/transcribe/[projectId]/images/page.tsx
  src/app/transcribe/images/page.tsx
Due: prettier --write, eslint --fix

feat: implement project image table and API endpoints
  src/server/src/app.ts
  src/server/src/database/create-project.ts
  src/server/src/handlers/handle-project-image.ts
  src/server/src/handlers/handle-project-images.ts
  src/server/src/helpers/get-jpeg-dimensions.test.ts
  src/server/src/helpers/get-jpeg-dimensions.ts
  src/server/src/services/r2.ts
Due: prettier --write, eslint --fix

style: run linter
  src/server/src/handlers/handle-project-image.ts
  src/server/src/helpers/get-jpeg-dimensions.test.ts
Due: prettier --write, eslint --fix

fix: fix TypeScript and ESLint errors in project image handler
  src/server/src/handlers/handle-project-image.ts
Due: prettier --write, eslint --fix

fix: correct height and width offsets in getJpegDimensions
  src/server/src/helpers/get-jpeg-dimensions.ts
Due: prettier --write, eslint --fix

Finish R2 changes
  src/server/specs/004-project-image-table.md
  src/server/src/handlers/handle-r2-upload.test.sh
  src/server/src/handlers/handle-r2-upload.ts
  src/server/src/services/r2.test.ts
  src/server/src/services/r2.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
