Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md,yml}": "prettier --write"
}

Update title in DAZhO-1-77-1233-Mali-Klishchi-death.yaml
  data/records/DAZhO-1-77-1233-Mali-Klishchi-death.yaml
Due: none

Update and rename natalivka-dniprovskyi-pov-tavriiska-hub-smerti-1919.yaml to DAKheO-259-36-5-death.yaml
  data/records/DAKheO-259-36-5-death.yaml
Due: none

Add DAKheO marriage records for 1910-1913
  data/records/DAKheO-259-33-Marianivski-Khutory-marriage-1910-1913.yaml
Due: none

Update title in DAZhO-118-14-266-Chernelivka.yaml
  data/records/DAZhO-118-14-266-Chernelivka.yaml
Due: none

Update title in DAKO-384-12-Herezhenivka.yaml
  data/records/DAKO-384-12-Herezhenivka.yaml
Due: none

Add record submission babushky-narodzhennia-1876
  data/csv/babushky-narodzhennia-1876.csv
  data/records/babushky-narodzhennia-1876.yaml
Due: none

chore: auto-update data size [skip ci]
  data/csv/babushky-narodzhennia-1876.csv
Due: none

Add record submission babushky-shliub-1876
  data/csv/babushky-shliub-1876.csv
  data/records/babushky-shliub-1876.yaml
Due: none

chore: auto-update data size [skip ci]
  data/csv/babushky-shliub-1876.csv
Due: none

Add record submission babushky-smert-1876
  data/csv/babushky-smert-1876.csv
  data/records/babushky-smert-1876.yaml
Due: none

chore: auto-update data size [skip ci]
  data/csv/babushky-smert-1876.csv
Due: none

Update 1931202608041111.yaml
  data/records/1931202608041111.yaml
Due: none

Update birth records in 1931202608041111.csv
  data/csv/1931202608041111.csv
Due: none

Add DAZhO-1-77-84-Babushky-birth.yaml file
  data/records/DAZhO-1-77-84-Babushky-birth.yaml
Due: none

Add DAZhO-1-77-84-Babushky-marriage.yaml file
  data/records/DAZhO-1-77-84-Babushky-marriage.yaml
Due: none

Add DAZhO-1-77-84-Babushky-death.yaml file
  data/records/DAZhO-1-77-84-Babushky-death.yaml
Due: none

fix(transcribe): use plural project images endpoint
  src/app/transcribe/api/get-project-images.ts
  src/server/src/app.ts
Due: prettier --write, eslint --fix

docs(opencode): align agent ideation/planning and test command docs
  .opencode/agents/ideate.md
  .opencode/agents/plan.md
  .opencode/commands/test-server.md
  .opencode/commands/test.md
Due: prettier --write

feat(about): add benefactor recognition section
  specs/056-add-benefactor-section.md
  src/app/about/benefactors.test.ts
  src/app/about/benefactors.ts
  src/app/about/page.module.css
  src/app/about/page.test.tsx
  src/app/about/page.tsx
Due: prettier --write, eslint --fix

feat(sharhoroots): add two-step Sharhoroots prompt
  src/app/components/sharhoroots-prompt.module.css
  src/app/components/sharhoroots-prompt.test.tsx
  src/app/components/sharhoroots-prompt.tsx
  src/app/hooks/use-sharhoroots-prompt.test.ts
  src/app/hooks/use-sharhoroots-prompt.ts
  src/app/layout.tsx
Due: prettier --write, eslint --fix

chore(regional-blocking): remove gentle ukrainization toast\n\nRemove the redundant non-blocking popup; keep only the hard block for Russian-primary users.
  package.json
  src/app/hooks/use-no-russians.module.css
  src/app/hooks/use-no-russians.spec.tsx
  src/app/hooks/use-no-russians.tsx
  src/app/layout.tsx
  yarn.lock
Due: prettier --write, eslint --fix

ci: add typecheck gate and server tests to PR workflow
  .github/workflows/check-pr.yml
  .github/workflows/main.yml
  package.json
Due: prettier --write

ci(github-actions): cache Yarn node_modules in CI
  .github/workflows/check-pr.yml
  .github/workflows/main.yml
  specs/044-p1-yarn-dependency-caching.md
Due: prettier --write

refactor(search): replace lodash with es-toolkit
  package.json
  specs/045-p1-replace-lodash-with-es-toolkit.md
  src/app/[tableId]/[page]/page.tsx
  src/app/components/contribute/use-location-search.ts
  src/app/components/search-results.tsx
  src/app/page.tsx
  src/app/services/known-locations.ts
  src/app/services/locationiq.ts
  src/app/sitemap.ts
  src/dockerize-typesense/main.test.ts
  src/dockerize-typesense/main.ts
  src/populate-typesense/determine-row-year.test.ts
  src/populate-typesense/determine-row-year.ts
  src/populate-typesense/import-batch.ts
  src/populate-typesense/populate-unstructured.ts
  src/shared/get-tables-metadata.ts
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): remove editor tooling from devDependencies
  mise.toml
  package.json
  specs/046-p1-remove-editor-tooling-from-devdeps.md
Due: prettier --write

chore(mise): remove invalid typescript-language-server entry
  mise.toml
Due: none

chore(dev): add dev:all script with concurrently
  package.json
  specs/048-p2-dev-all-script-with-concurrently.md
  yarn.lock
Due: prettier --write

fix(ci): fix check-pr workflow path filter
  .github/workflows/check-pr.yml
  specs/049-p3-fix-check-pr-path-filter.md
Due: prettier --write

chore(p3): bump @types/node to 22 and ES target to ES2022
  package.json
  specs/050-p3-bump-types-node-and-target.md
  tsconfig.json
  yarn.lock
Due: prettier --write

chore(vitest): use native tsconfig path resolution
  package.json
  src/daily-report/package.json
  src/daily-report/vitest.config.mts
  src/server/package.json
  src/server/vitest.config.mts
  vitest.config.mts
  yarn.lock
Due: prettier --write

feat(ci): validate data contributions before merge
  .github/workflows/enrich-data.yml
  eslint.config.mjs
  package.json
  specs/057-validate-data-contribution-workflow.md
  src/modernize-russian/index.ts
  src/validate-data-contribution/index.test.ts
  src/validate-data-contribution/index.ts
Due: prettier --write, eslint --fix

docs(roadmap): mark improvement roadmap as fully complete
  IMPROVEMENT_ROADMAP.md
Due: prettier --write

fix(deploy): align server deployment with Yarn 4 workspaces
  .github/workflows/main.yml
  src/server/package.json
Due: prettier --write

fix(ci): remove yarnPath to use Mise-managed Yarn in CI
  .yarnrc.yml
Due: prettier --write

chore: regenerate yarn.lock after removing @koreni/shared from koreni-server
  yarn.lock
Due: none

fix(ci): remove invalid yarn cache dir step
  .github/workflows/main.yml
Due: prettier --write

ci(daily-report): set read-only permissions for workflow
  .github/workflows/daily-report.yml
Due: prettier --write

chore(ci): deploy backend node_modules via artifacts
  .github/workflows/main.yml
Due: prettier --write

chore(server): include package.json in build output
  src/server/package.json
Due: prettier --write
