Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md,yml}": "prettier --write"
}

Add record submission 1897-Andrushky-test2
  data/records/1897-Andrushky-test2.yaml
  public/csv/1897-Andrushky-test2.csv
Due: none

fix: disable server tests
  vitest.config.mts
Due: none

feat: test server
  .github/workflows/main.yml
  src/server/package.json
  src/server/src/app.test.ts
  src/server/src/helpers/is-valid-api-key.test.ts
  src/server/src/services/__mocks__/posthog.ts
  src/server/vitest.config.mts
  src/server/yarn.lock
Due: prettier --write, eslint --fix

fix: server Node.js version
  src/server/.nvmrc
Due: none

fix: better pipeline deps
  .github/workflows/main.yml
  vitest.config.mts
Due: prettier --write

fix: remove serve
  package.json
  yarn.lock
Due: prettier --write

Add record submission dakhmo-315-1-8563-antonivka
  data/records/dakhmo-315-1-8563-antonivka.yaml
  public/csv/dakhmo-315-1-8563-antonivka.csv
Due: none

Add record submission 1897-Andrushky-test3
  data/records/1897-Andrushky-test3.yaml
  public/csv/1897-Andrushky-test3.csv
Due: none

fix: postpone Bugsnag error handler
  src/server/src/app.ts
Due: prettier --write, eslint --fix

fix: restore tableFilePath in YAML metadata
  src/server/src/services/github.ts
Due: prettier --write, eslint --fix

feat: cut Typesense ingestion from code deployment
  .github/workflows/main.yml
  .github/workflows/typesense.yml
Due: prettier --write

Add tableFilePath to dakhmo-315-1-8563-antonivka.yaml
  data/records/dakhmo-315-1-8563-antonivka.yaml
Due: none

chore: auto-update data size [skip ci]
  public/csv/dakhmo-315-1-8563-antonivka.csv
Due: none

feat: memorize author identity
  .github/workflows/enrich-data.yml
  .vscode/settings.json
  src/app/components/index-table.tsx
  src/app/contribute/convert-contribute-form-data.ts
  src/app/contribute/local-storage.ts
  src/app/contribute/page.module.css
  src/app/contribute/page.tsx
  src/app/import/local-storage.ts
  src/app/robots.ts
  src/server/src/handlers/handle-submit.ts
Due: prettier --write, eslint --fix

fix: allow big Latin letters in IDs
  src/app/contribute/page.tsx
Due: prettier --write, eslint --fix

fix: remove metadata from CSR page
  src/app/contribute/page.tsx
Due: prettier --write, eslint --fix

feat: Clusters on Map
  package.json
  src/app/components/map.tsx
  yarn.lock
Due: prettier --write, eslint --fix

fix: map test
  src/app/components/map.test.tsx
  src/app/components/map.tsx
Due: prettier --write, eslint --fix

feat: better location input
  .github/workflows/main.yml
  .lintstagedrc.json
  .vscode/settings.json
  src/app/components/contribute/contribute-form.module.css
  src/app/components/contribute/contribute-form.tsx
  src/app/components/contribute/convert-contribute-form-data.ts
  src/app/components/contribute/local-storage.ts
  src/app/contribute/page.tsx
  src/app/environment.ts
  src/app/services/known-locations.ts
  src/app/services/locationiq.ts
Due: prettier --write, eslint --fix

feat: use old location on submission
  .vscode/settings.json
  package.json
  src/app/components/contribute/additional-info-fields.tsx
  src/app/components/contribute/author-fields.tsx
  src/app/components/contribute/contribute-form.tsx
  src/app/components/contribute/convert-contribute-form-data.ts
  src/app/components/contribute/local-storage.ts
  src/app/components/contribute/location-fields.module.css
  src/app/components/contribute/location-fields.tsx
  src/app/components/contribute/location-modal.module.css
  src/app/components/contribute/location-modal.tsx
  src/app/components/contribute/table-info-fields.tsx
  src/app/components/contribute/types.ts
  src/app/components/contribute/year-fields.tsx
  src/app/components/search-results.test.tsx
  src/app/providers/error-boundary.spec.tsx
  yarn.lock
Due: prettier --write, eslint --fix

feat: Remark42
  .github/workflows/main.yml
  package.json
  scripts/server/nginx.conf
  scripts/server/remark42.service
  src/app/[tableId]/[page]/table-content.tsx
  src/app/about/page.tsx
  src/app/components/comments.tsx
  src/app/components/comments/comments-wrapped.tsx
  src/app/components/comments/comments.module.css
  src/app/components/comments/comments.tsx
  src/app/components/comments/remark42.tsx
  src/app/environment.ts
  src/app/map/page.tsx
  src/app/page.tsx
  src/app/tables/page.tsx
  src/app/volunteers/[volunteerSlug]/page.tsx
  src/types/remark42.d.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

fix: tests for comments
  src/app/[tableId]/[page]/table-content.test.tsx
  src/app/[tableId]/[page]/table-content.tsx
  src/app/about/page.tsx
  src/app/components/comments/comments-wrapped.tsx
  src/app/contribute/page.tsx
  src/app/map/page.tsx
  src/app/page.tsx
  src/app/tables/page.tsx
  src/app/volunteers/[volunteerSlug]/page.spec.tsx
  src/app/volunteers/[volunteerSlug]/page.tsx
Due: prettier --write, eslint --fix

feat: identity autocomplete
  src/app/components/contribute/author-fields.tsx
Due: prettier --write, eslint --fix

feat: enable all autocomplete
  src/app/components/contribute/location-fields.tsx
  src/app/components/contribute/table-info-fields.tsx
  src/app/components/contribute/year-fields.tsx
Due: prettier --write, eslint --fix

Add record submission DAKhmO-315-1-8563-Antonova
  data/records/DAKhmO-315-1-8563-Antonova.yaml
  public/csv/DAKhmO-315-1-8563-Antonova.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Antonova.csv
Due: none

fix: contribution form
  package.json
  src/app/components/comments/remark42.tsx
  src/app/components/contribute/additional-info-fields.tsx
  src/app/components/contribute/author-fields.tsx
  src/app/components/contribute/contribute-form.tsx
  src/app/components/contribute/convert-contribute-form-data.ts
  src/app/components/contribute/local-storage.ts
  src/app/components/contribute/location-fields.tsx
  src/app/components/contribute/location-modal.module.css
  src/app/components/contribute/schemata.ts
  src/app/components/contribute/table-info-fields.tsx
  src/app/components/contribute/types.ts
  src/app/components/contribute/year-fields.tsx
  src/server/src/schemata.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat: Improve location input
  next.config.ts
  src/app/components/contribute/contribute-form.tsx
  src/app/components/contribute/location-fields.module.css
  src/app/components/contribute/location-fields.tsx
  src/app/components/contribute/location-modal.module.css
  src/app/components/contribute/location-modal.tsx
  src/app/components/contribute/location-picker.module.css
  src/app/components/contribute/location-picker.tsx
  src/app/components/contribute/map-updater.tsx
  src/app/components/map-point.tsx
  src/app/map-icons.ts
  src/app/services/locationiq.ts
Due: prettier --write, eslint --fix

feat: better contribute form
  src/app/components/contribute/additional-info-fields.module.css
  src/app/components/contribute/additional-info-fields.tsx
  src/app/components/contribute/author-fields.module.css
  src/app/components/contribute/author-fields.tsx
  src/app/components/contribute/contribute-form.module.css
  src/app/components/contribute/contribute-form.tsx
  src/app/components/contribute/convert-contribute-form-data.ts
  src/app/components/contribute/local-storage.ts
  src/app/components/contribute/location-fields.tsx
  src/app/components/contribute/location-picker.module.css
  src/app/components/contribute/location-picker.tsx
  src/app/components/contribute/schemata.ts
  src/app/components/contribute/table-info-fields.module.css
  src/app/components/contribute/table-info-fields.tsx
  src/app/components/contribute/types.ts
  src/app/components/contribute/year-fields.module.css
  src/app/components/contribute/year-fields.tsx
  src/app/contribute/convert-contribute-form-data.ts
  src/app/contribute/local-storage.ts
  src/app/contribute/page.module.css
Due: prettier --write, eslint --fix

Add record submission DAIFO-631-9-17
  data/records/DAIFO-631-9-17.yaml
  public/csv/DAIFO-631-9-17.csv
Due: none

fix: Turnstile refresh on submit failure
  src/app/components/contribute/contribute-form.tsx
Due: prettier --write, eslint --fix

feat: replace admin email
  src/app/about/page.tsx
  src/app/components/contribute/contribute-form.tsx
  src/app/privacy/page.tsx
  src/server/README.md
Due: prettier --write, eslint --fix

fix: dark theme in location-picker
  src/app/components/contribute/location-picker.module.css
Due: prettier --write

Add record submission TsDIAK-127-1012-2052-Mankivka
  data/records/TsDIAK-127-1012-2052-Mankivka.yaml
  public/csv/TsDIAK-127-1012-2052-Mankivka.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/TsDIAK-127-1012-2052-Mankivka.csv
Due: none

Fix CSV headers for consistency and accuracy
  public/csv/TsDIAK-127-1012-2052-Mankivka.csv
Due: none

fix: don't modernize the header
  src/modernize-russian/index.ts
Due: prettier --write, eslint --fix

Add record submission DAKO-384-12-311
  data/records/DAKO-384-12-311.yaml
  public/csv/DAKO-384-12-311.csv
Due: none
