Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: search.test.tsx mock for env
  src/app/components/search.test.tsx
Due: prettier --write, eslint --fix

fix: no pull-data
  .github/workflows/main.yml
Due: prettier --write

adjust env var
  .github/workflows/main.yml
Due: prettier --write

Adjust MapWrapper
  src/app/components/map-wrapper.tsx
Due: prettier --write, eslint --fix

set permissions on deploy
  .github/workflows/main.yml
Due: prettier --write

change deploy folder
  .github/workflows/main.yml
Due: prettier --write

exportTrailingSlash
  next.config.ts
Due: prettier --write, eslint --fix

fix: correct SVG type
  src/app/svg.d.ts
Due: prettier --write, eslint --fix

fix top-level await
  .github/workflows/main.yml
  eslint.config.mjs
  src/populate-typesense/index.ts
Due: prettier --write, eslint --fix

pre-fix permissions
  .github/workflows/main.yml
Due: prettier --write

pages' titles
  src/app/[tableId]/[page]/page.tsx
  src/app/map/page.tsx
Due: prettier --write, eslint --fix

fix: caret jump
  next.config.ts
  src/app/components/search-controls.tsx
  src/app/components/search.tsx
Due: prettier --write, eslint --fix

Bugsnag
  package.json
  src/app/components/index-table.test.tsx
  src/app/components/index-table.tsx
  src/app/components/map-wrapper.test.tsx
  src/app/components/map-wrapper.tsx
  src/app/components/search.test.tsx
  src/app/components/search.tsx
  src/app/environment.ts
  src/app/hocs/with-error-boundary.tsx
  src/app/services/bugsnag.ts
  yarn.lock
Due: prettier --write, eslint --fix

simple analytics
  src/app/components/simple-analytics.tsx
  src/app/layout.tsx
Due: prettier --write, eslint --fix

custom 404
  .vscode/settings.json
  scripts/server/nginx.conf
  src/app/not-found/page.module.css
  src/app/not-found/page.tsx
Due: prettier --write, eslint --fix

adjust env mock
  src/app/components/search.test.tsx
Due: prettier --write, eslint --fix

mock withErrorBoundary
  src/app/__mocks__/environment.ts
  src/app/components/index-table.test.tsx
  src/app/components/map-wrapper.test.tsx
  src/app/components/search.test.tsx
  src/app/hocs/__mocks__/with-error-boundary.tsx
Due: prettier --write, eslint --fix

Combine points
  data/tables/4.yml
  data/tables/Політанки 1796 - master.csv
  scripts/server/nginx.conf
  src/app/[tableId]/[page]/page.tsx
  src/app/components/map.test.tsx
  src/app/components/map.tsx
  src/app/helpers/combine-points.test.ts
  src/app/helpers/combine-points.ts
  src/app/map/page.tsx
Due: prettier --write, eslint --fix

Індекси України
  data/tables/29.yml
  data/tables/30.yml
  data/tables/31.yml
  data/tables/32.yml
  data/tables/33.yml
  data/tables/34.yml
  data/tables/Київ - Народження.csv
  data/tables/Київ - Одруження.csv
  data/tables/Київ - Смерть.csv
  data/tables/Київська губернія СПОВІДКИ - Махнівський повіт.csv
  data/tables/Київська губернія СПОВІДКИ - Таращанський повіт.csv
  data/tables/Київська губернія СПОВІДКИ - Чигиринський повіт.csv
Due: prettier --write

Черепашинці 1802
  data/tables/35.yml
  data/tables/Черепашинці 1802 Сповідний розпис ДАХмО 315-1-6816 - master.csv
  src/app/[tableId]/[page]/page.tsx
Due: prettier --write, eslint --fix

fix Черепашинці 1802
  data/tables/35.yml
Due: prettier --write

sa_event
  data/tables/15.yml
  src/app/components/search.tsx
  src/app/components/simple-analytics.tsx
Due: prettier --write, eslint --fix

NotFoundError on 404
  src/app/not-found/page.tsx
Due: prettier --write, eslint --fix

Fix warnings in test files
  src/app/components/index-table.test.tsx
  src/app/components/map-wrapper.test.tsx
  src/app/components/search-results.test.tsx
  src/app/components/search.test.tsx
  src/app/services/search.test.ts
Due: prettier --write, eslint --fix

Цибульський, порція 1
  data/tables/1796 Соколівка ЦДІАК, ф.127,оп.1012, спр.1063.xlsx - МК.csv
  data/tables/1801 Соколівка ЦДІАК, ф.127,оп.1012, спр.1197а обр.xlsx - МК.csv
  data/tables/1811 Іванківці - шляхта - ДАКО ф.280, оп. 2, спр.267.xlsx - Шляхта 1811.csv
  data/tables/1811 Городківка шляхта - ДАКО ф.280, оп. 2, спр.267.xlsx - Шляхта 1811.csv
  data/tables/1811 Лебединці  шляхта - ДАКО ф.280, оп. 2, спр.267.xlsx - Шляхта, Лебединці.csv
  data/tables/1811 Хажин - шляхта - ДАКО ф.280, оп. 2, спр.267.xlsx - Шляхта 1811.csv
  data/tables/1824 Соколівка ЦДІАК, ф.127,оп.1012, спр.1536 обр.xlsx - МК 1824.csv
  data/tables/1880 Рубченки ЦДІАК, ф.127,оп. 1015, спр. 1198.xlsx - Сповідка.csv
  data/tables/36.yml
  data/tables/37.yml
  data/tables/38.yml
  data/tables/39.yml
  data/tables/40.yml
  data/tables/41.yml
  data/tables/42.yml
  data/tables/43.yml
  data/tables/44.yml
  data/tables/45.yml
  data/tables/46.yml
  data/tables/47.yml
  data/tables/48.yml
  data/tables/49.yml
  data/tables/50.yml
  data/tables/51.yml
  data/tables/Бердичів перепис 1897 ДАКО, ф. 384, оп.15 спр.3-104 алф.xlsm – копія.xlsm - Бердичів інші.csv
  data/tables/Бердичів перепис 1897 ДАКО, ф. 384, оп.15 спр.3-104 алф.xlsm – копія.xlsm - Католики (Алф).csv
  data/tables/Бердичів перепис 1897 ДАКО, ф. 384, оп.15 спр.3-104 алф.xlsm – копія.xlsm - Ортодокс (Алф).csv
  data/tables/Бердичів перепис 1897 ДАКО, ф. 384, оп.15 спр.3-104 алф.xlsm – копія.xlsm - Юдеї (Алф) (1).csv
  data/tables/Бердичів перепис 1897 ДАКО, ф. 384, оп.15, спр.46.xlsm - 384 15 46.csv
  data/tables/Зелений Ріг - 1836+66.xlsx - Лист1.csv
  data/tables/Зелений Ріг 1828 ЦДІАК, ф.127,оп.1015, спр.399.xlsx - Сповідка.csv
  data/tables/Зелений Ріг 1836 ЦДІАК, ф.127,оп 1015, спр 524+.xlsx - Лист1.csv
Due: prettier --write

.env.example
  .env.example
  .gitignore
Due: none

Describe, enhance and fix local setup
  .gitignore
  .vscode/settings.json
  README.md
  scripts/prepare-server/setup-typesense-via-docker.sh
  src/app/hocs/with-error-boundary.tsx
  src/app/services/bugsnag.ts
Due: prettier --write, eslint --fix

dockerize-typesense
  .env.example
  .github/workflows/main.yml
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  eslint.config.mjs
  package.json
  src/app/environment.ts
  src/app/hocs/with-error-boundary.tsx
  src/dockerize-typesense/config.ts
  src/dockerize-typesense/create-collections.test.ts
  src/dockerize-typesense/create-collections.ts
  src/dockerize-typesense/generate-key.ts
  src/dockerize-typesense/get-typesense-admin-key.test.ts
  src/dockerize-typesense/get-typesense-admin-key.ts
  src/dockerize-typesense/get-typesense-bootstrap-key.test.ts
  src/dockerize-typesense/get-typesense-bootstrap-key.ts
  src/dockerize-typesense/get-typesense-search-key.test.ts
  src/dockerize-typesense/get-typesense-search-key.ts
  src/dockerize-typesense/index.ts
  src/dockerize-typesense/main.test.ts
  src/dockerize-typesense/main.ts
  src/dockerize-typesense/prepare-dotenv-blank.test.ts
  src/dockerize-typesense/prepare-dotenv-blank.ts
  src/dockerize-typesense/read-environment-file.test.ts
  src/dockerize-typesense/read-environment-file.ts
  src/dockerize-typesense/schemata.ts
  src/dockerize-typesense/sleep.test.ts
  src/dockerize-typesense/sleep.ts
  src/dockerize-typesense/start-typesense.test.ts
  src/dockerize-typesense/start-typesense.ts
  src/dockerize-typesense/stop-typesense.ts
  src/dockerize-typesense/wait-until.test.ts
  src/dockerize-typesense/wait-until.ts
  src/dockerize-typesense/write-environment-values.test.ts
  src/dockerize-typesense/write-environment-values.ts
  src/shared/get-tables-metadata.ts
  src/shared/get-yaml-filepaths.ts
  yarn.lock
Due: prettier --write, eslint --fix

packageManager field
  package.json
Due: prettier --write

fix test
  src/shared/schemas/indexation-table.test.ts
Due: prettier --write, eslint --fix

Fix sa_event issue
  src/app/components/search.tsx
  src/app/layout.tsx
  src/app/services/simple-analytics.test.ts
  src/app/services/simple-analytics.ts
Due: prettier --write, eslint --fix

Make HTML with actual tabular data
  src/app/[tableId]/[page]/page.tsx
  src/app/components/index-table.test.tsx
  src/app/components/index-table.tsx
  src/app/helpers/get-search-parameters.test.ts
  src/app/helpers/get-search-parameters.ts
Due: prettier --write, eslint --fix

more data from Tsybulskyi
  data/tables/1811 Велике (Радзивилівка) - шляхта - ДАКО ф.280, оп. 2, спр.267.xlsx - Шляхта 1811.csv
  data/tables/1811 Лопатин - шляхта - ДАКО ф.280, оп. 2, спр.267.xlsx - Шляхта 1811.csv
  data/tables/1811 Люлинці - шляхта - ДАКО ф.280, оп. 2, спр.267.xlsx - Шляхта 1811 (1).csv
  data/tables/1811 Малий Чернятин - шляхта - ДАКО ф.280, оп. 2, спр.267.xlsx - Шляхта 1811.csv
  data/tables/1836 Соколівка ЦДІАК, ф.127,оп 1015, спр 524+.xlsx - Лист1.csv
  data/tables/1837 Баштечки+Королівка ЦДІАК, ф.127,оп 1015, спр 541.xlsx - Сповідка.csv
  data/tables/1837 Тинівка ЦДІАК, ф.127,оп 1015, спр 541.xlsx - Лист1.csv
  data/tables/1839 Соколівка ЦДІАК, ф.127,оп 1014, спр 190 опр.xlsx - МК.csv
  data/tables/1867 Соколівка ЦДІАК, ф.127,оп 1015, спр 1133.xlsx - Сповідка.csv
  data/tables/52.yml
  data/tables/53.yml
  data/tables/54.yml
  data/tables/55.yml
  data/tables/56.yml
  data/tables/57.yml
  data/tables/58.yml
  data/tables/59.yml
  data/tables/60.yml
  data/tables/61.yml
  data/tables/62.yml
  data/tables/63.yml
  data/tables/64.yml
  data/tables/65.yml
  data/tables/66.yml
  data/tables/67.yml
  data/tables/68.yml
  data/tables/69.yml
  data/tables/Іванківська волость прізвища.xlsm - Обуховичі, Станішевка (1).csv
  data/tables/Бузівка - 1821 (1).xlsx - Лист1.csv
  data/tables/Житники - 1840+ ЦДІАК, ф.127,оп.1015, спр.595.xlsx - Лист1.csv
  data/tables/Козятин православні - Козятин.csv
  data/tables/Козятин юдеї.xlsm - Козятин.csv
  data/tables/Розважівська волость прізвища.xlsm - Розважів.csv
  data/tables/Сабадаш - СпВід 1840+.xlsx - Сповідка (1).csv
  data/tables/Сорокотяга - 1840+ ЦДІАК, ф.127,оп.1015, спр.595.xlsx - Лист1.csv
  data/tables/Хижня - 1836+.xlsx - Сповідка.csv
Due: prettier --write

Fix mobile appearance, rework layout a bit
  src/app/[tableId]/[page]/page.module.css
  src/app/[tableId]/[page]/page.tsx
  src/app/components/header.module.css
  src/app/components/index-table.module.css
  src/app/components/map-wrapper.module.css
  src/app/components/map-wrapper.test.tsx
  src/app/components/map-wrapper.tsx
  src/app/components/map.module.css
  src/app/components/map.tsx
  src/app/components/pagination.module.css
  src/app/components/search-results.module.css
  src/app/components/search-results.test.tsx
  src/app/components/search-results.tsx
  src/app/components/search.module.css
  src/app/globals.css
  src/app/layout.module.css
  src/app/map/page.module.css
  src/app/map/page.tsx
  src/app/page.module.css
Due: prettier --write, eslint --fix

Working on UI
  src/app/[tableId]/[page]/page.module.css
  src/app/[tableId]/[page]/page.tsx
  src/app/components/details.module.css
  src/app/components/details.test.tsx
  src/app/components/details.tsx
  src/app/components/header.module.css
  src/app/components/header.test.tsx
  src/app/components/header.tsx
  src/app/components/index-table.module.css
  src/app/components/map-wrapper.module.css
  src/app/components/map-wrapper.test.tsx
  src/app/components/map-wrapper.tsx
  src/app/components/map.module.css
  src/app/components/map.tsx
  src/app/components/pagination.module.css
  src/app/components/search-controls.module.css
  src/app/components/search-controls.tsx
  src/app/components/search-results.module.css
  src/app/components/search-results.tsx
  src/app/components/search.module.css
  src/app/components/search.test.tsx
  src/app/components/search.tsx
  src/app/globals.css
  src/app/layout.module.css
  src/app/map/page.module.css
  src/app/map/page.tsx
  src/app/not-found/page.module.css
  src/app/page.module.css
  src/app/page.tsx
  src/app/sitemap.ts
  src/app/tables/page.module.css
  src/app/tables/page.tsx
Due: prettier --write, eslint --fix

fix the map's rendering
  src/app/components/details.tsx
  src/app/components/map-wrapper.tsx
  src/app/components/search-results.module.css
  src/app/components/search.module.css
  src/app/map/page.tsx
Due: prettier --write, eslint --fix

about
  src/app/about/page.module.css
  src/app/about/page.tsx
  src/app/components/header.tsx
  src/app/sitemap.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{svg,json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
