Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add DAZhO-1-77-Babushky marriage records file
  data/records/DAZhO-1-77-Babushky-marriage-1879-1881.yaml
Due: none

Rename babushky-smert file to DAZhO-1-77 format
  data/records/DAZhO-1-77-Babushky-death-1879-1881.yaml
Due: none

feat(transcribe): deduplicate project requests with SWR
  eslint.config.mjs
  package.json
  specs/088-transcribe-swr-request-deduplication.md
  src/app/account/components/account-header.test.tsx
  src/app/account/components/account-header.tsx
  src/app/account/components/account-swr-provider.tsx
  src/app/account/layout.tsx
  src/app/account/transcribe/project/page.test.tsx
  src/app/account/transcribe/project/page.tsx
  yarn.lock
Due: prettier --write, eslint --fix

feat(opencode): bound agent specification context
  .opencode/agents/architect.md
  .opencode/agents/build.md
  .opencode/agents/execute.md
  .opencode/agents/investigate.md
  .opencode/agents/verify.md
  .opencode/agents/vision.md
  .opencode/commands/commit.md
  .opencode/commands/lint-css.md
  .opencode/commands/lint.md
  .opencode/commands/refactor.md
  .opencode/commands/scaffold-test-server.md
  .opencode/commands/scaffold-test.md
  .opencode/commands/test-server.md
  .opencode/commands/test.md
  AGENTS.md
  opencode.json
  specs/073-opencode-context-budget.md
Due: prettier --write

feat(account): add email visibility controls
  .env.example
  .github/workflows/main.yml
  .gitignore
  specs/074-account-email-visibility.md
  src/app/account/page.module.css
  src/app/account/page.test.tsx
  src/app/account/page.tsx
  src/app/account/schemata.ts
  src/app/helpers/get-volunteers.test.ts
  src/app/helpers/get-volunteers.ts
  src/scripts/fetch-email-visibility-policy.test.ts
  src/scripts/fetch-email-visibility-policy.ts
  src/server/.env.example
  src/server/src/app.test.ts
  src/server/src/app.ts
  src/server/src/database/find-user-by-id.ts
  src/server/src/database/generated.ts
  src/server/src/database/get-email-visibility-suppressions.ts
  src/server/src/database/schema.sql
  src/server/src/database/update-user-email-visibility.ts
  src/server/src/database/users.test.ts
  src/server/src/environment.ts
  src/server/src/handlers/handle-auth-email-visibility.test.ts
  src/server/src/handlers/handle-auth-email-visibility.ts
  src/server/src/handlers/handle-email-visibility-policy.test.ts
  src/server/src/handlers/handle-email-visibility-policy.ts
  src/server/src/schemata.ts
  src/server/src/services/github-workflow-dispatch.test.ts
  src/server/src/services/github-workflow-dispatch.ts
Due: prettier --write, eslint --fix

chore(deps): update dependencies
  package.json
  yarn.lock
Due: prettier --write

test(msw): use current unhandled frame option
  src/app/account/page.test.tsx
  src/scripts/fetch-email-visibility-policy.test.ts
Due: prettier --write, eslint --fix

test(account): mock API service in account page tests
  src/app/account/page.test.tsx
Due: prettier --write, eslint --fix

feat(account): guard navigation with unsaved-change state
  specs/075-reusable-unsaved-changes-guard.md
  src/app/account/components/logout-button.test.tsx
  src/app/account/components/logout-button.tsx
  src/app/account/page.module.css
  src/app/account/page.test.tsx
  src/app/account/page.tsx
  src/app/hooks/use-unsaved-changes.ts
  src/app/layout.tsx
  src/app/providers/unsaved-changes-provider.test.tsx
  src/app/providers/unsaved-changes-provider.tsx
Due: prettier --write, eslint --fix

fix(css): improve text wrapping behavior
  src/app/components/dynamic-value.module.css
  src/app/components/sharhoroots-prompt.module.css
  src/app/globals.css
Due: prettier --write

fix(ci): provide API origin for frontend tests
  .github/workflows/main.yml
  specs/076-ci-api-site-test-env.md
Due: prettier --write

test(ci): configure API site for frontend tests
  .github/workflows/check-pr.yml
Due: prettier --write

feat(server): log GitHub workflow dispatch failure reasons
  specs/077-github-workflow-dispatch-failure-reasons.md
  src/server/src/schemata.test.ts
  src/server/src/schemata.ts
  src/server/src/services/github-workflow-dispatch.test.ts
  src/server/src/services/github-workflow-dispatch.ts
Due: prettier --write, eslint --fix

Add record submission reiestratsii-aktovykh-zapysiv-pro-narodzhennia
  data/csv/reiestratsii-aktovykh-zapysiv-pro-narodzhennia.csv
  data/records/reiestratsii-aktovykh-zapysiv-pro-narodzhennia.yaml
Due: none

Add DAPO-R9126-16-1.yaml file
  data/records/DAPO-R9126-16-1.yaml
Due: none

Add record submission keleberda-aktspysok-zbytkiv-nanesenykh-natsystskymy-okupantamy
  data/csv/keleberda-aktspysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.csv
  data/records/keleberda-aktspysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.yaml
Due: none

Add record submission pidluzhzhia-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy
  data/csv/pidluzhzhia-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.csv
  data/records/pidluzhzhia-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.yaml
Due: none

Add record submission robotivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy
  data/csv/robotivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.csv
  data/records/robotivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.yaml
Due: none

Add record submission nyzy-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy
  data/csv/nyzy-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.csv
  data/records/nyzy-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.yaml
Due: none

Add record submission salivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy
  data/csv/salivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.csv
  data/records/salivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.yaml
Due: none

Add record submission soloshyne-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy
  data/csv/soloshyne-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.csv
  data/records/soloshyne-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.yaml
Due: none

Add record submission hryhoro-bryhadyrivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy
  data/csv/hryhoro-bryhadyrivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.csv
  data/records/hryhoro-bryhadyrivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.yaml
Due: none

Add record submission zashmatkivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy
  data/csv/zashmatkivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.csv
  data/records/zashmatkivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.yaml
Due: none

Add record submission horishni-plavni-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy
  data/csv/horishni-plavni-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.csv
  data/records/horishni-plavni-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.yaml
Due: none

Add record submission dmytrivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy
  data/csv/dmytrivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.csv
  data/records/dmytrivka-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.yaml
Due: none

fix(ci): log daily report baseline diagnostics
  .github/workflows/daily-report.yml
  specs/078-daily-report-baseline-diagnostics.md
Due: prettier --write

fix(deps): resolve shell-quote command injection
  package.json
  yarn.lock
Due: prettier --write

Modify location coordinates in records YAML
  data/records/pidluzhzhia-akt-spysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.yaml
Due: none

chore: update package dependencies
  package.json
  yarn.lock
Due: prettier --write

fix(deps): resolve axios prototype pollution vulnerability
  package.json
  yarn.lock
Due: prettier --write

fix(deps): resolve brace-expansion vulnerability
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update brace-expansion resolution
  package.json
  yarn.lock
Due: prettier --write

chore: update package configuration
  package.json
  yarn.lock
Due: prettier --write

Update and rename keleberda-aktspysok-zbytkiv-nanesenykh-natsystskymy-okupantamy.yaml to DAPO-R3388-1-713.yaml
  data/records/DAPO-R3388-1-713.yaml
Due: none

feat(volunteer-contact): add research reminder and daily consent
  specs/079-volunteer-contact-research-checkpoint.md
  src/app/[tableId]/[page]/table-content.module.css
  src/app/[tableId]/[page]/table-content.test.tsx
  src/app/[tableId]/[page]/table-content.tsx
  src/app/components/comments/comments.module.css
  src/app/components/comments/comments.test.tsx
  src/app/components/comments/comments.tsx
  src/app/components/contact-gate.module.css
  src/app/components/contact-gate.test.tsx
  src/app/components/contact-gate.tsx
  src/app/helpers/volunteer-contact-consent.test.ts
  src/app/helpers/volunteer-contact-consent.ts
Due: prettier --write, eslint --fix

feat(volunteers): use App Router for table links
  specs/080-volunteer-table-client-navigation.md
  src/app/volunteers/[volunteerSlug]/page.spec.tsx
  src/app/volunteers/[volunteerSlug]/page.tsx
Due: prettier --write, eslint --fix

fix(volunteers): avoid invalid contact dialog nesting
  specs/081-volunteer-contact-html-nesting.md
  src/app/volunteers/[volunteerSlug]/page.spec.tsx
  src/app/volunteers/[volunteerSlug]/page.tsx
Due: prettier --write, eslint --fix

fix(volunteers): remove vertical padding from reveal button
  src/app/components/contact-gate.module.css
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
