Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feat: better SourceInput
  specs/012-sources-input-improvement.md
  src/app/components/contribute2/sources-input.module.css
  src/app/components/contribute2/sources-input.tsx
Due: prettier --write, eslint --fix

fix: better Step
  specs/013-step-improvement.md
  src/app/components/contribute2/csv-dropzone.tsx
  src/app/components/contribute2/step.module.css
  src/app/components/contribute2/step.tsx
  src/app/components/contribute2/types.ts
Due: prettier --write, eslint --fix

Add record submission DAKhmO-315-1-8563-Busha
  data/records/DAKhmO-315-1-8563-Busha.yaml
  public/csv/DAKhmO-315-1-8563-Busha.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Busha.csv
Due: none

Add record submission DAKhmO-315-1-8563-Busha-2
  data/records/DAKhmO-315-1-8563-Busha-2.yaml
  public/csv/DAKhmO-315-1-8563-Busha-2.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Busha-2.csv
Due: none

fix: improved Stepper
  specs/014-stepper-improvement.md
  src/app/components/contribute2/contribution-state.ts
  src/app/components/contribute2/csv-dropzone.tsx
  src/app/components/contribute2/stepper.tsx
  src/app/components/contribute2/steps.tsx
  src/app/components/contribute2/success-panel.tsx
Due: prettier --write, eslint --fix

fix: better success panel
  specs/015-success-panel-improve.md
  src/app/components/contribute2/contribution-state.ts
  src/app/components/contribute2/success-panel.module.css
  src/app/components/contribute2/success-panel.tsx
Due: prettier --write, eslint --fix

fix: better YearsInput
  specs/016-years-input-improve.md
  src/app/components/contribute2/years-input.module.css
  src/app/components/contribute2/years-input.tsx
Due: prettier --write, eslint --fix

fix: store Aider config
  .aider.conf.yml
  .gitignore
Due: prettier --write

fix: build failure
  specs/017-build-failure.md
  src/app/components/contribute2/contribute-form.module.css
Due: prettier --write

Add record submission shi-kolektsiia-filtratsiinykh-slidchykh-ta-nahliadovykh-sprav-davio-r-6023-opys-1-tom-3
  data/records/shi-kolektsiia-filtratsiinykh-slidchykh-ta-nahliadovykh-sprav-davio-r-6023-opys-1-tom-3.yaml
  public/csv/shi-kolektsiia-filtratsiinykh-slidchykh-ta-nahliadovykh-sprav-davio-r-6023-opys-1-tom-3.csv
Due: none

Add record submission deportovani-z-polshchi-berestechkivskyi-r-n-volynska-obl
  data/records/deportovani-z-polshchi-berestechkivskyi-r-n-volynska-obl.yaml
  public/csv/deportovani-z-polshchi-berestechkivskyi-r-n-volynska-obl.csv
Due: none

Apply suggestions from code review
  data/records/shi-kolektsiia-filtratsiinykh-slidchykh-ta-nahliadovykh-sprav-davio-r-6023-opys-1-tom-3.yaml
Due: none

Apply suggestions from code review
  data/records/deportovani-z-polshchi-berestechkivskyi-r-n-volynska-obl.yaml
Due: none

fix data filenames
  data/records/DAViO-R6023-1-v3.yaml
  data/records/DAVoO-R919-1-5-Berestechkivskyi.yaml
Due: none

mention Pelynivka
  data/records/DAKhmO-315-1-8563-Borivka-john-apostle.yaml
Due: none

fix: move data select up
  specs/018-move-language-selection-up.md
  src/app/components/contribute2/data-grid.module.css
  src/app/components/contribute2/data-grid.tsx
  src/app/components/contribute2/grid-control-bar.tsx
Due: prettier --write, eslint --fix

feat: author form fields described
  specs/019-improve-github-input.md
  src/app/components/contribute2/author-form.module.css
  src/app/components/contribute2/author-form.tsx
Due: prettier --write, eslint --fix

fix: cookie banner over map
  src/app/components/cookie-banner.module.css
Due: prettier --write

Add record submission DAKheO-259-28-17-Kozachi-Laheri-death
  data/records/DAKheO-259-28-17-Kozachi-Laheri-death.yaml
  public/csv/DAKheO-259-28-17-Kozachi-Laheri-death.csv
Due: none

Add record submission DAKheO-259-28-18-Kozachi-Laheri-death
  data/records/DAKheO-259-28-18-Kozachi-Laheri-death.yaml
  public/csv/DAKheO-259-28-18-Kozachi-Laheri-death.csv
Due: none

Add record submission wierbow1903clean
  data/records/wierbow1903clean.yaml
  public/csv/wierbow1903clean.csv
Due: none

Apply suggestions from code review
  data/records/wierbow1903clean.yaml
Due: none

Update data/records/DAKheO-259-28-18-Kozachi-Laheri-death.yaml
  data/records/DAKheO-259-28-18-Kozachi-Laheri-death.yaml
Due: none

Fix: clarify about alphabets
  src/app/components/contribute2/grid-control-bar.tsx
  src/app/components/contribute2/review-summary.tsx
  src/app/components/contribute2/schema.ts
  src/shared/get-tables-metadata.ts
Due: prettier --write, eslint --fix

feat: search in pl again
  src/app/services/search.ts
Due: prettier --write, eslint --fix

fix: pl tests
  src/app/schemas/search-result.ts
  src/app/services/search.test.ts
Due: prettier --write, eslint --fix

fix Wierbiw
  data/records/DATO-487-1-2-1903.yaml
  src/shared/get-tables-metadata.ts
Due: prettier --write, eslint --fix

Add record submission deportovani-z-polshchi-kosmiv-kosmw-hmina-kryliv-hrubeshivskyi-povit
  data/records/deportovani-z-polshchi-kosmiv-kosmw-hmina-kryliv-hrubeshivskyi-povit.yaml
  public/csv/deportovani-z-polshchi-kosmiv-kosmw-hmina-kryliv-hrubeshivskyi-povit.csv
Due: none

Add record submission prehoryle-prawosl-narodzennya
  data/records/prehoryle-prawosl-narodzennya.yaml
  public/csv/prehoryle-prawosl-narodzennya.csv
Due: none

Add record submission prehorye-prawosl-shliuby
  data/records/prehorye-prawosl-shliuby.yaml
  public/csv/prehorye-prawosl-shliuby.csv
Due: none

Add record submission prehoryle-prawosl-smerti
  data/records/prehoryle-prawosl-smerti.yaml
  public/csv/prehoryle-prawosl-smerti.csv
Due: none

Add DALO-R3229-4-Kosmow.yaml file
  data/records/DALO-R3229-4-Kosmow.yaml
Due: none

Fix author name format in Prehoryle YAML file
  data/records/TsDIAL-693-1-Prehoryle.yaml
Due: none

Fix author name format in marriage record YAML
  data/records/TsDIAL-693-1-Prehoryle-marriage.yaml
Due: none

Fix author name formatting in YAML file
  data/records/TsDIAL-693-1-Prehoryle-death.yaml
Due: none

adjust Kozachi Laheri
  data/records/DAKheO-259-28-17-Kozachi-Laheri-death.yaml
  data/records/DAKheO-259-28-18-Kozachi-Laheri-death.yaml
Due: none

Add record submission DAKhmO-315-1-8563-Bila
  data/records/DAKhmO-315-1-8563-Bila.yaml
  public/csv/DAKhmO-315-1-8563-Bila.csv
Due: none

chore: auto-update data size [skip ci]
  public/csv/DAKhmO-315-1-8563-Bila.csv
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
