Repository undead404/koreni: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: replace optional chaining with Array.isArray check in context-form
  src/app/components/contribute/context-form.tsx
Due: prettier --write, eslint --fix

fix: handle null value in YearsInput component to prevent crash
  src/app/components/contribute/years-input.test.tsx
  src/app/components/contribute/years-input.tsx
Due: prettier --write, eslint --fix

style: fix linting error in years-input test
  src/app/components/contribute/years-input.test.tsx
Due: prettier --write, eslint --fix

fix: reset dropzone state when file selection is cancelled
  src/app/components/contribute/csv-dropzone.test.tsx
  src/app/components/contribute/csv-dropzone.tsx
Due: prettier --write, eslint --fix

fix: handle cancel event on file input to reset dropzone state
  src/app/components/contribute/csv-dropzone.test.tsx
  src/app/components/contribute/csv-dropzone.tsx
Due: prettier --write, eslint --fix

test: fix failing csv-dropzone test by using getAllByText
  src/app/components/contribute/csv-dropzone.test.tsx
Due: prettier --write, eslint --fix

save specs
  specs/027-years-range-schema-bug.md
  specs/028-years-range-schema-bug-2.md
  specs/029-csv-dropzone-cancelled-green.md
  specs/030-csv-dropzone-cancelled-green-2.md
Due: prettier --write

Add marriage records for Ivankiv from 1811-1820
  data/records/TsDIAK-127-1012-Ivankiv-1811-1820-marriage.yaml
Due: none

Add Ivankiv birth records from 1796 to 1799
  data/records/TsDIAK-127-1012-Ivankiv-birth-1796-1799.yaml
Due: none

Add record submission DASO-R7720-5-84
  data/records/DASO-R7720-5-84.yaml
  public/csv/DASO-R7720-5-84.csv
Due: none

Add record submission DASO-R7720-5-85
  data/records/DASO-R7720-5-85.yaml
  public/csv/DASO-R7720-5-85.csv
Due: none

Add record submission DASO-R7720-5-86
  data/records/DASO-R7720-5-86.yaml
  public/csv/DASO-R7720-5-86.csv
Due: none

Add record submission DASO-R7720-5-87
  data/records/DASO-R7720-5-87.yaml
  public/csv/DASO-R7720-5-87.csv
Due: none

Add record submission DASO-R7720-5-88
  data/records/DASO-R7720-5-88.yaml
  public/csv/DASO-R7720-5-88.csv
Due: none

Add record submission DASO-R7720-5-89
  data/records/DASO-R7720-5-89.yaml
  public/csv/DASO-R7720-5-89.csv
Due: none

Add record submission DASO-R7720-5-90
  data/records/DASO-R7720-5-90.yaml
  public/csv/DASO-R7720-5-90.csv
Due: none

fix: unstyled tag input item
  src/app/components/contribute/archive-items-input.module.css
Due: prettier --write

feat: improve ArchiveItemsInput accessibility and UX
  src/app/components/contribute/archive-items-input.module.css
  src/app/components/contribute/archive-items-input.tsx
Due: prettier --write, eslint --fix

improve archive items input accessibility
  specs/000-template.md
  specs/031-archive-items-input-accessibility.md
  src/app/components/contribute/archive-items-input.tsx
  src/app/components/contribute/csv-dropzone.tsx
Due: prettier --write, eslint --fix

refactor: extract reverse geocode logic and optimize re-renders
  src/app/components/contribute/review-summary.tsx
Due: prettier --write, eslint --fix

fix: prevent infinite re-renders by selecting Zustand state individually
  src/app/components/contribute/review-summary.tsx
Due: prettier --write, eslint --fix

style: fix import order in review-summary component
  src/app/components/contribute/review-summary.tsx
Due: prettier --write, eslint --fix

fix: remove unnecessary optional chaining in review summary
  src/app/components/contribute/review-summary.tsx
Due: prettier --write, eslint --fix

chore: improve locationiq part
  specs/032-review-summary-max-call-depth-exceeded.md
  src/app/components/contribute/use-reverse-geocode.ts
  src/app/components/contribute/use-submit-contribution.ts
Due: prettier --write, eslint --fix

Add record submission DASO-R7720-5-91
  data/records/DASO-R7720-5-91.yaml
  public/csv/DASO-R7720-5-91.csv
Due: none

Add record submission DASO-R7720-5-92
  data/records/DASO-R7720-5-92.yaml
  public/csv/DASO-R7720-5-92.csv
Due: none

Add record submission DASO-R7720-5-93
  data/records/DASO-R7720-5-93.yaml
  public/csv/DASO-R7720-5-93.csv
Due: none

refactor: implement Turnstile execution on demand
  src/app/components/contribute/contribute-form.tsx
  src/app/components/contribute/use-submit-contribution.ts
Due: prettier --write, eslint --fix

improved conventions
  CONVENTIONS.md
  specs/033-refactor-turnstile.md
  src/server/CONVENTIONS.md
Due: prettier --write

fix: Dzyhivka, not Dzhuryn
  data/records/DAKhmO-315-1-8563-Dzhuryn-michael.yaml
  public/csv/DAKhmO-315-1-8563-Dzyhivka.csv
Due: none

fix: resolve form submission and validation issues on final step
  src/app/components/contribute/step.tsx
  src/app/components/contribute/use-submit-contribution.ts
Due: prettier --write, eslint --fix

build: add eslint-plugin-react-compiler and update scripts to use .env.production
  .vscode/settings.json
  eslint.config.mjs
  package.json
  scripts/prepare-server/create-collection.sh
  scripts/prepare-server/drop-collection.sh
  yarn.lock
Due: prettier --write, eslint --fix

remove FormEvent
  src/app/components/contribute/use-submit-contribution.ts
Due: prettier --write, eslint --fix

use .env in scripts
  scripts/prepare-server/create-collection.sh
  scripts/prepare-server/delete-record.sh
  scripts/prepare-server/drop-collection.sh
Due: none

rename Dzyhivka YAML
  data/records/DAKhmO-315-1-8563-Dzyhivka.yaml
Due: none

fix: don't allow back if submitting
  src/app/components/contribute/step.tsx
Due: prettier --write, eslint --fix

fix: allow native form submission on last step
  src/app/components/contribute/step.tsx
Due: prettier --write, eslint --fix

fix: call turnstile.execute() to fix form submission
  src/app/components/contribute/contribute-form.tsx
Due: prettier --write, eslint --fix

save specs
  specs/034-turnstile-form-not-submitted.md
  specs/035-form-not-submitted.md
Due: prettier --write

Add record submission DAKhmO-315-1-8563-Felitsianivka
  data/records/DAKhmO-315-1-8563-Felitsianivka.yaml
  public/csv/DAKhmO-315-1-8563-Felitsianivka.csv
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx,cjs,mjs}) or (any of: *.{json,css,scss,md,yml})
  eslint --fix: any of: *.{js,jsx,ts,tsx,cjs,mjs}
